@mixin hexagonomicron ($sA) {
    $viewHeight: 100vh;
    $one: (1 / $sA * $viewHeight);
    $hexHeight:(.5774 / $sA * $viewHeight);
    $half: (.5 / $sA * $viewHeight);
    $hexMargin:(.1787 / $sA * $viewHeight);
    $hexBackground: ( .993042 / $sA * $viewHeight);
    $quarter: (.25 / $sA * $viewHeight);
    $minusQuarter: (-.25 / $sA * $viewHeight);
    $fifive: (.55 / $sA * $viewHeight);
    $hexBorder: (.07 / $sA * $viewHeight);
    $margin: .1vh;//(.1 / $sA * $viewHeight);
    $marginLeft:(5vh);
    $appWidth:147vh;
    $appHeight:95vh;
    $minusQuarterht: 99vh;
    $shelfWidth:160vh;
    $border: ($margin * 5);
    $hexTriangleSize: (.7071 / $sA * $viewHeight);
    $hexTriangleOffsetLeft: (.0764 / $sA * $viewHeight);
    $hexAfterWidth: (.86 / $sA * $viewHeight);
    $hexAfterHeight: ( .4965 / $sA * $viewHeight);
    $hexBottom: (-.353553 / $sA * $viewHeight);
    $hexBottomSize: (.098995 / $sA * $viewHeight);
    $hexMinusQuarter: (-.248261 / $sA * 100vh);
            position: relative;
            width: $one; 
            height: $hexHeight;
            margin: $hexMargin 0;
            //background-image: url(../img/Finvarr.png);
            //background-repeat: no-repeat;
            background-size: auto $hexBackground;
            background-position: center;
            /* offset-x | offset-y | blur-radius | spread-radius | color */
            //box-shadow: 0 0 2vh rgba(0,0,0,1);
            border-left: solid $hexBorder #333333;
            border-right: solid $hexBorder #333333;
            &:after {
                content: "";
                position: absolute;
                top: (.040415 / $sA * $viewHeight);
                left: 0;
                width: $hexAfterWidth;
                height: $hexAfterHeight;
                z-index: 2;
                background: inherit;
            }
            img{
                height:($hexHeight + $hexTriangleSize / 1.2);
                width:$one * 1.05;
                position:relative;
                top:($hexMinusQuarter * 1.38);//-.248261 / 12 * 138vh
                left:($hexMinusQuarter * .36);//-.248261 / 12 * 36vh
                z-index: 2;
            }
            .top, .bottom{
                position: absolute;
                z-index: 1;
                width: $hexTriangleSize;
                height: $hexTriangleSize;
                overflow: hidden;
                -webkit-transform: scaleY(0.5774) rotate(-45deg);
                -ms-transform: scaleY(0.5774) rotate(-45deg);
                transform: scaleY(0.5774) rotate(-45deg);
                background: inherit;
                left: $hexTriangleOffsetLeft;
                &:before, &:after{
                    content: "";
                    position: absolute;
                    width: $hexAfterWidth;
                    height: $hexAfterHeight;
                    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                    transform:          rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                    -webkit-transform-origin: 0 0;
                    -ms-transform-origin: 0 0;
                    transform-origin: 0 0;
                    background: inherit;
                }
            }
            .top {
              top: (-.353553 / $sA * 100vh);
              border-top: solid $hexBottomSize #333333;
              border-right: solid $hexBottomSize #333333;
            }
            .top:after {
              background-position: center top;
            }
            .bottom {
              bottom: $hexBottom;
              border-bottom: solid $hexBottomSize #333333;
              border-left: solid $hexBottomSize #333333;
            }        
            .bottom:after {
              background-position: center bottom;
            }
    }//mixin
@media (max-aspect-ratio: 1000/601) and (min-aspect-ratio: 1000/635){
    .selection_card_hexagram{@include hexagonomicron(12);}
    .card_hex_big{@include hexagonomicron(7);}
    .card_heroImg {
        width: 150%;
        height: 278%;
        top: -103%;
    }
}
@media (max-aspect-ratio: 1000/636) and (min-aspect-ratio:1000/720){
    .selection_card_hexagram{@include hexagonomicron(12);}
    .card_hex_big{@include hexagonomicron(7);}
    .card_heroImg {
        width: 150%;
        height: 278%;
        top: -103%;
    }
    .chosen{
        @include hexagonomicron(9);
        .card_heroImg{top:-56%;}
    }
    .bobo{
        @include hexagonomicron(9);
        p{padding-top:.5vh; font-size: 5vh;}
    }
    .ch_st{
        margin: 0 30%;
        margin-bottom:4vh;
    }
    .ch_nd{
       margin: 1vh;
    }
    .ch_rd{
       margin: 1vh;
    }
    .bobo{
        margin:0 30%;
        margin-top:4vh;
    }
}
@media (max-aspect-ratio: 1000/721) and (min-aspect-ratio:1000/780){
    .selection_card_hexagram{@include hexagonomicron(13);}
    .card_attribute{
        font-size: 5vh;
        top: -.7vh;
    }
    .card_hex_big{@include hexagonomicron(7);}
    .card_heroImg {
        width: 150%;
        height: 278%;
        top: -103%;
    }
    .chosen{
        @include hexagonomicron(9);
        .card_heroImg{top:-56%;}
    }
    .bobo{
        @include hexagonomicron(9);
        p{padding-top:.5vh; font-size: 5vh;}
    }
    .ch_st{
        margin: 0 30%;
        margin-bottom:4vh;
    }
    .ch_nd{
       margin: 1vh;
    }
    .ch_rd{
       margin: 1vh;
    }
    .bobo{
        margin:0 30%;
        margin-top:4vh;
    }
}
@media (max-aspect-ratio: 1000/781) and (min-aspect-ratio:1000/1000){
    .selection_card_hexagram{@include hexagonomicron(15);}
    .card_attribute{font-size: 4vh;}
    .card_hex_big{@include hexagonomicron(7);}
}
@media (max-aspect-ratio: 1000/900) and (min-aspect-ratio:1000/1000){
    .selection_card_hexagram{@include hexagonomicron(17);}
    .card_attribute{font-size: 3vh;}
    .card_hex_big{@include hexagonomicron(7);}
}