
@mixin instaFlex {
    display:flex;
    justify-content: center;
    align-items: center;
}
@mixin hexagonomicron ($sA) {
    $viewHeight: 100vh;
    $one: (1 / $sA * $viewHeight);
    $hexHeight:(.5774 / $sA * $viewHeight);
    $half: (.5 / $sA * $viewHeight);
    $hexMargin:(.1787 / $sA * $viewHeight);
    $hexBackground: ( .993042 / $sA * $viewHeight);
    $quarter: (.25 / $sA * $viewHeight);
    $minusQuarter: (-.25 / $sA * $viewHeight);
    $fifive: (.55 / $sA * $viewHeight);
    $hexBorder: (.07 / $sA * $viewHeight);
    $margin: .1vh;//(.1 / $sA * $viewHeight);
    $marginLeft:(5vh);
    $appWidth:147vh;
    $appHeight:95vh;
    $minusQuarterht: 99vh;
    $shelfWidth:160vh;
    $border: ($margin * 5);
    $hexTriangleSize: (.7071 / $sA * $viewHeight);
    $hexTriangleOffsetLeft: (.0764 / $sA * $viewHeight);
    $hexAfterWidth: (.86 / $sA * $viewHeight);
    $hexAfterHeight: ( .4965 / $sA * $viewHeight);
    $hexBottom: (-.353553 / $sA * $viewHeight);
    $hexBottomSize: (.098995 / $sA * $viewHeight);
    $hexMinusQuarter: (-.248261 / $sA * 100vh);
            position: relative;
            width: $one; 
            height: $hexHeight;
            margin: $hexMargin 0;
            //background-image: url(../img/Finvarr.png);
            //background-repeat: no-repeat;
            background-size: auto $hexBackground;
            background-position: center;
            /* offset-x | offset-y | blur-radius | spread-radius | color */
            //box-shadow: 0 0 2vh rgba(0,0,0,1);
            border-left: solid $hexBorder #333333;
            border-right: solid $hexBorder #333333;
            &:after {
                content: "";
                position: absolute;
                top: (.040415 / $sA * $viewHeight);
                left: 0;
                width: $hexAfterWidth;
                height: $hexAfterHeight;
                z-index: 2;
                background: inherit;
            }
            img{
                height:($hexHeight + $hexTriangleSize / 1.2);
                width:$one * 1.05;
                position:relative;
                top:($hexMinusQuarter * 1.38);//-.248261 / 12 * 138vh
                left:($hexMinusQuarter * .36);//-.248261 / 12 * 36vh
                z-index: 2;
            }
            .top, .bottom{
                position: absolute;
                z-index: 1;
                width: $hexTriangleSize;
                height: $hexTriangleSize;
                overflow: hidden;
                -webkit-transform: scaleY(0.5774) rotate(-45deg);
                -ms-transform: scaleY(0.5774) rotate(-45deg);
                transform: scaleY(0.5774) rotate(-45deg);
                background: inherit;
                left: $hexTriangleOffsetLeft;
                &:before, &:after{
                    content: "";
                    position: absolute;
                    width: $hexAfterWidth;
                    height: $hexAfterHeight;
                    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                    transform:          rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                    -webkit-transform-origin: 0 0;
                    -ms-transform-origin: 0 0;
                    transform-origin: 0 0;
                    background: inherit;
                }
            }
            .top {
              top: (-.353553 / $sA * 100vh);
              border-top: solid $hexBottomSize #333333;
              border-right: solid $hexBottomSize #333333;
            }
            .top:after {
              background-position: center top;
            }
            .bottom {
              bottom: $hexBottom;
              border-bottom: solid $hexBottomSize #333333;
              border-left: solid $hexBottomSize #333333;
            }        
            .bottom:after {
              background-position: center bottom;
            }
    }//mixin

    @mixin hexagonomicrona ($sA) {
        $viewHeight: 100vh;
        $one: (1 / $sA * $viewHeight);
        $hexHeight:(.5774 / $sA * $viewHeight);
        $half: (.5 / $sA * $viewHeight);
        $hexMargin:(.1787 / $sA * $viewHeight);
        $hexBackground: ( .993042 / $sA * $viewHeight);
        $quarter: (.25 / $sA * $viewHeight);
        $minusQuarter: (-.25 / $sA * $viewHeight);
        $fifive: (.55 / $sA * $viewHeight);
        $hexBorder: (.07 / $sA * $viewHeight);
        $margin: .1vh;//(.1 / $sA * $viewHeight);
        $marginLeft:(5vh);
        $appWidth:147vh;
        $appHeight:95vh;
        $minusQuarterht: 99vh;
        $shelfWidth:160vh;
        $border: ($margin * 5);
        $hexTriangleSize: (.7071 / $sA * $viewHeight);
        $hexTriangleOffsetLeft: (.0764 / $sA * $viewHeight);
        $hexAfterWidth: (.86 / $sA * $viewHeight);
        $hexAfterHeight: ( .4965 / $sA * $viewHeight);
        $hexBottom: (-.353553 / $sA * $viewHeight);
        $hexBottomSize: (.098995 / $sA * $viewHeight);
        $hexMinusQuarter: (-.248261 / $sA * 100vh);
                position: relative;
                width: $one; 
                height: $hexHeight;
                margin: $hexMargin 0;
                background-size: auto $hexBackground;
                background-position: center;
                border-left: solid $hexBorder;
                border-right: solid $hexBorder;
                &:after {
                    content: "";
                    position: absolute;
                    top: (.040415 / $sA * $viewHeight);
                    left: 0;
                    width: $hexAfterWidth;
                    height: $hexAfterHeight;
                    z-index: 2;
                    background: inherit;
                }
                img{
                    height:($hexHeight + $hexTriangleSize / 1.2);
                    width:$one * 1.05;
                    position:relative;
                    top:($hexMinusQuarter * 1.38);
                    left:($hexMinusQuarter * .36);
                    z-index: 2;
                }
                .top, .bottom{
                    position: absolute;
                    z-index: 1;
                    width: $hexTriangleSize;
                    height: $hexTriangleSize;
                    overflow: hidden;
                    -webkit-transform: scaleY(0.5774) rotate(-45deg);
                    -ms-transform: scaleY(0.5774) rotate(-45deg);
                    transform: scaleY(0.5774) rotate(-45deg);
                    background: inherit;
                    left: $hexTriangleOffsetLeft;
                    &:before, &:after{
                        content: "";
                        position: absolute;
                        width: $hexAfterWidth;
                        height: $hexAfterHeight;
                        -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                        -ms-transform:      rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                        transform:          rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                        -webkit-transform-origin: 0 0;
                        -ms-transform-origin: 0 0;
                        transform-origin: 0 0;
                        background: inherit;
                    }
                }
                .top {
                  top: (-.353553 / $sA * 100vh);
                  border-top: solid $hexBottomSize ;
                  border-right: solid $hexBottomSize ;
                }
                .top:after {
                  background-position: center top;
                }
                .bottom {
                  bottom: $hexBottom;
                  border-bottom: solid $hexBottomSize ;
                  border-left: solid $hexBottomSize ;
                }        
                .bottom:after {
                  background-position: center bottom;
                }
        }//mixin
@media (max-aspect-ratio: 1000/601) and (min-aspect-ratio: 1000/635){
    .selection_card_hexagram{@include hexagonomicron(12);}
    .card_hex_big{@include hexagonomicron(7);}
    .card_heroImg {
        width: 150%;
        height: 278%;
        top: -103%;
    }
}
@media (max-aspect-ratio: 1000/636) and (min-aspect-ratio:1000/720){
    .selection_card_hexagram{@include hexagonomicron(12);}
    .card_hex_big{@include hexagonomicron(7);}
    .card_heroImg {
        width: 150%;
        height: 278%;
        top: -103%;
    }
    .chosen{
        @include hexagonomicron(9);
        .card_heroImg{top:-56%;}
    }
    .bobo{
        @include hexagonomicron(9);
        p{padding-top:.5vh; font-size: 5vh;}
    }
    .ch_st{
        margin: 0 30%;
        margin-bottom:4vh;
    }
    .ch_nd{
       margin: 1vh;
    }
    .ch_rd{
       margin: 1vh;
    }
    .bobo{
        margin:0 30%;
        margin-top:4vh;
    }
    .shelf:nth-child(2n+1) {
        margin-right: 1.9vh;
        margin-left: -1.9vh;
        margin-top:-.2vh;
        margin-bottom:-.2vh
    }
    .shelf:nth-child(2n) {
        margin-left: 1.9vh;
        margin-right: -1.9vh;
        margin-top:-.2vh;
        margin-bottom:-.2vh
    }
    .shelf{
    .hexagon {
        @include hexagonomicrona(16);
        @include instaFlex;
        .hexagrama-14{
            @include hexagonomicron(16.7)
        }
        .hexagrama-24{
            @include hexagonomicron(18)
        }
        .hexagrama-30{
            @include hexagonomicron(19)
        }
        margin-left: -6%;
        margin-right: -6%;
        // transform: scale(1.18);
        // -ms-transform: scale(1.18); /* Internet Explorer */
        // -moz-transform: scale(1.18); /* Firefox */
        // -webkit-transform: scale(1.18); /* Safari and Chrome */
        // -o-transform: scale(1.18); /* Opera */
    }
}
}
@media (max-aspect-ratio: 1000/721) and (min-aspect-ratio:1000/780){
    .selection_card_hexagram{@include hexagonomicron(13);}
    .card_attribute{
        font-size: 5vh;
        top: -.7vh;
    }
    .card_hex_big{@include hexagonomicron(7);}
    .card_heroImg {
        width: 150%;
        height: 278%;
        top: -103%;
    }
    .chosen{
        @include hexagonomicron(9);
        .card_heroImg{top:-56%;}
    }
    .bobo{
        @include hexagonomicron(9);
        p{padding-top:.5vh; font-size: 5vh;}
    }
    .ch_st{
        margin: 0 30%;
        margin-bottom:4vh;
    }
    .ch_nd{
       margin: 1vh;
    }
    .ch_rd{
       margin: 1vh;
    }
    .bobo{
        margin:0 30%;
        margin-top:4vh;
    }
    .shelf:nth-child(2n+1) {
        margin-right: 1.5vh;
        margin-left: -1.5vh;
        margin-top:-2.2vh;
        margin-bottom:-1.2vh
    }
    .shelf:nth-child(2n) {
        margin-left: 1.5vh;
        margin-right: -1.5vh;
        margin-top:-1.2vh;
        margin-bottom:-.2vh
    }
    .shelf{
    .hexagon {
        @include hexagonomicrona(21);
        @include instaFlex;
        margin-left: -6%;
        margin-right: -6%;
        .hexagrama-14{
            @include hexagonomicron(16.7)
        }
        .hexagrama-24{
            @include hexagonomicron(18)
        }
        .hexagrama-30{
            @include hexagonomicron(21)
        }
        // transform: scale(1.18);
        // -ms-transform: scale(1.18); /* Internet Explorer */
        // -moz-transform: scale(1.18); /* Firefox */
        // -webkit-transform: scale(1.18); /* Safari and Chrome */
        // -o-transform: scale(1.18); /* Opera */
    }
}
    .treasureBox.right{
        margin-left:3vh;
    }
    #app{
        padding-top:5vh;
    }
}
@media (max-aspect-ratio: 1000/781) and (min-aspect-ratio:1000/1000){
    .selection_card_hexagram{@include hexagonomicron(15);}
    .card_attribute{font-size: 4vh;}
    .card_hex_big{@include hexagonomicron(7);}
}
@media (max-aspect-ratio: 1000/900) and (min-aspect-ratio:1000/1000){
    .selection_card_hexagram{@include hexagonomicron(17);}
    .card_attribute{font-size: 3vh;}
    .card_hex_big{@include hexagonomicron(7);}
}

.shelf{
    .hexagon.deployPhase{
        border-color:transparent rgba(208, 209, 155, 0.637) transparent rgba(245, 231, 152, 0.829);
        .top {
            border-color: #f4f5c2e5 #e7e7b9cb transparent transparent;
        }
        .bottom {
            border-color: transparent transparent rgba(158, 153, 127, 0.582) rgba(165, 161, 124, 0.767);
        }
    }
    .hexagon.plotPhase{
        border-color:transparent rgba(216, 216, 216, 0.637) transparent rgba(255, 255, 255, 0.829);
        .top {
            border-color: #f8f8f8e5 #ffffffcb transparent transparent;
        }
        .bottom {
            border-color: transparent transparent rgba(255, 255, 255, 0.582) rgba(194, 194, 194, 0.767);
        }
    }
    .hexagon.clashPhase{
        border-color:transparent rgba(208, 160, 160, 0.96) transparent rgba(187, 133, 133, 0.829);
        .top {
            border-color: #a55d5de5 #b36d6dcb transparent transparent;
        }
        .bottom {
            border-color: transparent transparent rgba(145, 129, 129, 0.582) rgba(128, 96, 96, 0.767);
        }
    }
    .hexagon.endPhase{
        border-color:transparent rgba(134, 191, 196, 0.637) transparent rgba(149, 203, 207, 0.829);
        .top {
            border-color: rgba(161, 209, 205, 0.898) rgba(131, 189, 190, 0.796) transparent transparent;
        }
        .bottom {
            border-color: transparent transparent rgba(129, 173, 170, 0.582) rgba(97, 129, 129, 0.767);
        }
    }
}