@media (max-aspect-ratio: 1000 / 601) and (min-aspect-ratio: 1000 / 635) {
  .selection_card_hexagram {
    position: relative;
    width: 8.33333vh;
    height: 4.81167vh;
    margin: 1.48917vh 0;
    background-size: auto 8.27535vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.58333vh #333333;
    border-right: solid 0.58333vh #333333;
  }
  .selection_card_hexagram:after {
    content: "";
    position: absolute;
    top: 0.33679vh;
    left: 0;
    width: 7.16667vh;
    height: 4.1375vh;
    z-index: 2;
    background: inherit;
  }
  .selection_card_hexagram img {
    height: 9.72208vh;
    width: 8.75vh;
    position: relative;
    top: -2.855vh;
    left: -0.74478vh;
    z-index: 2;
  }
  .selection_card_hexagram .top, .selection_card_hexagram .bottom {
    position: absolute;
    z-index: 1;
    width: 5.8925vh;
    height: 5.8925vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.63667vh;
  }
  .selection_card_hexagram .top:before, .selection_card_hexagram .top:after, .selection_card_hexagram .bottom:before, .selection_card_hexagram .bottom:after {
    content: "";
    position: absolute;
    width: 7.16667vh;
    height: 4.1375vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-2.06884vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-2.06884vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-2.06884vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .selection_card_hexagram .top {
    top: -2.94627vh;
    border-top: solid 0.82496vh #333333;
    border-right: solid 0.82496vh #333333;
  }
  .selection_card_hexagram .top:after {
    background-position: center top;
  }
  .selection_card_hexagram .bottom {
    bottom: -2.94627vh;
    border-bottom: solid 0.82496vh #333333;
    border-left: solid 0.82496vh #333333;
  }
  .selection_card_hexagram .bottom:after {
    background-position: center bottom;
  }
  .card_hex_big {
    position: relative;
    width: 14.28571vh;
    height: 8.24857vh;
    margin: 2.55286vh 0;
    background-size: auto 14.18631vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 1vh #333333;
    border-right: solid 1vh #333333;
  }
  .card_hex_big:after {
    content: "";
    position: absolute;
    top: 0.57736vh;
    left: 0;
    width: 12.28571vh;
    height: 7.09286vh;
    z-index: 2;
    background: inherit;
  }
  .card_hex_big img {
    height: 16.66643vh;
    width: 15vh;
    position: relative;
    top: -4.89429vh;
    left: -1.27677vh;
    z-index: 2;
  }
  .card_hex_big .top, .card_hex_big .bottom {
    position: absolute;
    z-index: 1;
    width: 10.10143vh;
    height: 10.10143vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 1.09143vh;
  }
  .card_hex_big .top:before, .card_hex_big .top:after, .card_hex_big .bottom:before, .card_hex_big .bottom:after {
    content: "";
    position: absolute;
    width: 12.28571vh;
    height: 7.09286vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .card_hex_big .top {
    top: -5.05076vh;
    border-top: solid 1.41421vh #333333;
    border-right: solid 1.41421vh #333333;
  }
  .card_hex_big .top:after {
    background-position: center top;
  }
  .card_hex_big .bottom {
    bottom: -5.05076vh;
    border-bottom: solid 1.41421vh #333333;
    border-left: solid 1.41421vh #333333;
  }
  .card_hex_big .bottom:after {
    background-position: center bottom;
  }
  .card_heroImg {
    width: 150%;
    height: 278%;
    top: -103%;
  }
}

@media (max-aspect-ratio: 1000 / 636) and (min-aspect-ratio: 1000 / 720) {
  .selection_card_hexagram {
    position: relative;
    width: 8.33333vh;
    height: 4.81167vh;
    margin: 1.48917vh 0;
    background-size: auto 8.27535vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.58333vh #333333;
    border-right: solid 0.58333vh #333333;
  }
  .selection_card_hexagram:after {
    content: "";
    position: absolute;
    top: 0.33679vh;
    left: 0;
    width: 7.16667vh;
    height: 4.1375vh;
    z-index: 2;
    background: inherit;
  }
  .selection_card_hexagram img {
    height: 9.72208vh;
    width: 8.75vh;
    position: relative;
    top: -2.855vh;
    left: -0.74478vh;
    z-index: 2;
  }
  .selection_card_hexagram .top, .selection_card_hexagram .bottom {
    position: absolute;
    z-index: 1;
    width: 5.8925vh;
    height: 5.8925vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.63667vh;
  }
  .selection_card_hexagram .top:before, .selection_card_hexagram .top:after, .selection_card_hexagram .bottom:before, .selection_card_hexagram .bottom:after {
    content: "";
    position: absolute;
    width: 7.16667vh;
    height: 4.1375vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-2.06884vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-2.06884vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-2.06884vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .selection_card_hexagram .top {
    top: -2.94627vh;
    border-top: solid 0.82496vh #333333;
    border-right: solid 0.82496vh #333333;
  }
  .selection_card_hexagram .top:after {
    background-position: center top;
  }
  .selection_card_hexagram .bottom {
    bottom: -2.94627vh;
    border-bottom: solid 0.82496vh #333333;
    border-left: solid 0.82496vh #333333;
  }
  .selection_card_hexagram .bottom:after {
    background-position: center bottom;
  }
  .card_hex_big {
    position: relative;
    width: 14.28571vh;
    height: 8.24857vh;
    margin: 2.55286vh 0;
    background-size: auto 14.18631vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 1vh #333333;
    border-right: solid 1vh #333333;
  }
  .card_hex_big:after {
    content: "";
    position: absolute;
    top: 0.57736vh;
    left: 0;
    width: 12.28571vh;
    height: 7.09286vh;
    z-index: 2;
    background: inherit;
  }
  .card_hex_big img {
    height: 16.66643vh;
    width: 15vh;
    position: relative;
    top: -4.89429vh;
    left: -1.27677vh;
    z-index: 2;
  }
  .card_hex_big .top, .card_hex_big .bottom {
    position: absolute;
    z-index: 1;
    width: 10.10143vh;
    height: 10.10143vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 1.09143vh;
  }
  .card_hex_big .top:before, .card_hex_big .top:after, .card_hex_big .bottom:before, .card_hex_big .bottom:after {
    content: "";
    position: absolute;
    width: 12.28571vh;
    height: 7.09286vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .card_hex_big .top {
    top: -5.05076vh;
    border-top: solid 1.41421vh #333333;
    border-right: solid 1.41421vh #333333;
  }
  .card_hex_big .top:after {
    background-position: center top;
  }
  .card_hex_big .bottom {
    bottom: -5.05076vh;
    border-bottom: solid 1.41421vh #333333;
    border-left: solid 1.41421vh #333333;
  }
  .card_hex_big .bottom:after {
    background-position: center bottom;
  }
  .card_heroImg {
    width: 150%;
    height: 278%;
    top: -103%;
  }
  .chosen {
    position: relative;
    width: 11.11111vh;
    height: 6.41556vh;
    margin: 1.98556vh 0;
    background-size: auto 11.0338vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.77778vh #333333;
    border-right: solid 0.77778vh #333333;
  }
  .chosen:after {
    content: "";
    position: absolute;
    top: 0.44906vh;
    left: 0;
    width: 9.55556vh;
    height: 5.51667vh;
    z-index: 2;
    background: inherit;
  }
  .chosen img {
    height: 12.96278vh;
    width: 11.66667vh;
    position: relative;
    top: -3.80667vh;
    left: -0.99304vh;
    z-index: 2;
  }
  .chosen .top, .chosen .bottom {
    position: absolute;
    z-index: 1;
    width: 7.85667vh;
    height: 7.85667vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.84889vh;
  }
  .chosen .top:before, .chosen .top:after, .chosen .bottom:before, .chosen .bottom:after {
    content: "";
    position: absolute;
    width: 9.55556vh;
    height: 5.51667vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-2.75846vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-2.75846vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-2.75846vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .chosen .top {
    top: -3.92837vh;
    border-top: solid 1.09994vh #333333;
    border-right: solid 1.09994vh #333333;
  }
  .chosen .top:after {
    background-position: center top;
  }
  .chosen .bottom {
    bottom: -3.92837vh;
    border-bottom: solid 1.09994vh #333333;
    border-left: solid 1.09994vh #333333;
  }
  .chosen .bottom:after {
    background-position: center bottom;
  }
  .chosen .card_heroImg {
    top: -56%;
  }
  .bobo {
    position: relative;
    width: 11.11111vh;
    height: 6.41556vh;
    margin: 1.98556vh 0;
    background-size: auto 11.0338vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.77778vh #333333;
    border-right: solid 0.77778vh #333333;
  }
  .bobo:after {
    content: "";
    position: absolute;
    top: 0.44906vh;
    left: 0;
    width: 9.55556vh;
    height: 5.51667vh;
    z-index: 2;
    background: inherit;
  }
  .bobo img {
    height: 12.96278vh;
    width: 11.66667vh;
    position: relative;
    top: -3.80667vh;
    left: -0.99304vh;
    z-index: 2;
  }
  .bobo .top, .bobo .bottom {
    position: absolute;
    z-index: 1;
    width: 7.85667vh;
    height: 7.85667vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.84889vh;
  }
  .bobo .top:before, .bobo .top:after, .bobo .bottom:before, .bobo .bottom:after {
    content: "";
    position: absolute;
    width: 9.55556vh;
    height: 5.51667vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-2.75846vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-2.75846vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-2.75846vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .bobo .top {
    top: -3.92837vh;
    border-top: solid 1.09994vh #333333;
    border-right: solid 1.09994vh #333333;
  }
  .bobo .top:after {
    background-position: center top;
  }
  .bobo .bottom {
    bottom: -3.92837vh;
    border-bottom: solid 1.09994vh #333333;
    border-left: solid 1.09994vh #333333;
  }
  .bobo .bottom:after {
    background-position: center bottom;
  }
  .bobo p {
    padding-top: .5vh;
    font-size: 5vh;
  }
  .ch_st {
    margin: 0 30%;
    margin-bottom: 4vh;
  }
  .ch_nd {
    margin: 1vh;
  }
  .ch_rd {
    margin: 1vh;
  }
  .bobo {
    margin: 0 30%;
    margin-top: 4vh;
  }
  .shelf:nth-child(2n+1) {
    margin-right: 1.9vh;
    margin-left: -1.9vh;
    margin-top: -.2vh;
    margin-bottom: -.2vh;
  }
  .shelf:nth-child(2n) {
    margin-left: 1.9vh;
    margin-right: -1.9vh;
    margin-top: -.2vh;
    margin-bottom: -.2vh;
  }
  .shelf .hexagon {
    position: relative;
    width: 6.25vh;
    height: 3.60875vh;
    margin: 1.11688vh 0;
    background-size: auto 6.20651vh;
    background-position: center;
    border-left: solid 0.4375vh;
    border-right: solid 0.4375vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -6%;
    margin-right: -6%;
  }
  .shelf .hexagon:after {
    content: "";
    position: absolute;
    top: 0.25259vh;
    left: 0;
    width: 5.375vh;
    height: 3.10312vh;
    z-index: 2;
    background: inherit;
  }
  .shelf .hexagon img {
    height: 7.29156vh;
    width: 6.5625vh;
    position: relative;
    top: -0.12413vh;
    left: 0.15516vh;
    z-index: 3;
  }
  .shelf .hexagon .top, .shelf .hexagon .bottom {
    position: absolute;
    z-index: 1;
    width: 4.41937vh;
    height: 4.41937vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.4775vh;
  }
  .shelf .hexagon .top:before, .shelf .hexagon .top:after, .shelf .hexagon .bottom:before, .shelf .hexagon .bottom:after {
    content: "";
    position: absolute;
    width: 5.375vh;
    height: 3.10312vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-1.55163vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-1.55163vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-1.55163vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .shelf .hexagon .top {
    top: -2.20971vh;
    border-top: solid 0.61872vh;
    border-right: solid 0.61872vh;
  }
  .shelf .hexagon .top:after {
    background-position: center top;
  }
  .shelf .hexagon .bottom {
    bottom: -2.20971vh;
    border-bottom: solid 0.61872vh;
    border-left: solid 0.61872vh;
  }
  .shelf .hexagon .bottom:after {
    background-position: center bottom;
  }
  .shelf .hexagon .hexagrama-14 {
    position: relative;
    width: 5.98802vh;
    height: 3.45749vh;
    margin: 1.07006vh 0;
    background-size: auto 5.94636vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.41916vh #333333;
    border-right: solid 0.41916vh #333333;
  }
  .shelf .hexagon .hexagrama-14:after {
    content: "";
    position: absolute;
    top: 0.24201vh;
    left: 0;
    width: 5.1497vh;
    height: 2.97305vh;
    z-index: 2;
    background: inherit;
  }
  .shelf .hexagon .hexagrama-14 img {
    height: 6.98593vh;
    width: 6.28743vh;
    position: relative;
    top: -2.0515vh;
    left: -0.53517vh;
    z-index: 2;
  }
  .shelf .hexagon .hexagrama-14 .top, .shelf .hexagon .hexagrama-14 .bottom {
    position: absolute;
    z-index: 1;
    width: 4.23413vh;
    height: 4.23413vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.45749vh;
  }
  .shelf .hexagon .hexagrama-14 .top:before, .shelf .hexagon .hexagrama-14 .top:after, .shelf .hexagon .hexagrama-14 .bottom:before, .shelf .hexagon .hexagrama-14 .bottom:after {
    content: "";
    position: absolute;
    width: 5.1497vh;
    height: 2.97305vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-1.48659vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-1.48659vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-1.48659vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .shelf .hexagon .hexagrama-14 .top {
    top: -2.11708vh;
    border-top: solid 0.59278vh #333333;
    border-right: solid 0.59278vh #333333;
  }
  .shelf .hexagon .hexagrama-14 .top:after {
    background-position: center top;
  }
  .shelf .hexagon .hexagrama-14 .bottom {
    bottom: -2.11708vh;
    border-bottom: solid 0.59278vh #333333;
    border-left: solid 0.59278vh #333333;
  }
  .shelf .hexagon .hexagrama-14 .bottom:after {
    background-position: center bottom;
  }
  .shelf .hexagon .hexagrama-24 {
    position: relative;
    width: 5.55556vh;
    height: 3.20778vh;
    margin: 0.99278vh 0;
    background-size: auto 5.5169vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.38889vh #333333;
    border-right: solid 0.38889vh #333333;
  }
  .shelf .hexagon .hexagrama-24:after {
    content: "";
    position: absolute;
    top: 0.22453vh;
    left: 0;
    width: 4.77778vh;
    height: 2.75833vh;
    z-index: 2;
    background: inherit;
  }
  .shelf .hexagon .hexagrama-24 img {
    height: 6.48139vh;
    width: 5.83333vh;
    position: relative;
    top: -1.90333vh;
    left: -0.49652vh;
    z-index: 2;
  }
  .shelf .hexagon .hexagrama-24 .top, .shelf .hexagon .hexagrama-24 .bottom {
    position: absolute;
    z-index: 1;
    width: 3.92833vh;
    height: 3.92833vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.42444vh;
  }
  .shelf .hexagon .hexagrama-24 .top:before, .shelf .hexagon .hexagrama-24 .top:after, .shelf .hexagon .hexagrama-24 .bottom:before, .shelf .hexagon .hexagrama-24 .bottom:after {
    content: "";
    position: absolute;
    width: 4.77778vh;
    height: 2.75833vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-1.37923vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-1.37923vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-1.37923vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .shelf .hexagon .hexagrama-24 .top {
    top: -1.96418vh;
    border-top: solid 0.54997vh #333333;
    border-right: solid 0.54997vh #333333;
  }
  .shelf .hexagon .hexagrama-24 .top:after {
    background-position: center top;
  }
  .shelf .hexagon .hexagrama-24 .bottom {
    bottom: -1.96418vh;
    border-bottom: solid 0.54997vh #333333;
    border-left: solid 0.54997vh #333333;
  }
  .shelf .hexagon .hexagrama-24 .bottom:after {
    background-position: center bottom;
  }
  .shelf .hexagon .hexagrama-30 {
    position: relative;
    width: 5.26316vh;
    height: 3.03895vh;
    margin: 0.94053vh 0;
    background-size: auto 5.22654vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.36842vh #333333;
    border-right: solid 0.36842vh #333333;
  }
  .shelf .hexagon .hexagrama-30:after {
    content: "";
    position: absolute;
    top: 0.21271vh;
    left: 0;
    width: 4.52632vh;
    height: 2.61316vh;
    z-index: 2;
    background: inherit;
  }
  .shelf .hexagon .hexagrama-30 img {
    height: 6.14026vh;
    width: 5.52632vh;
    position: relative;
    top: -1.80316vh;
    left: -0.47039vh;
    z-index: 2;
  }
  .shelf .hexagon .hexagrama-30 .top, .shelf .hexagon .hexagrama-30 .bottom {
    position: absolute;
    z-index: 1;
    width: 3.72158vh;
    height: 3.72158vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.40211vh;
  }
  .shelf .hexagon .hexagrama-30 .top:before, .shelf .hexagon .hexagrama-30 .top:after, .shelf .hexagon .hexagrama-30 .bottom:before, .shelf .hexagon .hexagrama-30 .bottom:after {
    content: "";
    position: absolute;
    width: 4.52632vh;
    height: 2.61316vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-1.30664vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-1.30664vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-1.30664vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .shelf .hexagon .hexagrama-30 .top {
    top: -1.86081vh;
    border-top: solid 0.52103vh #333333;
    border-right: solid 0.52103vh #333333;
  }
  .shelf .hexagon .hexagrama-30 .top:after {
    background-position: center top;
  }
  .shelf .hexagon .hexagrama-30 .bottom {
    bottom: -1.86081vh;
    border-bottom: solid 0.52103vh #333333;
    border-left: solid 0.52103vh #333333;
  }
  .shelf .hexagon .hexagrama-30 .bottom:after {
    background-position: center bottom;
  }
}

@media (max-aspect-ratio: 1000 / 721) and (min-aspect-ratio: 1000 / 780) {
  .selection_card_hexagram {
    position: relative;
    width: 7.69231vh;
    height: 4.44154vh;
    margin: 1.37462vh 0;
    background-size: auto 7.63878vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.53846vh #333333;
    border-right: solid 0.53846vh #333333;
  }
  .selection_card_hexagram:after {
    content: "";
    position: absolute;
    top: 0.31088vh;
    left: 0;
    width: 6.61538vh;
    height: 3.81923vh;
    z-index: 2;
    background: inherit;
  }
  .selection_card_hexagram img {
    height: 8.97423vh;
    width: 8.07692vh;
    position: relative;
    top: -2.63539vh;
    left: -0.68749vh;
    z-index: 2;
  }
  .selection_card_hexagram .top, .selection_card_hexagram .bottom {
    position: absolute;
    z-index: 1;
    width: 5.43923vh;
    height: 5.43923vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.58769vh;
  }
  .selection_card_hexagram .top:before, .selection_card_hexagram .top:after, .selection_card_hexagram .bottom:before, .selection_card_hexagram .bottom:after {
    content: "";
    position: absolute;
    width: 6.61538vh;
    height: 3.81923vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-1.9097vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-1.9097vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-1.9097vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .selection_card_hexagram .top {
    top: -2.71964vh;
    border-top: solid 0.7615vh #333333;
    border-right: solid 0.7615vh #333333;
  }
  .selection_card_hexagram .top:after {
    background-position: center top;
  }
  .selection_card_hexagram .bottom {
    bottom: -2.71964vh;
    border-bottom: solid 0.7615vh #333333;
    border-left: solid 0.7615vh #333333;
  }
  .selection_card_hexagram .bottom:after {
    background-position: center bottom;
  }
  .card_attribute {
    font-size: 5vh;
    top: -.7vh;
  }
  .card_hex_big {
    position: relative;
    width: 14.28571vh;
    height: 8.24857vh;
    margin: 2.55286vh 0;
    background-size: auto 14.18631vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 1vh #333333;
    border-right: solid 1vh #333333;
  }
  .card_hex_big:after {
    content: "";
    position: absolute;
    top: 0.57736vh;
    left: 0;
    width: 12.28571vh;
    height: 7.09286vh;
    z-index: 2;
    background: inherit;
  }
  .card_hex_big img {
    height: 16.66643vh;
    width: 15vh;
    position: relative;
    top: -4.89429vh;
    left: -1.27677vh;
    z-index: 2;
  }
  .card_hex_big .top, .card_hex_big .bottom {
    position: absolute;
    z-index: 1;
    width: 10.10143vh;
    height: 10.10143vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 1.09143vh;
  }
  .card_hex_big .top:before, .card_hex_big .top:after, .card_hex_big .bottom:before, .card_hex_big .bottom:after {
    content: "";
    position: absolute;
    width: 12.28571vh;
    height: 7.09286vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .card_hex_big .top {
    top: -5.05076vh;
    border-top: solid 1.41421vh #333333;
    border-right: solid 1.41421vh #333333;
  }
  .card_hex_big .top:after {
    background-position: center top;
  }
  .card_hex_big .bottom {
    bottom: -5.05076vh;
    border-bottom: solid 1.41421vh #333333;
    border-left: solid 1.41421vh #333333;
  }
  .card_hex_big .bottom:after {
    background-position: center bottom;
  }
  .card_heroImg {
    width: 150%;
    height: 278%;
    top: -103%;
  }
  .chosen {
    position: relative;
    width: 11.11111vh;
    height: 6.41556vh;
    margin: 1.98556vh 0;
    background-size: auto 11.0338vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.77778vh #333333;
    border-right: solid 0.77778vh #333333;
  }
  .chosen:after {
    content: "";
    position: absolute;
    top: 0.44906vh;
    left: 0;
    width: 9.55556vh;
    height: 5.51667vh;
    z-index: 2;
    background: inherit;
  }
  .chosen img {
    height: 12.96278vh;
    width: 11.66667vh;
    position: relative;
    top: -3.80667vh;
    left: -0.99304vh;
    z-index: 2;
  }
  .chosen .top, .chosen .bottom {
    position: absolute;
    z-index: 1;
    width: 7.85667vh;
    height: 7.85667vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.84889vh;
  }
  .chosen .top:before, .chosen .top:after, .chosen .bottom:before, .chosen .bottom:after {
    content: "";
    position: absolute;
    width: 9.55556vh;
    height: 5.51667vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-2.75846vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-2.75846vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-2.75846vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .chosen .top {
    top: -3.92837vh;
    border-top: solid 1.09994vh #333333;
    border-right: solid 1.09994vh #333333;
  }
  .chosen .top:after {
    background-position: center top;
  }
  .chosen .bottom {
    bottom: -3.92837vh;
    border-bottom: solid 1.09994vh #333333;
    border-left: solid 1.09994vh #333333;
  }
  .chosen .bottom:after {
    background-position: center bottom;
  }
  .chosen .card_heroImg {
    top: -56%;
  }
  .bobo {
    position: relative;
    width: 11.11111vh;
    height: 6.41556vh;
    margin: 1.98556vh 0;
    background-size: auto 11.0338vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.77778vh #333333;
    border-right: solid 0.77778vh #333333;
  }
  .bobo:after {
    content: "";
    position: absolute;
    top: 0.44906vh;
    left: 0;
    width: 9.55556vh;
    height: 5.51667vh;
    z-index: 2;
    background: inherit;
  }
  .bobo img {
    height: 12.96278vh;
    width: 11.66667vh;
    position: relative;
    top: -3.80667vh;
    left: -0.99304vh;
    z-index: 2;
  }
  .bobo .top, .bobo .bottom {
    position: absolute;
    z-index: 1;
    width: 7.85667vh;
    height: 7.85667vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.84889vh;
  }
  .bobo .top:before, .bobo .top:after, .bobo .bottom:before, .bobo .bottom:after {
    content: "";
    position: absolute;
    width: 9.55556vh;
    height: 5.51667vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-2.75846vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-2.75846vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-2.75846vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .bobo .top {
    top: -3.92837vh;
    border-top: solid 1.09994vh #333333;
    border-right: solid 1.09994vh #333333;
  }
  .bobo .top:after {
    background-position: center top;
  }
  .bobo .bottom {
    bottom: -3.92837vh;
    border-bottom: solid 1.09994vh #333333;
    border-left: solid 1.09994vh #333333;
  }
  .bobo .bottom:after {
    background-position: center bottom;
  }
  .bobo p {
    padding-top: .5vh;
    font-size: 5vh;
  }
  .ch_st {
    margin: 0 30%;
    margin-bottom: 4vh;
  }
  .ch_nd {
    margin: 1vh;
  }
  .ch_rd {
    margin: 1vh;
  }
  .bobo {
    margin: 0 30%;
    margin-top: 4vh;
  }
  .shelf:nth-child(2n+1) {
    margin-right: 1.5vh;
    margin-left: -1.5vh;
    margin-top: -2.2vh;
    margin-bottom: -1.2vh;
  }
  .shelf:nth-child(2n) {
    margin-left: 1.5vh;
    margin-right: -1.5vh;
    margin-top: -1.2vh;
    margin-bottom: -.2vh;
  }
  .shelf .hexagon {
    position: relative;
    width: 4.7619vh;
    height: 2.74952vh;
    margin: 0.85095vh 0;
    background-size: auto 4.72877vh;
    background-position: center;
    border-left: solid 0.33333vh;
    border-right: solid 0.33333vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -6%;
    margin-right: -6%;
  }
  .shelf .hexagon:after {
    content: "";
    position: absolute;
    top: 0.19245vh;
    left: 0;
    width: 4.09524vh;
    height: 2.36429vh;
    z-index: 2;
    background: inherit;
  }
  .shelf .hexagon img {
    height: 5.55548vh;
    width: 5vh;
    position: relative;
    top: -0.09458vh;
    left: 0.11822vh;
    z-index: 3;
  }
  .shelf .hexagon .top, .shelf .hexagon .bottom {
    position: absolute;
    z-index: 1;
    width: 3.36714vh;
    height: 3.36714vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.36381vh;
  }
  .shelf .hexagon .top:before, .shelf .hexagon .top:after, .shelf .hexagon .bottom:before, .shelf .hexagon .bottom:after {
    content: "";
    position: absolute;
    width: 4.09524vh;
    height: 2.36429vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-1.1822vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-1.1822vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-1.1822vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .shelf .hexagon .top {
    top: -1.68359vh;
    border-top: solid 0.4714vh;
    border-right: solid 0.4714vh;
  }
  .shelf .hexagon .top:after {
    background-position: center top;
  }
  .shelf .hexagon .bottom {
    bottom: -1.68359vh;
    border-bottom: solid 0.4714vh;
    border-left: solid 0.4714vh;
  }
  .shelf .hexagon .bottom:after {
    background-position: center bottom;
  }
  .shelf .hexagon .hexagrama-14 {
    position: relative;
    width: 5.98802vh;
    height: 3.45749vh;
    margin: 1.07006vh 0;
    background-size: auto 5.94636vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.41916vh #333333;
    border-right: solid 0.41916vh #333333;
  }
  .shelf .hexagon .hexagrama-14:after {
    content: "";
    position: absolute;
    top: 0.24201vh;
    left: 0;
    width: 5.1497vh;
    height: 2.97305vh;
    z-index: 2;
    background: inherit;
  }
  .shelf .hexagon .hexagrama-14 img {
    height: 6.98593vh;
    width: 6.28743vh;
    position: relative;
    top: -2.0515vh;
    left: -0.53517vh;
    z-index: 2;
  }
  .shelf .hexagon .hexagrama-14 .top, .shelf .hexagon .hexagrama-14 .bottom {
    position: absolute;
    z-index: 1;
    width: 4.23413vh;
    height: 4.23413vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.45749vh;
  }
  .shelf .hexagon .hexagrama-14 .top:before, .shelf .hexagon .hexagrama-14 .top:after, .shelf .hexagon .hexagrama-14 .bottom:before, .shelf .hexagon .hexagrama-14 .bottom:after {
    content: "";
    position: absolute;
    width: 5.1497vh;
    height: 2.97305vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-1.48659vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-1.48659vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-1.48659vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .shelf .hexagon .hexagrama-14 .top {
    top: -2.11708vh;
    border-top: solid 0.59278vh #333333;
    border-right: solid 0.59278vh #333333;
  }
  .shelf .hexagon .hexagrama-14 .top:after {
    background-position: center top;
  }
  .shelf .hexagon .hexagrama-14 .bottom {
    bottom: -2.11708vh;
    border-bottom: solid 0.59278vh #333333;
    border-left: solid 0.59278vh #333333;
  }
  .shelf .hexagon .hexagrama-14 .bottom:after {
    background-position: center bottom;
  }
  .shelf .hexagon .hexagrama-24 {
    position: relative;
    width: 5.55556vh;
    height: 3.20778vh;
    margin: 0.99278vh 0;
    background-size: auto 5.5169vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.38889vh #333333;
    border-right: solid 0.38889vh #333333;
  }
  .shelf .hexagon .hexagrama-24:after {
    content: "";
    position: absolute;
    top: 0.22453vh;
    left: 0;
    width: 4.77778vh;
    height: 2.75833vh;
    z-index: 2;
    background: inherit;
  }
  .shelf .hexagon .hexagrama-24 img {
    height: 6.48139vh;
    width: 5.83333vh;
    position: relative;
    top: -1.90333vh;
    left: -0.49652vh;
    z-index: 2;
  }
  .shelf .hexagon .hexagrama-24 .top, .shelf .hexagon .hexagrama-24 .bottom {
    position: absolute;
    z-index: 1;
    width: 3.92833vh;
    height: 3.92833vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.42444vh;
  }
  .shelf .hexagon .hexagrama-24 .top:before, .shelf .hexagon .hexagrama-24 .top:after, .shelf .hexagon .hexagrama-24 .bottom:before, .shelf .hexagon .hexagrama-24 .bottom:after {
    content: "";
    position: absolute;
    width: 4.77778vh;
    height: 2.75833vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-1.37923vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-1.37923vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-1.37923vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .shelf .hexagon .hexagrama-24 .top {
    top: -1.96418vh;
    border-top: solid 0.54997vh #333333;
    border-right: solid 0.54997vh #333333;
  }
  .shelf .hexagon .hexagrama-24 .top:after {
    background-position: center top;
  }
  .shelf .hexagon .hexagrama-24 .bottom {
    bottom: -1.96418vh;
    border-bottom: solid 0.54997vh #333333;
    border-left: solid 0.54997vh #333333;
  }
  .shelf .hexagon .hexagrama-24 .bottom:after {
    background-position: center bottom;
  }
  .shelf .hexagon .hexagrama-30 {
    position: relative;
    width: 4.7619vh;
    height: 2.74952vh;
    margin: 0.85095vh 0;
    background-size: auto 4.72877vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.33333vh #333333;
    border-right: solid 0.33333vh #333333;
  }
  .shelf .hexagon .hexagrama-30:after {
    content: "";
    position: absolute;
    top: 0.19245vh;
    left: 0;
    width: 4.09524vh;
    height: 2.36429vh;
    z-index: 2;
    background: inherit;
  }
  .shelf .hexagon .hexagrama-30 img {
    height: 5.55548vh;
    width: 5vh;
    position: relative;
    top: -1.63143vh;
    left: -0.42559vh;
    z-index: 2;
  }
  .shelf .hexagon .hexagrama-30 .top, .shelf .hexagon .hexagrama-30 .bottom {
    position: absolute;
    z-index: 1;
    width: 3.36714vh;
    height: 3.36714vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.36381vh;
  }
  .shelf .hexagon .hexagrama-30 .top:before, .shelf .hexagon .hexagrama-30 .top:after, .shelf .hexagon .hexagrama-30 .bottom:before, .shelf .hexagon .hexagrama-30 .bottom:after {
    content: "";
    position: absolute;
    width: 4.09524vh;
    height: 2.36429vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-1.1822vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-1.1822vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-1.1822vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .shelf .hexagon .hexagrama-30 .top {
    top: -1.68359vh;
    border-top: solid 0.4714vh #333333;
    border-right: solid 0.4714vh #333333;
  }
  .shelf .hexagon .hexagrama-30 .top:after {
    background-position: center top;
  }
  .shelf .hexagon .hexagrama-30 .bottom {
    bottom: -1.68359vh;
    border-bottom: solid 0.4714vh #333333;
    border-left: solid 0.4714vh #333333;
  }
  .shelf .hexagon .hexagrama-30 .bottom:after {
    background-position: center bottom;
  }
  .treasureBox.right {
    margin-left: 3vh;
  }
  #app {
    padding-top: 5vh;
  }
}

@media (max-aspect-ratio: 1000 / 781) and (min-aspect-ratio: 1000 / 1000) {
  .selection_card_hexagram {
    position: relative;
    width: 6.66667vh;
    height: 3.84933vh;
    margin: 1.19133vh 0;
    background-size: auto 6.62028vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.46667vh #333333;
    border-right: solid 0.46667vh #333333;
  }
  .selection_card_hexagram:after {
    content: "";
    position: absolute;
    top: 0.26943vh;
    left: 0;
    width: 5.73333vh;
    height: 3.31vh;
    z-index: 2;
    background: inherit;
  }
  .selection_card_hexagram img {
    height: 7.77767vh;
    width: 7vh;
    position: relative;
    top: -2.284vh;
    left: -0.59583vh;
    z-index: 2;
  }
  .selection_card_hexagram .top, .selection_card_hexagram .bottom {
    position: absolute;
    z-index: 1;
    width: 4.714vh;
    height: 4.714vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.50933vh;
  }
  .selection_card_hexagram .top:before, .selection_card_hexagram .top:after, .selection_card_hexagram .bottom:before, .selection_card_hexagram .bottom:after {
    content: "";
    position: absolute;
    width: 5.73333vh;
    height: 3.31vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-1.65507vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-1.65507vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-1.65507vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .selection_card_hexagram .top {
    top: -2.35702vh;
    border-top: solid 0.65997vh #333333;
    border-right: solid 0.65997vh #333333;
  }
  .selection_card_hexagram .top:after {
    background-position: center top;
  }
  .selection_card_hexagram .bottom {
    bottom: -2.35702vh;
    border-bottom: solid 0.65997vh #333333;
    border-left: solid 0.65997vh #333333;
  }
  .selection_card_hexagram .bottom:after {
    background-position: center bottom;
  }
  .card_attribute {
    font-size: 4vh;
  }
  .card_hex_big {
    position: relative;
    width: 14.28571vh;
    height: 8.24857vh;
    margin: 2.55286vh 0;
    background-size: auto 14.18631vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 1vh #333333;
    border-right: solid 1vh #333333;
  }
  .card_hex_big:after {
    content: "";
    position: absolute;
    top: 0.57736vh;
    left: 0;
    width: 12.28571vh;
    height: 7.09286vh;
    z-index: 2;
    background: inherit;
  }
  .card_hex_big img {
    height: 16.66643vh;
    width: 15vh;
    position: relative;
    top: -4.89429vh;
    left: -1.27677vh;
    z-index: 2;
  }
  .card_hex_big .top, .card_hex_big .bottom {
    position: absolute;
    z-index: 1;
    width: 10.10143vh;
    height: 10.10143vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 1.09143vh;
  }
  .card_hex_big .top:before, .card_hex_big .top:after, .card_hex_big .bottom:before, .card_hex_big .bottom:after {
    content: "";
    position: absolute;
    width: 12.28571vh;
    height: 7.09286vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .card_hex_big .top {
    top: -5.05076vh;
    border-top: solid 1.41421vh #333333;
    border-right: solid 1.41421vh #333333;
  }
  .card_hex_big .top:after {
    background-position: center top;
  }
  .card_hex_big .bottom {
    bottom: -5.05076vh;
    border-bottom: solid 1.41421vh #333333;
    border-left: solid 1.41421vh #333333;
  }
  .card_hex_big .bottom:after {
    background-position: center bottom;
  }
}

@media (max-aspect-ratio: 1000 / 900) and (min-aspect-ratio: 1000 / 1000) {
  .selection_card_hexagram {
    position: relative;
    width: 5.88235vh;
    height: 3.39647vh;
    margin: 1.05118vh 0;
    background-size: auto 5.84142vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 0.41176vh #333333;
    border-right: solid 0.41176vh #333333;
  }
  .selection_card_hexagram:after {
    content: "";
    position: absolute;
    top: 0.23774vh;
    left: 0;
    width: 5.05882vh;
    height: 2.92059vh;
    z-index: 2;
    background: inherit;
  }
  .selection_card_hexagram img {
    height: 6.86265vh;
    width: 6.17647vh;
    position: relative;
    top: -2.0153vh;
    left: -0.52573vh;
    z-index: 2;
  }
  .selection_card_hexagram .top, .selection_card_hexagram .bottom {
    position: absolute;
    z-index: 1;
    width: 4.15941vh;
    height: 4.15941vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 0.44941vh;
  }
  .selection_card_hexagram .top:before, .selection_card_hexagram .top:after, .selection_card_hexagram .bottom:before, .selection_card_hexagram .bottom:after {
    content: "";
    position: absolute;
    width: 5.05882vh;
    height: 2.92059vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-1.46036vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-1.46036vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-1.46036vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .selection_card_hexagram .top {
    top: -2.07972vh;
    border-top: solid 0.58232vh #333333;
    border-right: solid 0.58232vh #333333;
  }
  .selection_card_hexagram .top:after {
    background-position: center top;
  }
  .selection_card_hexagram .bottom {
    bottom: -2.07972vh;
    border-bottom: solid 0.58232vh #333333;
    border-left: solid 0.58232vh #333333;
  }
  .selection_card_hexagram .bottom:after {
    background-position: center bottom;
  }
  .card_attribute {
    font-size: 3vh;
  }
  .card_hex_big {
    position: relative;
    width: 14.28571vh;
    height: 8.24857vh;
    margin: 2.55286vh 0;
    background-size: auto 14.18631vh;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    border-left: solid 1vh #333333;
    border-right: solid 1vh #333333;
  }
  .card_hex_big:after {
    content: "";
    position: absolute;
    top: 0.57736vh;
    left: 0;
    width: 12.28571vh;
    height: 7.09286vh;
    z-index: 2;
    background: inherit;
  }
  .card_hex_big img {
    height: 16.66643vh;
    width: 15vh;
    position: relative;
    top: -4.89429vh;
    left: -1.27677vh;
    z-index: 2;
  }
  .card_hex_big .top, .card_hex_big .bottom {
    position: absolute;
    z-index: 1;
    width: 10.10143vh;
    height: 10.10143vh;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 1.09143vh;
  }
  .card_hex_big .top:before, .card_hex_big .top:after, .card_hex_big .bottom:before, .card_hex_big .bottom:after {
    content: "";
    position: absolute;
    width: 12.28571vh;
    height: 7.09286vh;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  .card_hex_big .top {
    top: -5.05076vh;
    border-top: solid 1.41421vh #333333;
    border-right: solid 1.41421vh #333333;
  }
  .card_hex_big .top:after {
    background-position: center top;
  }
  .card_hex_big .bottom {
    bottom: -5.05076vh;
    border-bottom: solid 1.41421vh #333333;
    border-left: solid 1.41421vh #333333;
  }
  .card_hex_big .bottom:after {
    background-position: center bottom;
  }
}

.shelf .hexagon.deployPhase {
  border-color: transparent rgba(208, 209, 155, 0.637) transparent rgba(245, 231, 152, 0.829);
}

.shelf .hexagon.deployPhase .top {
  border-color: #f4f5c2e5 #e7e7b9cb transparent transparent;
}

.shelf .hexagon.deployPhase .bottom {
  border-color: transparent transparent rgba(158, 153, 127, 0.582) rgba(165, 161, 124, 0.767);
}

.shelf .hexagon.plotPhase {
  border-color: transparent rgba(216, 216, 216, 0.637) transparent rgba(255, 255, 255, 0.829);
}

.shelf .hexagon.plotPhase .top {
  border-color: #f8f8f8e5 #ffffffcb transparent transparent;
}

.shelf .hexagon.plotPhase .bottom {
  border-color: transparent transparent rgba(255, 255, 255, 0.582) rgba(194, 194, 194, 0.767);
}

.shelf .hexagon.clashPhase {
  border-color: transparent rgba(208, 160, 160, 0.96) transparent rgba(187, 133, 133, 0.829);
}

.shelf .hexagon.clashPhase .top {
  border-color: #a55d5de5 #b36d6dcb transparent transparent;
}

.shelf .hexagon.clashPhase .bottom {
  border-color: transparent transparent rgba(145, 129, 129, 0.582) rgba(128, 96, 96, 0.767);
}

.shelf .hexagon.endPhase {
  border-color: transparent rgba(134, 191, 196, 0.637) transparent rgba(149, 203, 207, 0.829);
}

.shelf .hexagon.endPhase .top {
  border-color: rgba(161, 209, 205, 0.898) rgba(131, 189, 190, 0.796) transparent transparent;
}

.shelf .hexagon.endPhase .bottom {
  border-color: transparent transparent rgba(129, 173, 170, 0.582) rgba(97, 129, 129, 0.767);
}
