
$endHexSize:7;
$middleHexSmall:10;
$middleHexBig:5;

@mixin arrow($color,$direction,$size){
    @if $direction == top {
        width: 0; 
        height: 0; 
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;

    }@else if $direction == left {

        width: 0; 
        height: 0; 
        border-top: $size solid transparent;
        border-bottom: $size solid transparent; 
        border-right:$size solid $color;

    }@else if $direction == bottom {

        width: 0; 
        height: 0; 
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;

    } @else if $direction == right {

        width: 0; 
        height: 0; 
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
}
@mixin hexagonomicron ($sA) {
$viewHeight: 100vh;
$one: (1 / $sA * $viewHeight);
$hexHeight:(.5774 / $sA * $viewHeight);
$half: (.5 / $sA * $viewHeight);
$hexMargin:(.1787 / $sA * $viewHeight);
$hexBackground: ( .993042 / $sA * $viewHeight);
$quarter: (.25 / $sA * $viewHeight);
$minusQuarter: (-.25 / $sA * $viewHeight);
$fifive: (.55 / $sA * $viewHeight);
$hexBorder: (.07 / $sA * $viewHeight);
$margin: .1vh;//(.1 / $sA * $viewHeight);
$marginLeft:(5vh);
$appWidth:147vh;
$appHeight:95vh;
$minusQuarterht: 99vh;
$shelfWidth:160vh;
$border: ($margin * 5);
$hexTriangleSize: (.7071 / $sA * $viewHeight);
$hexTriangleOffsetLeft: (.0764 / $sA * $viewHeight);
$hexAfterWidth: (.86 / $sA * $viewHeight);
$hexAfterHeight: ( .4965 / $sA * $viewHeight);
$hexBottom: (-.353553 / $sA * $viewHeight);
$hexBottomSize: (.098995 / $sA * $viewHeight);
$hexMinusQuarter: (-.248261 / $sA * 100vh);
        position: relative;
        width: $one; 
        height: $hexHeight;
        margin: $hexMargin 0;
        background-size: auto $hexBackground;
        background-position: center;
        border-left: solid $hexBorder #333333;
        border-right: solid $hexBorder #333333;
        &:after {
            content: "";
            position: absolute;
            top: (.040415 / $sA * $viewHeight);
            left: 0;
            width: $hexAfterWidth;
            height: $hexAfterHeight;
            z-index: 2;
            background: inherit;
        }
        img{
            height:($hexHeight + $hexTriangleSize / 1.2);
            width:$one * 1.05;
            position:relative;
            top:($hexMinusQuarter * 1.38);
            left:($hexMinusQuarter * .36);
            z-index: 2;
        }
        .top, .bottom{
            position: absolute;
            z-index: 1;
            width: $hexTriangleSize;
            height: $hexTriangleSize;
            overflow: hidden;
            -webkit-transform: scaleY(0.5774) rotate(-45deg);
            -ms-transform: scaleY(0.5774) rotate(-45deg);
            transform: scaleY(0.5774) rotate(-45deg);
            background: inherit;
            left: $hexTriangleOffsetLeft;
            &:before, &:after{
                content: "";
                position: absolute;
                width: $hexAfterWidth;
                height: $hexAfterHeight;
                -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                -ms-transform:      rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                transform:          rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                -webkit-transform-origin: 0 0;
                -ms-transform-origin: 0 0;
                transform-origin: 0 0;
                background: inherit;
            }
        }
        .top {
          top: (-.353553 / $sA * 100vh);
          border-top: solid $hexBottomSize #333333;
          border-right: solid $hexBottomSize #333333;
        }
        .top:after {
          background-position: center top;
        }
        .bottom {
          bottom: $hexBottom;
          border-bottom: solid $hexBottomSize #333333;
          border-left: solid $hexBottomSize #333333;
        }        
        .bottom:after {
          background-position: center bottom;
        }
}//mixin
.selection_card_champion{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height:100%;
}
.selection_card_stats{
    width:95vh;
    height:100%;
    display:flex;
}
.selection_card_hexagram{
    @include hexagonomicron($middleHexSmall);
    padding:1vh;
}
.attribute{
    font-size: large;
    font-weight: 900;
}
.card_attribute{
    position: relative;
    font-size: 6vh;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: -2.1vh;
}
.card_hex_big{@include hexagonomicron($middleHexBig)}
#bandSelection{
    height: 100vh;
    width:30vw;
}
.selection_section{
    background:rgb(168, 149, 107);
    height:25vh;
    width:100%;
    box-shadow: inset 0 0 3vh black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
@mixin selection_hex_image {
    width:25%;
    height:0;
    padding-bottom:25%;
    z-index:3;
}
.selection_class_banner{
    @include selection_hex_image;
}
.selection_champCointajner{
    width:25%;
    z-index:5;
}
.selection_heroImg{
    z-index:2;
    max-width:100%;
    opacity: 1;
}
@mixin opacifier{
    content: "";
    opacity: 0.32;
    left: 0;
    width: 30vw;
    height: 25vh;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    box-shadow: inset 0 0 1vh black, inset 0 0 2vh black, inset 0 0 3vh black, inset 0 0 4vh black, inset 0 0 5vh black;
}
#selection_guardian:after{background-image: url('../../img/classGuardian.png'); @include opacifier;top:0vh}
#selection_shaper:after{background-image: url('../../img/classShaper.png'); @include opacifier;top:0vh}
#selection_slayer:after{background-image: url('../../img/classSlayer.png'); @include opacifier;top:0vh}
#selection_maelstrom:after{background-image: url('../../img/classMaelstrom.png'); @include opacifier;top:0vh}
.selection_banner_shaper{background-image: url('../../img/classShaper.png');}
.selection_banner_slayer{background-image: url('../../img/classSlayer.png');}
.selection_banner_maelstrom{background-image: url('../../img/classMaelstrom.png');}
.selection_banner_guardian{background-image: url('../../img/classGuardian.png');}
.selection_rhodri{color:white}
#selection_card{
    height:100vh;
    width:48vw;
    background-color: rgb(107, 95, 68);
}
.selection_card_images{
    width:100%;
    height:37vh;
    display:flex;
}
#bandNamePlace{
    box-shadow: inset 0 0 3vh black;
    background:rgb(168, 149, 107);
    display:flex;
    flex-wrap: wrap;
    height:100vh;
    width:22vw;
}
@mixin white_attrib{
    color:black;
    text-shadow: 0 0 .3vh white, 0 0 .2vh white, 0 0 .4vh white, 0 0 .5vh white, 0 0 .7vh white, 0 0 .6vh white;
}
@mixin black_attrib{
    color:white;
    text-shadow: 0 0 .3vh black, 0 0 .2vh black, 0 0 .4vh black, 0 0 .5vh black, 0 0 .7vh black, 0 0 .6vh black;
}
#card_speed_white{background-image: url('../../img/walk_white.png'); @include white_attrib;}
#card_speed_black{background-image: url('../../img/walk_black.png'); @include black_attrib;}

#card_dodge_white{background-image: url('../../img/dodge_white.svg'); @include white_attrib;}
#card_dodge_black{background-image: url('../../img/dodge_black.svg'); @include black_attrib;}

#card_protection_white{background-image: url('../../img/shield_white.svg'); @include white_attrib;}
#card_protection_black{background-image: url('../../img/shield_black.svg'); @include black_attrib;}

#card_health_white{background-image: url('../../img/heart_white.svg'); @include white_attrib;}
#card_health_black{background-image: url('../../img/heart_black.svg'); @include black_attrib;}
#card{
    width:48vw
}
.card_heroImg{    
    position: relative;
    width: 21vh;
    height: 23vh;
    background-size: cover;
    top: -7.5vh;
    left: -3.7vh;
    z-index: 3;
}

.selection_card_skills{
    width:100%;
    height:63vh;
    box-shadow: inset 0 0 3vh black;
    display:flex;
    flex-wrap:wrap;
}
@mixin img($icon,$phase){
    margin:1vh -2vw;
    min-height:10vh;
    max-height: 11vh;
    flex:1;
    border-radius:50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../img/' + $icon + '_' + $phase + '.png');
}
$icons: 'skull' 'self' 'star' 'cogs';
$phases:'black' 'white';
$black: black;
$white: white;
@mixin phase_theme($phase){
    @if $phase == 'black' { background-color: $black; color: $white;box-shadow: inset 0 0 3vh $white, 0 0 2vh $black;}; 
    @if $phase == 'white' {background-color: $white; color: $black;box-shadow: inset 0 0 3vh $black, 0 0 2vh $black;};
}
@each $phase in $phases {
    .roster_abil_dist_#{$phase}{ background-image: url('../img/dist_' + $phase + '.png'); }
    .roster_abil_aim_#{$phase}{ background-image: url('../img/aim_' + $phase + '.png'); }
    .roster_abil_hurt_#{$phase}{ background-image: url('../img/hurt_' + $phase + '.png'); }
}

@mixin all_skills {
    @each $phase in $phases {
        .card_list_item_#{$phase}{
            display:flex;
            width:46vw;
            height:auto;
            padding:1%;
            margin:.5vh 1vw;
            border-radius:.3vw;
            @each $icon in $icons {
                .img_#{$icon}_#{$phase} {
                    @include img($icon, $phase);
                }
            }
            @include phase_theme($phase);
            .roster_description{
                min-height:20vh;
                width:66%;
                height:auto;
                padding: .7%;
                .roster_abil_name{
                    font-size: 110%;
                    font-weight: 700;
                    letter-spacing: .04vw;
                    flex:1;
                }
                .roster_abil_desc{
                    font-size: 100%;
                    font-weight: 400;
                    line-height: 1.25;
                    letter-spacing: -.06vw;
                    height:auto;
                }
            }
            .roster_abil_stats{
                display:flex;
                min-width:15%;
                max-width:20%;
                flex:1;
                .roster_abil_column{
                    width:33%;
                    .roster_abil_icon{
                        height:25%;
                        background-repeat: no-repeat;background-size: contain;background-position: center;
                    }
                    .roster_abil_dist_#{$phase}{ background-image: url('../img/dist_' + $phase + '.png'); }
                    .roster_abil_aim_#{$phase}{ background-image: url('../img/aim_' + $phase + '.png'); }
                    .roster_abil_hurt_#{$phase}{ background-image: url('../img/hurt_' + $phase + '.png'); }
                }
            }
        }
    }
}

.roster_abil_stats{
    display:flex;
    min-width:15%;
    max-width:20%;
    flex:1;
    .roster_abil_column{
        width:33%;
        .roster_abil_icon{
            height:25%;
            background-repeat: no-repeat;background-size: contain;background-position: center;
        }
    }
}
.roster_abil_number{display:flex;justify-content: center;align-items: center;height:25%}
.card_skills{
    box-shadow: inset 0 0 3vh black;
    width:100%;
    height:63vh;
    display:flex;
    flex-wrap: wrap;
    pointer-events: none;
    .card_tab{
        background:rgba(168, 149, 107,.5);
        width:50%;
        height:10.5vh;
        position: relative;
        border-right: .3vh solid rgb(58, 49, 49);
        border-top: .3vh solid rgb(58, 49, 49);
        border-left: .3vh solid rgb(58, 49, 49);
        pointer-events: auto;
        font-size:150%;
        font-weight: 900;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .selection_list_of_skills{
        padding-top:.5vh;
        display:flex;
        flex-wrap:wrap;
        flex-flow:column;
        min-height: min-content;
        overflow-y: scroll;
        height:52.5vh;
        width:100%;
        box-shadow: inset 0 0 3vh black;
        background:rgb(168, 149, 107);
        pointer-events: auto;
        @include all_skills;
    }
    .card_list{
        width:100%;
        height:52vh;
        position:relative;
        top:0;
        left:0;
        overflow-y: hidden;
        display:flex;
        align-items:flex-start;
    }
}
.skills_unit{
    position:relative;
    top:-63vh;
    left:0;
}
.unit_tab{
    left:50%;
    font-size: 80%!important;
}
.tab_behind{
    border-bottom: .3vh solid rgb(58, 49, 49);
    box-shadow: inset 0 0 3vh black;
}

.introductionInfo{
    margin-top: 5%;
    margin-right: 6%;
    margin-bottom: 0;
    margin-left: 6%;
    width: 88%;
    height: 14vh;
    color: white;
    background: linear-gradient(0.25turn, darkolivegreen, #636044 20%, #636044 80%, darkolivegreen);
    border-top: 0.8vw solid #866511;
    border-bottom: 0.7vw solid #866511;
    border-left: 0;
    border-right: 0;
    border-radius: 5%;
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    &:required {
        box-shadow:none;
    }    
}
.bobo{
    p{padding-top:2vh;}
    @include hexagonomicron($endHexSize);
    @include white_attrib;
    background-color: blue;
    color:rgb(241, 227, 187); 
    &:hover{
        box-shadow: 0;
    }
}
#gameTypeForm{
    width:22vw;
    height:40vh;
}
#bandDisplay{
    width:22vw;
    height:49vh;
    margin-top:10vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.chosen{
    @include hexagonomicron($endHexSize);
    .card_heroImg{
        @include selection_hex_image;
        padding-bottom: 25%;
        z-index: 3;
        width: 131%;
        top: -4.7vh;
        left: -2vh;
        height: 196%;
    }
}
    .ch_st{
        margin: 0 30%;
        margin-bottom:4vh;
    }
    .ch_nd{
       margin: 1vh;
    }
    .ch_rd{
       margin: 1vh;
    }
    .bobo{
        margin:0 30%;
        margin-top:4vh;
    }
    .img__white, .img__black {
        min-width:5vh;
    }
    @keyframes pulsating_chosen{
        0%{
            box-shadow:0 0 0vh inset white;
        }
        50%{
            box-shadow: 0 0 40vh inset white;
        }
        100%{
            box-shadow:0 0 0vh inset white;
        }
    }
    .marked_group{
        animation: pulsating_chosen 2.8s forwards infinite;
    }
    #wronCharWarning{color:red; display:flex;justify-content: center;height:4vh;}
    @keyframes card_displayed{
        0%{}
        50%{filter:contrast(1.5) blur(1px);transform:scale(1.3)}
        100%{filter:contrast(1.9) blur(0);transform:scale(1.2)}
    }
    @keyframes greyOut {
        0%{
            transform:scale(1.2);filter:contrast(1.9);
        }
        100%{
            transform:scale(.93);filter:contrast(1) grayscale(80%);
        }
    }
    .cardDisplayed{
        animation: card_displayed 1s forwards;
    }
    .cardDeselected{
        animation: card_displayed 1s reverse;
    }
    .greyedOut{
        animation: greyOut 1s forwards;
    }
    @keyframes dechosen {
        0%{
            transform:scale(.93);filter:contrast(1) grayscale(80%);
        }
        50%{
            transform:scale(1.2);filter:contrast(1) grayscale(40%);
        }
        100%{
            transform:scale(1);filter:contrast(1) grayscale(0%);
        }
    }
    .dechosen{
        animation: dechosen 1s forwards;
    }
    #introductory_insructions_info{
        position:absolute;
        top:0;
        left:0;
        height: 100vh;
        width:100vw;
        background-color: rgba(0, 0, 0, 0.562);
        z-index:40;
        display:flex;
        justify-content: center;
        align-items: center;
        article{
            border: 1vh solid rgb(165, 108, 42);
            background: rgb(209, 142, 54);
            display:flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            width:42vw;
            height:42vh;
            border-radius:0 5vh 0 5vh;
            box-shadow:0 0 5px white;
            #st_info{font-size: 140%; color:rgb(51, 99, 24);text-shadow: black;font-weight: 900;}
            #nd_info{font-size:120%; color:rgb(109, 27, 27);text-shadow: black;font-weight: 900;}
            #rd_info{font-size:100%;color:rgb(51, 47, 47);text-shadow:black;font-weight: 900;}
        }
    }
    @keyframes anime_letteros {
        0%  {transform:scale(1);}
        50% {transform:scale(2);}
        100%{transform:scale(1);}
    }

.st_inf_ani {animation: anime_letteros .8s forwards;}
.nd_inf_ani {animation: anime_letteros 1s forwards;}
.rd_inf_ani {animation: anime_letteros 1.3s forwards;}
.roster_abil_number.smaller_num{height:21%!important;}

.legendary{
    box-shadow: inset 0  0 5vh goldenrod!important;
}
#agreement{
    position: relative;
    top: -95vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.transparent{
    display:none!important;
    pointer-events: none;
}
#TaT:hover{
    cursor:pointer;
}