#bandSelection {
  background: #a8956b;
  height: 100vh;
  width: 60vh;
}

.selection_section {
  height: 25vh;
  width: 100%;
  box-shadow: inset 0 0 3vh black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.selection_class_banner {
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 21vh;
  z-index: 2;
}

.selection_heroImg {
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 21vh;
  z-index: 1;
}

.selection_backward {
  width: 0;
  height: 0;
  border-top: 5vh solid transparent;
  border-bottom: 5vh solid transparent;
  border-right: 5vh solid #59cce0;
  z-index: 2;
  top: -5vh;
  left: 1vh;
  position: relative;
}

.selection_backward_frame {
  transform: scale(1.2);
  width: 0;
  height: 0;
  border-top: 7vh solid transparent;
  border-bottom: 7vh solid transparent;
  border-right: 7vh solid #5c4a18;
  border-left: none;
  z-index: 1;
}

.selection_banner_shaper {
  background-image: url("../../img/classShaper.png");
}

.selection_banner_slayer {
  background-image: url("../../img/classSlayer.png");
}

.selection_banner_maelstrom {
  background-image: url("../../img/classMaelstrom.png");
}

.selection_banner_guardian {
  background-image: url("../../img/classGuardian.png");
}

.selection_rhodri {
  color: white;
}

#selection_card {
  box-shadow: inset 0 0 3vh black;
  height: 100vh;
  width: 95vh;
  background-color: #6b5f44;
}
