@keyframes objectiveGlow {
  0% {
    box-shadow: 0 0 0.4vw 0.3vw #b3b32a;
  }
  15% {
    box-shadow: 0 0 0.4vw 0.3vw #2ab34f;
  }
  30% {
    box-shadow: 0 0 0.4vw 0.3vw #2ab39b;
  }
  45% {
    box-shadow: 0 0 0.4vw 0.3vw #2a8cb3;
  }
  60% {
    box-shadow: 0 0 0.4vw 0.3vw #792ab3;
  }
  75% {
    box-shadow: 0 0 0.4vw 0.3vw #2a5ab3;
  }
  90% {
    box-shadow: 0 0 0.4vw 0.3vw #b1b32a;
  }
  100% {
    box-shadow: 0 0 0.4vw 0.3vw white;
  }
}

.obj1 {
  background-image: url("../img/1Obj.svg");
}

.obj2 {
  background-image: url("../img/2Obj.svg");
}

.obj3 {
  background-image: url("../img/3Obj.svg");
}

.objectiveGlow {
  animation: 30s infinite alternate objectiveGlow;
}

.redGlow {
  animation: 30s infinite alternate glowred;
}

@keyframes glowred {
  0% {
    box-shadow: 0 0 1vh 1vh rgba(255, 0, 0, 0.562), 0 0 1vh 1vh inset rgba(255, 0, 0, 0.562);
  }
  33% {
    box-shadow: 0 0 1vh 1vh rgba(175, 0, 0, 0.575), 0 0 1vh 1vh inset rgba(175, 0, 0, 0.575);
  }
  66% {
    box-shadow: 0 0 1vh 1vh rgba(187, 0, 93, 0.623), 0 0 1vh 1vh inset rgba(187, 0, 93, 0.623);
  }
  100% {
    box-shadow: 0 0 1vh 1vh rgba(201, 44, 109, 0.555), 0 0 1vh 1vh inset rgba(201, 44, 109, 0.555);
  }
}

.blueGlow {
  animation: 30s infinite alternate glowblue;
}

@keyframes glowblue {
  0% {
    box-shadow: 0 0 1vh 1vh rgba(0, 38, 255, 0.534), 0 0 1vh 1vh inset rgba(0, 38, 255, 0.534);
  }
  33% {
    box-shadow: 0 0 1vh 1vh rgba(0, 175, 152, 0.582), 0 0 1vh 1vh inset rgba(0, 175, 152, 0.582);
  }
  66% {
    box-shadow: 0 0 1vh 1vh rgba(0, 187, 156, 0.575), 0 0 1vh 1vh inset rgba(0, 187, 156, 0.575);
  }
  100% {
    box-shadow: 0 0 1vh 1vh rgba(110, 78, 196, 0.514), 0 0 1vh 1vh inset rgba(110, 78, 196, 0.514);
  }
}

.yellowGlow {
  animation: 30s infinite alternate glowyellow;
}

@keyframes glowyellow {
  0% {
    box-shadow: 0 0 1vh 1vh rgba(230, 255, 10, 0.2), 0 0 1vh 1vh inset rgba(230, 255, 10, 0.2);
  }
  33% {
    box-shadow: 0 0 1vh 1vh rgba(236, 240, 0, 0.2), 0 0 1vh 1vh inset rgba(236, 240, 0, 0.2);
  }
  66% {
    box-shadow: 0 0 1vh 1vh rgba(252, 239, 119, 0.2), 0 0 1vh 1vh inset rgba(252, 239, 119, 0.2);
  }
  100% {
    box-shadow: 0 0 1vh 1vh rgba(255, 251, 42, 0.2), 0 0 1vh 1vh inset rgba(255, 251, 42, 0.2);
  }
}

.greenGlow {
  animation: 30s infinite alternate glowgreen;
}

@keyframes glowgreen {
  0% {
    box-shadow: 0 0 1vh 1vh rgba(81, 255, 0, 0.548), 0 0 1vh 1vh inset rgba(81, 255, 0, 0.548);
  }
  33% {
    box-shadow: 0 0 1vh 1vh rgba(0, 240, 12, 0.555), 0 0 1vh 1vh inset rgba(0, 240, 12, 0.555);
  }
  66% {
    box-shadow: 0 0 1vh 1vh rgba(85, 155, 67, 0.568), 0 0 1vh 1vh inset rgba(85, 155, 67, 0.568);
  }
  100% {
    box-shadow: 0 0 1vh 1vh rgba(74, 187, 8, 0.521), 0 0 1vh 1vh inset rgba(74, 187, 8, 0.521);
  }
}

.legendaryGlow {
  animation: 30s infinite alternate glowgoldenrod;
}

@keyframes glowgoldenrod {
  0% {
    box-shadow: 0 0 1vh 1vh rgba(218, 165, 32, 0.555), 0 0 1vh 1vh inset rgba(218, 165, 32, 0.555);
  }
  33% {
    box-shadow: 0 0 1vh 1vh rgba(218, 165, 32, 0.568), 0 0 1vh 1vh inset rgba(218, 165, 32, 0.568);
  }
  66% {
    box-shadow: 0 0 1vh 1vh rgba(218, 165, 32, 0.568), 0 0 1vh 1vh inset rgba(218, 165, 32, 0.568);
  }
  100% {
    box-shadow: 0 0 1vh 1vh rgba(218, 165, 32, 0.562), 0 0 1vh 1vh inset rgba(218, 165, 32, 0.562);
  }
}

.claimColor {
  animation: 30s infinite alternate glowwhite;
}

@keyframes glowwhite {
  0% {
    box-shadow: 0 0 1vh 1vh rgba(245, 245, 245, 0.589), 0 0 1vh 1vh inset rgba(245, 245, 245, 0.589);
  }
  33% {
    box-shadow: 0 0 1vh 1vh rgba(194, 197, 194, 0.541), 0 0 1vh 1vh inset rgba(194, 197, 194, 0.541);
  }
  66% {
    box-shadow: 0 0 1vh 1vh rgba(243, 243, 243, 0.568), 0 0 1vh 1vh inset rgba(243, 243, 243, 0.568);
  }
  100% {
    box-shadow: 0 0 1vh 1vh rgba(238, 250, 231, 0.541), 0 0 1vh 1vh inset rgba(238, 250, 231, 0.541);
  }
}

@keyframes popbigAndSmall {
  10% {
    transform: scale(0.7);
  }
  26% {
    transform: scale(1.3);
  }
  48% {
    transform: scale(0.9);
  }
  76% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.selected-model {
  box-shadow: 0 0 3vh #0870b8, 0 0 1vh #0870b8, 0 0 2.5vh #0870b8, 0 0 2vh #0870b8;
  z-index: 10;
  animation: forwards 2s popbigAndSmall;
}

.selected-enemy-model {
  box-shadow: 0 0 3vh #ee4135, 0 0 1vh #ee4135, 0 0 2.5vh #ee4135, 0 0 2vh #ee4135;
  z-index: 10;
  animation: forwards 2s popbigAndSmall;
}

@keyframes coinPulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.8);
  }
}

#coin {
  width: 1px;
  height: 1px;
  margin: auto auto;
  border-radius: 50%;
  background-color: goldenrod;
  box-shadow: 0 0 1vh 2vh goldenrod;
  position: relative;
  animation: alternate infinite 4s coinPulse;
}

[data-glow="redGlow"] {
  animation: 30s infinite alternate glowred;
}

@keyframes glowred {
  0% {
    box-shadow: 0 0 1vh 1vh rgba(255, 0, 0, 0.25), 0 0 1vh 1vh inset rgba(255, 0, 0, 0.25);
  }
  33% {
    box-shadow: 0 0 1vh 1vh rgba(175, 0, 0, 0.25), 0 0 1vh 1vh inset rgba(175, 0, 0, 0.25);
  }
  66% {
    box-shadow: 0 0 1vh 1vh rgba(187, 0, 93, 0.25), 0 0 1vh 1vh inset rgba(187, 0, 93, 0.25);
  }
  100% {
    box-shadow: 0 0 1vh 1vh rgba(201, 44, 109, 0.25), 0 0 1vh 1vh inset rgba(201, 44, 109, 0.25);
  }
}

[data-glow="blueGlow"] {
  animation: 30s infinite alternate glowblue;
}

@keyframes glowblue {
  0% {
    box-shadow: 0 0 1vh 1vh rgba(0, 38, 255, 0.25), 0 0 1vh 1vh inset rgba(0, 38, 255, 0.25);
  }
  33% {
    box-shadow: 0 0 1vh 1vh rgba(0, 175, 152, 0.25), 0 0 1vh 1vh inset rgba(0, 175, 152, 0.25);
  }
  66% {
    box-shadow: 0 0 1vh 1vh rgba(0, 187, 156, 0.25), 0 0 1vh 1vh inset rgba(0, 187, 156, 0.25);
  }
  100% {
    box-shadow: 0 0 1vh 1vh rgba(110, 78, 196, 0.25), 0 0 1vh 1vh inset rgba(110, 78, 196, 0.25);
  }
}

[data-glow="yellowGlow"] {
  animation: 30s infinite alternate glowyellow;
}

@keyframes glowyellow {
  0% {
    box-shadow: 0 0 1vh 1vh rgba(238, 255, 0, 0.25), 0 0 1vh 1vh inset rgba(238, 255, 0, 0.25);
  }
  33% {
    box-shadow: 0 0 1vh 1vh rgba(236, 240, 0, 0.25), 0 0 1vh 1vh inset rgba(236, 240, 0, 0.25);
  }
  66% {
    box-shadow: 0 0 1vh 1vh rgba(252, 238, 119, 0.25), 0 0 1vh 1vh inset rgba(252, 238, 119, 0.25);
  }
  100% {
    box-shadow: 0 0 1vh 1vh rgba(255, 251, 42, 0.25), 0 0 1vh 1vh inset rgba(255, 251, 42, 0.25);
  }
}

[data-glow="greenGlow"] {
  animation: 30s infinite alternate glowgreen;
}

@keyframes glowgreen {
  0% {
    box-shadow: 0 0 1vh 1vh rgba(81, 255, 0, 0.25), 0 0 1vh 1vh inset rgba(81, 255, 0, 0.25);
  }
  33% {
    box-shadow: 0 0 1vh 1vh rgba(0, 240, 12, 0.25), 0 0 1vh 1vh inset rgba(0, 240, 12, 0.25);
  }
  66% {
    box-shadow: 0 0 1vh 1vh rgba(84, 155, 67, 0.25), 0 0 1vh 1vh inset rgba(84, 155, 67, 0.25);
  }
  100% {
    box-shadow: 0 0 1vh 1vh rgba(73, 187, 8, 0.25), 0 0 1vh 1vh inset rgba(73, 187, 8, 0.25);
  }
}

[data-glow="legendaryGlow"], [data-glow="shootAndScoot"] {
  animation: 30s infinite alternate glowgoldenrod;
}

@keyframes glowgoldenrod {
  0% {
    box-shadow: 0 0 1vh 1vh rgba(218, 165, 32, 0.25), 0 0 1vh 1vh inset rgba(218, 165, 32, 0.25);
  }
  33% {
    box-shadow: 0 0 1vh 1vh rgba(218, 165, 32, 0.25), 0 0 1vh 1vh inset rgba(218, 165, 32, 0.25);
  }
  66% {
    box-shadow: 0 0 1vh 1vh rgba(218, 165, 32, 0.25), 0 0 1vh 1vh inset rgba(218, 165, 32, 0.25);
  }
  100% {
    box-shadow: 0 0 1vh 1vh rgba(218, 165, 32, 0.25), 0 0 1vh 1vh inset rgba(218, 165, 32, 0.25);
  }
}

[data-glow="recruitGlow"], [data-glow="claimColor"], [data-glow^="newSpew"], [data-glow="graspingDead"], [data-glow="answerTheCall"], [data-glow="inductGlow"], [data-glow="sneak"], [data-glow="callTotems"] {
  animation: 30s infinite alternate glowwhite;
}

@keyframes glowwhite {
  0% {
    box-shadow: 0 0 1vh 1vh rgba(245, 245, 245, 0.25), 0 0 1vh 1vh inset rgba(245, 245, 245, 0.25);
  }
  33% {
    box-shadow: 0 0 1vh 1vh rgba(194, 197, 194, 0.25), 0 0 1vh 1vh inset rgba(194, 197, 194, 0.25);
  }
  66% {
    box-shadow: 0 0 1vh 1vh rgba(243, 243, 243, 0.25), 0 0 1vh 1vh inset rgba(243, 243, 243, 0.25);
  }
  100% {
    box-shadow: 0 0 1vh 1vh rgba(238, 250, 231, 0.25), 0 0 1vh 1vh inset rgba(238, 250, 231, 0.25);
  }
}

[data-glow="straitPaths"], [data-glow="straitPaths1"], [data-glow="straitPaths2"], [data-glow="straitPaths3"], [data-glow="straitPaths4"], [data-glow="straitPaths5"], [data-glow="straitPaths6"] {
  animation: 30s infinite alternate glowwhite;
}

@keyframes glowwhite {
  0% {
    box-shadow: 0 0 1vh 1vh rgba(239, 255, 95, 0.25), 0 0 1vh 1vh inset rgba(239, 255, 95, 0.25);
  }
  33% {
    box-shadow: 0 0 1vh 1vh rgba(166, 255, 166, 0.25), 0 0 1vh 1vh inset rgba(166, 255, 166, 0.25);
  }
  66% {
    box-shadow: 0 0 1vh 1vh rgba(255, 252, 45, 0.25), 0 0 1vh 1vh inset rgba(255, 252, 45, 0.25);
  }
  100% {
    box-shadow: 0 0 1vh 1vh rgba(152, 241, 101, 0.25), 0 0 1vh 1vh inset rgba(152, 241, 101, 0.25);
  }
}

[data-glow="deathMove"], .usedSkill {
  animation: 30s infinite alternate glowblack;
}

@keyframes glowblack {
  0% {
    box-shadow: 0 0 1vh 1vh rgba(29, 28, 28, 0.25), 0 0 1vh 1vh inset rgba(29, 28, 28, 0.25);
  }
  33% {
    box-shadow: 0 0 1vh 1vh rgba(36, 32, 32, 0.25), 0 0 1vh 1vh inset rgba(36, 32, 32, 0.25);
  }
  66% {
    box-shadow: 0 0 1vh 1vh rgba(49, 6, 6, 0.25), 0 0 1vh 1vh inset rgba(49, 6, 6, 0.25);
  }
  100% {
    box-shadow: 0 0 1vh 1vh rgba(41, 39, 39, 0.25), 0 0 1vh 1vh inset rgba(41, 39, 39, 0.25);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shakeModel.champModel {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes deathGrip {
  0% {
    filter: grayscale(0);
  }
  100% {
    filter: grayscale(0.77);
  }
}

.death {
  animation: forwards 1s deathGrip;
}

.resurrecting {
  animation: reverse 1s deathGrip;
}

.illKillYouAll, .outflank, .marchGuardBlack, .marchGuardWhite, .tsunami-moveable, .tsunami-selected, .earthquake_moveable {
  filter: invert(18%) saturate(141);
}

.mournblade_raisins {
  filter: drop-shadow(0 0 2vh #48ff00) grayscale(53%) !important;
}

#multi_choice_info_panel {
  position: absolute;
  z-index: 4;
  width: 0;
  height: 0;
  bottom: 24vh;
  left: 42vw;
  transform: scale(0.55, 0.3);
}

.fire {
  font-size: 24px;
  filter: blur(0.02em);
  -webkit-filter: blur(0.02em);
  margin: 3em auto 0 auto;
  position: relative;
  width: 10em;
  height: 12em;
  transform-origin: bottom;
}

.particle {
  animation: rise 1s ease-in infinite;
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 5em;
  height: 5em;
}

.particle:nth-of-type(1) {
  animation-delay: 0.53968s;
  left: calc((100% - 5em) * 0);
}

.particle:nth-of-type(2) {
  animation-delay: 0.50913s;
  left: calc((100% - 5em) * 0.02);
}

.particle:nth-of-type(3) {
  animation-delay: 0.36324s;
  left: calc((100% - 5em) * 0.04);
}

.particle:nth-of-type(4) {
  animation-delay: 0.34218s;
  left: calc((100% - 5em) * 0.06);
}

.particle:nth-of-type(5) {
  animation-delay: 0.47375s;
  left: calc((100% - 5em) * 0.08);
}

.particle:nth-of-type(6) {
  animation-delay: 0.5472s;
  left: calc((100% - 5em) * 0.1);
}

.particle:nth-of-type(7) {
  animation-delay: 0.75974s;
  left: calc((100% - 5em) * 0.12);
}

.particle:nth-of-type(8) {
  animation-delay: 0.29087s;
  left: calc((100% - 5em) * 0.14);
}

.particle:nth-of-type(9) {
  animation-delay: 0.03569s;
  left: calc((100% - 5em) * 0.16);
}

.particle:nth-of-type(10) {
  animation-delay: 0.43906s;
  left: calc((100% - 5em) * 0.18);
}

.particle:nth-of-type(11) {
  animation-delay: 0.43236s;
  left: calc((100% - 5em) * 0.2);
}

.particle:nth-of-type(12) {
  animation-delay: 0.03736s;
  left: calc((100% - 5em) * 0.22);
}

.particle:nth-of-type(13) {
  animation-delay: 0.70606s;
  left: calc((100% - 5em) * 0.24);
}

.particle:nth-of-type(14) {
  animation-delay: 0.35625s;
  left: calc((100% - 5em) * 0.26);
}

.particle:nth-of-type(15) {
  animation-delay: 0.48048s;
  left: calc((100% - 5em) * 0.28);
}

.particle:nth-of-type(16) {
  animation-delay: 0.53685s;
  left: calc((100% - 5em) * 0.3);
}

.particle:nth-of-type(17) {
  animation-delay: 0.38294s;
  left: calc((100% - 5em) * 0.32);
}

.particle:nth-of-type(18) {
  animation-delay: 0.51883s;
  left: calc((100% - 5em) * 0.34);
}

.particle:nth-of-type(19) {
  animation-delay: 0.54513s;
  left: calc((100% - 5em) * 0.36);
}

.particle:nth-of-type(20) {
  animation-delay: 0.23948s;
  left: calc((100% - 5em) * 0.38);
}

.particle:nth-of-type(21) {
  animation-delay: 0.87627s;
  left: calc((100% - 5em) * 0.4);
}

.particle:nth-of-type(22) {
  animation-delay: 0.22571s;
  left: calc((100% - 5em) * 0.42);
}

.particle:nth-of-type(23) {
  animation-delay: 0.08939s;
  left: calc((100% - 5em) * 0.44);
}

.particle:nth-of-type(24) {
  animation-delay: 0.40534s;
  left: calc((100% - 5em) * 0.46);
}

.particle:nth-of-type(25) {
  animation-delay: 0.83164s;
  left: calc((100% - 5em) * 0.48);
}

.particle:nth-of-type(26) {
  animation-delay: 0.57719s;
  left: calc((100% - 5em) * 0.5);
}

.particle:nth-of-type(27) {
  animation-delay: 0.74812s;
  left: calc((100% - 5em) * 0.52);
}

.particle:nth-of-type(28) {
  animation-delay: 0.12752s;
  left: calc((100% - 5em) * 0.54);
}

.particle:nth-of-type(29) {
  animation-delay: 0.24055s;
  left: calc((100% - 5em) * 0.56);
}

.particle:nth-of-type(30) {
  animation-delay: 0.50572s;
  left: calc((100% - 5em) * 0.58);
}

.particle:nth-of-type(31) {
  animation-delay: 0.16795s;
  left: calc((100% - 5em) * 0.6);
}

.particle:nth-of-type(32) {
  animation-delay: 0.44776s;
  left: calc((100% - 5em) * 0.62);
}

.particle:nth-of-type(33) {
  animation-delay: 0.84124s;
  left: calc((100% - 5em) * 0.64);
}

.particle:nth-of-type(34) {
  animation-delay: 0.97951s;
  left: calc((100% - 5em) * 0.66);
}

.particle:nth-of-type(35) {
  animation-delay: 0.07981s;
  left: calc((100% - 5em) * 0.68);
}

.particle:nth-of-type(36) {
  animation-delay: 0.30057s;
  left: calc((100% - 5em) * 0.7);
}

.particle:nth-of-type(37) {
  animation-delay: 0.21631s;
  left: calc((100% - 5em) * 0.72);
}

.particle:nth-of-type(38) {
  animation-delay: 0.35892s;
  left: calc((100% - 5em) * 0.74);
}

.particle:nth-of-type(39) {
  animation-delay: 0.82144s;
  left: calc((100% - 5em) * 0.76);
}

.particle:nth-of-type(40) {
  animation-delay: 0.60204s;
  left: calc((100% - 5em) * 0.78);
}

.particle:nth-of-type(41) {
  animation-delay: 0.45112s;
  left: calc((100% - 5em) * 0.8);
}

.particle:nth-of-type(42) {
  animation-delay: 0.27018s;
  left: calc((100% - 5em) * 0.82);
}

.particle:nth-of-type(43) {
  animation-delay: 0.5296s;
  left: calc((100% - 5em) * 0.84);
}

.particle:nth-of-type(44) {
  animation-delay: 0.71508s;
  left: calc((100% - 5em) * 0.86);
}

.particle:nth-of-type(45) {
  animation-delay: 0.75336s;
  left: calc((100% - 5em) * 0.88);
}

.particle:nth-of-type(46) {
  animation-delay: 0.06475s;
  left: calc((100% - 5em) * 0.9);
}

.particle:nth-of-type(47) {
  animation-delay: 0.81244s;
  left: calc((100% - 5em) * 0.92);
}

.particle:nth-of-type(48) {
  animation-delay: 0.13012s;
  left: calc((100% - 5em) * 0.94);
}

.particle:nth-of-type(49) {
  animation-delay: 0.33113s;
  left: calc((100% - 5em) * 0.96);
}

.particle:nth-of-type(50) {
  animation-delay: 0.72972s;
  left: calc((100% - 5em) * 0.98);
}

.blueFlame {
  background-image: radial-gradient(rgba(77, 247, 219, 0.363) 20%, rgba(3, 33, 117, 0.274) 70%);
}

.yellowFlame {
  background-image: radial-gradient(rgba(247, 216, 77, 0.363) 20%, rgba(117, 106, 3, 0.274) 70%);
}

.greenFlame {
  background-image: radial-gradient(rgba(125, 247, 77, 0.363) 20%, rgba(3, 117, 13, 0.274) 70%);
}

.redFlame {
  background-image: radial-gradient(rgba(247, 77, 77, 0.363) 20%, rgba(117, 20, 3, 0.274) 70%);
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-10em) scale(0);
  }
}

.multi_choice {
  pointer-events: all;
  width: 20vw;
  text-align: center;
  margin: auto auto;
  position: relative;
  z-index: 6;
  height: 6vh;
  font-family: Shojumaru;
  color: white;
  text-shadow: 0 0 1vh black, 0 0 .5vh black, 0 0 .75vh black, 0 0 1.25vh black, 0 0 .25vh black;
  font-size: 166%;
  left: 10vh;
}

.multi_choice.abil_name {
  top: 37vh;
}

.multi_choice.abil_count {
  top: 54vh;
  font-size: 151%;
}

.destined_for_DOOM img, .shadowStepWhite img {
  filter: invert(90%) saturate(8);
}

.avalanche_moveable {
  transform: scale(1.4);
  filter: contrast(1.25) brightness(1.5) saturate(1.5);
}

.glow_unused {
  z-index: 0;
}

.glow_unused:before {
  content: '';
  background: linear-gradient(45deg, #ff7300, #ffee00, #bbff00, #ffee00, #d9ff00, #ff9900, #e5ff00, #ffd000, #ffbb00);
  position: absolute;
  background-size: 400%;
  z-index: -1;
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(161% + 4px);
  border-radius: 10%;
  top: -41%;
}

.glow_unused {
  color: #000;
}

.glow_unused:before {
  opacity: 1;
}

.glow_unused:after {
  z-index: 0;
  content: '';
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowingbig {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 700% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#smallCardParagraph.skilling_declaration {
  width: 120%;
  height: 187%;
  top: -42%;
  border-radius: 50%;
  background-image: radial-gradient(circle at center, rgba(170, 253, 230, 0.75) 0%, rgba(40, 223, 206, 0.31) 50%, rgba(39, 176, 157, 0) 100%);
  left: -12%;
  box-shadow: 0 0 2vw;
}

.glow_BB_card {
  z-index: 0;
}

.glow_BB_card.booned:before {
  background: linear-gradient(45deg, #00b7ff, #7700ff, #00ffbf, #91ff00, #00fff2, #00aeff, #002fff, #00ff0d, #00ff4c);
  content: '';
  position: absolute;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(120% + 4px);
  height: calc(190% + 4px);
  border-radius: 50%;
  top: -54%;
  left: -20%;
  animation: glowingbig 20s linear infinite;
  transition: opacity .3s ease-in-out;
}

.glow_BB_card.blighted:before {
  background: linear-gradient(45deg, #ff7300, #430257, #115e02, #5e0303, #d9ff00, #ff5e00, red, #8c00ff, #88173d);
  content: '';
  position: absolute;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(120% + 4px);
  height: calc(190% + 4px);
  border-radius: 50%;
  top: -54%;
  left: -20%;
  animation: glowingbig 20s linear infinite;
  transition: opacity .3s ease-in-out;
}

.glow_BB_card {
  color: #000;
}

.glow_BB_card:before {
  opacity: 1;
}

.glow_BB_card:after {
  z-index: 0;
  content: '';
}

.activated {
  filter: grayscale(0.65) opacity(0.8);
}

.whiteTeam, .whiteTem {
  color: #000;
}

.whiteTeam:before, .whiteTem:before {
  content: '';
  background: linear-gradient(45deg, #8bfbff, #82ffee, #95ccff, #839aff, #9bf3ff, #bcf2ff, #76fff8, #94d4ff, #858dff);
  position: absolute;
  background-size: 400%;
  animation: glowing 15s linear infinite;
  transition: opacity .3s ease-in-out;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(161% + 4px);
  border-radius: 15%;
  top: -41%;
  opacity: 1;
}

.whiteTeam:after, .whiteTem:after {
  content: '';
}

.blackTeam, .blackTem {
  color: #000;
}

.blackTeam:before, .blackTem:before {
  content: '';
  background: linear-gradient(45deg, #c24506, #d11d10, #b6084b, #da255b, #c20e7d, #ce2b12, #e05b08, #bd05b0, #be0a8e);
  position: absolute;
  background-size: 400%;
  animation: glowing 15s linear infinite;
  transition: opacity .3s ease-in-out;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(161% + 4px);
  border-radius: 15%;
  top: -41%;
  opacity: 1;
}

.blackTeam:after, .blackTem:after {
  content: '';
}

.smallCard:active, #claimAction:active {
  transform: scale(0.9);
}

.hexagon:active {
  transform: scale(0.9);
}

.hexEaters.blighted.boon-blight {
  opacity: 1;
}
