@-webkit-keyframes objectiveGlow {
  0% {
    -webkit-box-shadow: 0 0 .5vw .4vw #b3b32a;
            box-shadow: 0 0 .5vw .4vw #b3b32a;
  }
  15% {
    -webkit-box-shadow: 0 0 .5vw .42vw #2ab34f;
            box-shadow: 0 0 .5vw .42vw #2ab34f;
  }
  30% {
    -webkit-box-shadow: 0 0 .5vw .44vw #2ab39b;
            box-shadow: 0 0 .5vw .44vw #2ab39b;
  }
  45% {
    -webkit-box-shadow: 0 0 .5vw .48vw #2a8cb3;
            box-shadow: 0 0 .5vw .48vw #2a8cb3;
  }
  60% {
    -webkit-box-shadow: 0 0 .5vw .50vw #792ab3;
            box-shadow: 0 0 .5vw .50vw #792ab3;
  }
  75% {
    -webkit-box-shadow: 0 0 .5vw .52vw #2a5ab3;
            box-shadow: 0 0 .5vw .52vw #2a5ab3;
  }
  90% {
    -webkit-box-shadow: 0 0 .5vw .55vw #b1b32a;
            box-shadow: 0 0 .5vw .55vw #b1b32a;
  }
  100% {
    -webkit-box-shadow: 0 0 .5vw .59vw white;
            box-shadow: 0 0 .5vw .59vw white;
  }
}

@keyframes objectiveGlow {
  0% {
    -webkit-box-shadow: 0 0 .5vw .4vw #b3b32a;
            box-shadow: 0 0 .5vw .4vw #b3b32a;
  }
  15% {
    -webkit-box-shadow: 0 0 .5vw .42vw #2ab34f;
            box-shadow: 0 0 .5vw .42vw #2ab34f;
  }
  30% {
    -webkit-box-shadow: 0 0 .5vw .44vw #2ab39b;
            box-shadow: 0 0 .5vw .44vw #2ab39b;
  }
  45% {
    -webkit-box-shadow: 0 0 .5vw .48vw #2a8cb3;
            box-shadow: 0 0 .5vw .48vw #2a8cb3;
  }
  60% {
    -webkit-box-shadow: 0 0 .5vw .50vw #792ab3;
            box-shadow: 0 0 .5vw .50vw #792ab3;
  }
  75% {
    -webkit-box-shadow: 0 0 .5vw .52vw #2a5ab3;
            box-shadow: 0 0 .5vw .52vw #2a5ab3;
  }
  90% {
    -webkit-box-shadow: 0 0 .5vw .55vw #b1b32a;
            box-shadow: 0 0 .5vw .55vw #b1b32a;
  }
  100% {
    -webkit-box-shadow: 0 0 .5vw .59vw white;
            box-shadow: 0 0 .5vw .59vw white;
  }
}

.obj1 {
  background-image: url("../img/1Obj.svg");
}

.obj2 {
  background-image: url("../img/2Obj.svg");
}

.obj3 {
  background-image: url("../img/3Obj.svg");
}

.objectiveGlow {
  -webkit-animation: 30s infinite alternate objectiveGlow;
          animation: 30s infinite alternate objectiveGlow;
}

.redGlow {
  -webkit-animation: 30s infinite alternate glowred;
          animation: 30s infinite alternate glowred;
}

@-webkit-keyframes glowred {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw red, 0 0 0.5vw 0.4vw inset red;
            box-shadow: 0 0 0.5vw 0.4vw red, 0 0 0.5vw 0.4vw inset red;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #af0000, 0 0 0.5vw 0.4vw inset #af0000;
            box-shadow: 0 0 0.5vw 0.42vw #af0000, 0 0 0.5vw 0.4vw inset #af0000;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #bb005d, 0 0 0.5vw 0.4vw inset #bb005d;
            box-shadow: 0 0 0.5vw 0.44vw #bb005d, 0 0 0.5vw 0.4vw inset #bb005d;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #c92c6d, 0 0 0.5vw 0.4vw inset #c92c6d;
            box-shadow: 0 0 0.5vw 0.48vw #c92c6d, 0 0 0.5vw 0.4vw inset #c92c6d;
  }
}

@keyframes glowred {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw red, 0 0 0.5vw 0.4vw inset red;
            box-shadow: 0 0 0.5vw 0.4vw red, 0 0 0.5vw 0.4vw inset red;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #af0000, 0 0 0.5vw 0.4vw inset #af0000;
            box-shadow: 0 0 0.5vw 0.42vw #af0000, 0 0 0.5vw 0.4vw inset #af0000;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #bb005d, 0 0 0.5vw 0.4vw inset #bb005d;
            box-shadow: 0 0 0.5vw 0.44vw #bb005d, 0 0 0.5vw 0.4vw inset #bb005d;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #c92c6d, 0 0 0.5vw 0.4vw inset #c92c6d;
            box-shadow: 0 0 0.5vw 0.48vw #c92c6d, 0 0 0.5vw 0.4vw inset #c92c6d;
  }
}

.blueGlow {
  -webkit-animation: 30s infinite alternate glowblue;
          animation: 30s infinite alternate glowblue;
}

@-webkit-keyframes glowblue {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw #0026ff, 0 0 0.5vw 0.4vw inset #0026ff;
            box-shadow: 0 0 0.5vw 0.4vw #0026ff, 0 0 0.5vw 0.4vw inset #0026ff;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #00af98, 0 0 0.5vw 0.4vw inset #00af98;
            box-shadow: 0 0 0.5vw 0.42vw #00af98, 0 0 0.5vw 0.4vw inset #00af98;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #00bb9c, 0 0 0.5vw 0.4vw inset #00bb9c;
            box-shadow: 0 0 0.5vw 0.44vw #00bb9c, 0 0 0.5vw 0.4vw inset #00bb9c;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #6e4ec4, 0 0 0.5vw 0.4vw inset #6e4ec4;
            box-shadow: 0 0 0.5vw 0.48vw #6e4ec4, 0 0 0.5vw 0.4vw inset #6e4ec4;
  }
}

@keyframes glowblue {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw #0026ff, 0 0 0.5vw 0.4vw inset #0026ff;
            box-shadow: 0 0 0.5vw 0.4vw #0026ff, 0 0 0.5vw 0.4vw inset #0026ff;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #00af98, 0 0 0.5vw 0.4vw inset #00af98;
            box-shadow: 0 0 0.5vw 0.42vw #00af98, 0 0 0.5vw 0.4vw inset #00af98;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #00bb9c, 0 0 0.5vw 0.4vw inset #00bb9c;
            box-shadow: 0 0 0.5vw 0.44vw #00bb9c, 0 0 0.5vw 0.4vw inset #00bb9c;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #6e4ec4, 0 0 0.5vw 0.4vw inset #6e4ec4;
            box-shadow: 0 0 0.5vw 0.48vw #6e4ec4, 0 0 0.5vw 0.4vw inset #6e4ec4;
  }
}

.yellowGlow {
  -webkit-animation: 30s infinite alternate glowyellow;
          animation: 30s infinite alternate glowyellow;
}

@-webkit-keyframes glowyellow {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw #eeff00, 0 0 0.5vw 0.4vw inset #eeff00;
            box-shadow: 0 0 0.5vw 0.4vw #eeff00, 0 0 0.5vw 0.4vw inset #eeff00;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #ecf000, 0 0 0.5vw 0.4vw inset #ecf000;
            box-shadow: 0 0 0.5vw 0.42vw #ecf000, 0 0 0.5vw 0.4vw inset #ecf000;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #fcee77, 0 0 0.5vw 0.4vw inset #fcee77;
            box-shadow: 0 0 0.5vw 0.44vw #fcee77, 0 0 0.5vw 0.4vw inset #fcee77;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #fffb2a, 0 0 0.5vw 0.4vw inset #fffb2a;
            box-shadow: 0 0 0.5vw 0.48vw #fffb2a, 0 0 0.5vw 0.4vw inset #fffb2a;
  }
}

@keyframes glowyellow {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw #eeff00, 0 0 0.5vw 0.4vw inset #eeff00;
            box-shadow: 0 0 0.5vw 0.4vw #eeff00, 0 0 0.5vw 0.4vw inset #eeff00;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #ecf000, 0 0 0.5vw 0.4vw inset #ecf000;
            box-shadow: 0 0 0.5vw 0.42vw #ecf000, 0 0 0.5vw 0.4vw inset #ecf000;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #fcee77, 0 0 0.5vw 0.4vw inset #fcee77;
            box-shadow: 0 0 0.5vw 0.44vw #fcee77, 0 0 0.5vw 0.4vw inset #fcee77;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #fffb2a, 0 0 0.5vw 0.4vw inset #fffb2a;
            box-shadow: 0 0 0.5vw 0.48vw #fffb2a, 0 0 0.5vw 0.4vw inset #fffb2a;
  }
}

.greenGlow {
  -webkit-animation: 30s infinite alternate glowgreen;
          animation: 30s infinite alternate glowgreen;
}

@-webkit-keyframes glowgreen {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw #51ff00, 0 0 0.5vw 0.4vw inset #51ff00;
            box-shadow: 0 0 0.5vw 0.4vw #51ff00, 0 0 0.5vw 0.4vw inset #51ff00;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #00f00c, 0 0 0.5vw 0.4vw inset #00f00c;
            box-shadow: 0 0 0.5vw 0.42vw #00f00c, 0 0 0.5vw 0.4vw inset #00f00c;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #549b43, 0 0 0.5vw 0.4vw inset #549b43;
            box-shadow: 0 0 0.5vw 0.44vw #549b43, 0 0 0.5vw 0.4vw inset #549b43;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #49bb08, 0 0 0.5vw 0.4vw inset #49bb08;
            box-shadow: 0 0 0.5vw 0.48vw #49bb08, 0 0 0.5vw 0.4vw inset #49bb08;
  }
}

@keyframes glowgreen {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw #51ff00, 0 0 0.5vw 0.4vw inset #51ff00;
            box-shadow: 0 0 0.5vw 0.4vw #51ff00, 0 0 0.5vw 0.4vw inset #51ff00;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #00f00c, 0 0 0.5vw 0.4vw inset #00f00c;
            box-shadow: 0 0 0.5vw 0.42vw #00f00c, 0 0 0.5vw 0.4vw inset #00f00c;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #549b43, 0 0 0.5vw 0.4vw inset #549b43;
            box-shadow: 0 0 0.5vw 0.44vw #549b43, 0 0 0.5vw 0.4vw inset #549b43;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #49bb08, 0 0 0.5vw 0.4vw inset #49bb08;
            box-shadow: 0 0 0.5vw 0.48vw #49bb08, 0 0 0.5vw 0.4vw inset #49bb08;
  }
}

.legendaryGlow {
  -webkit-animation: 30s infinite alternate glowgoldenrod;
          animation: 30s infinite alternate glowgoldenrod;
}

@-webkit-keyframes glowgoldenrod {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
            box-shadow: 0 0 0.5vw 0.4vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
            box-shadow: 0 0 0.5vw 0.42vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
            box-shadow: 0 0 0.5vw 0.44vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
            box-shadow: 0 0 0.5vw 0.48vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
  }
}

@keyframes glowgoldenrod {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
            box-shadow: 0 0 0.5vw 0.4vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
            box-shadow: 0 0 0.5vw 0.42vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
            box-shadow: 0 0 0.5vw 0.44vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
            box-shadow: 0 0 0.5vw 0.48vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
  }
}

.claimColor {
  -webkit-animation: 30s infinite alternate glowwhite;
          animation: 30s infinite alternate glowwhite;
}

@-webkit-keyframes glowwhite {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw whitesmoke, 0 0 0.5vw 0.4vw inset whitesmoke;
            box-shadow: 0 0 0.5vw 0.4vw whitesmoke, 0 0 0.5vw 0.4vw inset whitesmoke;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #c2c5c2, 0 0 0.5vw 0.4vw inset #c2c5c2;
            box-shadow: 0 0 0.5vw 0.42vw #c2c5c2, 0 0 0.5vw 0.4vw inset #c2c5c2;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #f3f3f3, 0 0 0.5vw 0.4vw inset #f3f3f3;
            box-shadow: 0 0 0.5vw 0.44vw #f3f3f3, 0 0 0.5vw 0.4vw inset #f3f3f3;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #eefae7, 0 0 0.5vw 0.4vw inset #eefae7;
            box-shadow: 0 0 0.5vw 0.48vw #eefae7, 0 0 0.5vw 0.4vw inset #eefae7;
  }
}

@keyframes glowwhite {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw whitesmoke, 0 0 0.5vw 0.4vw inset whitesmoke;
            box-shadow: 0 0 0.5vw 0.4vw whitesmoke, 0 0 0.5vw 0.4vw inset whitesmoke;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #c2c5c2, 0 0 0.5vw 0.4vw inset #c2c5c2;
            box-shadow: 0 0 0.5vw 0.42vw #c2c5c2, 0 0 0.5vw 0.4vw inset #c2c5c2;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #f3f3f3, 0 0 0.5vw 0.4vw inset #f3f3f3;
            box-shadow: 0 0 0.5vw 0.44vw #f3f3f3, 0 0 0.5vw 0.4vw inset #f3f3f3;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #eefae7, 0 0 0.5vw 0.4vw inset #eefae7;
            box-shadow: 0 0 0.5vw 0.48vw #eefae7, 0 0 0.5vw 0.4vw inset #eefae7;
  }
}

@-webkit-keyframes popbigAndSmall {
  10% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  26% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  48% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  76% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popbigAndSmall {
  10% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  26% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  48% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  76% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.selected-model {
  -webkit-box-shadow: 0 0 3vh #0870b8, 0 0 1vh #0870b8, 0 0 2.5vh #0870b8, 0 0 2vh #0870b8;
          box-shadow: 0 0 3vh #0870b8, 0 0 1vh #0870b8, 0 0 2.5vh #0870b8, 0 0 2vh #0870b8;
  z-index: 10;
  -webkit-animation: forwards 2s popbigAndSmall;
          animation: forwards 2s popbigAndSmall;
}

.selected-enemy-model {
  -webkit-box-shadow: 0 0 3vh #ee4135, 0 0 1vh #ee4135, 0 0 2.5vh #ee4135, 0 0 2vh #ee4135;
          box-shadow: 0 0 3vh #ee4135, 0 0 1vh #ee4135, 0 0 2.5vh #ee4135, 0 0 2vh #ee4135;
  z-index: 10;
  -webkit-animation: forwards 2s popbigAndSmall;
          animation: forwards 2s popbigAndSmall;
}

@-webkit-keyframes coinPulse {
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes coinPulse {
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

#coin {
  width: 1px;
  height: 1px;
  margin: auto auto;
  border-radius: 50%;
  background-color: goldenrod;
  -webkit-box-shadow: 0 0 1vh 2vh goldenrod;
          box-shadow: 0 0 1vh 2vh goldenrod;
  -webkit-animation: alternate infinite 4s coinPulse;
          animation: alternate infinite 4s coinPulse;
}

[data-glow="redGlow"] {
  -webkit-animation: 30s infinite alternate glowred;
          animation: 30s infinite alternate glowred;
}

@keyframes glowred {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw red, 0 0 0.5vw 0.4vw inset red;
            box-shadow: 0 0 0.5vw 0.4vw red, 0 0 0.5vw 0.4vw inset red;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #af0000, 0 0 0.5vw 0.4vw inset #af0000;
            box-shadow: 0 0 0.5vw 0.42vw #af0000, 0 0 0.5vw 0.4vw inset #af0000;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #bb005d, 0 0 0.5vw 0.4vw inset #bb005d;
            box-shadow: 0 0 0.5vw 0.44vw #bb005d, 0 0 0.5vw 0.4vw inset #bb005d;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #c92c6d, 0 0 0.5vw 0.4vw inset #c92c6d;
            box-shadow: 0 0 0.5vw 0.48vw #c92c6d, 0 0 0.5vw 0.4vw inset #c92c6d;
  }
}

[data-glow="blueGlow"] {
  -webkit-animation: 30s infinite alternate glowblue;
          animation: 30s infinite alternate glowblue;
}

@keyframes glowblue {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw #0026ff, 0 0 0.5vw 0.4vw inset #0026ff;
            box-shadow: 0 0 0.5vw 0.4vw #0026ff, 0 0 0.5vw 0.4vw inset #0026ff;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #00af98, 0 0 0.5vw 0.4vw inset #00af98;
            box-shadow: 0 0 0.5vw 0.42vw #00af98, 0 0 0.5vw 0.4vw inset #00af98;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #00bb9c, 0 0 0.5vw 0.4vw inset #00bb9c;
            box-shadow: 0 0 0.5vw 0.44vw #00bb9c, 0 0 0.5vw 0.4vw inset #00bb9c;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #6e4ec4, 0 0 0.5vw 0.4vw inset #6e4ec4;
            box-shadow: 0 0 0.5vw 0.48vw #6e4ec4, 0 0 0.5vw 0.4vw inset #6e4ec4;
  }
}

[data-glow="yellowGlow"] {
  -webkit-animation: 30s infinite alternate glowyellow;
          animation: 30s infinite alternate glowyellow;
}

@keyframes glowyellow {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw #eeff00, 0 0 0.5vw 0.4vw inset #eeff00;
            box-shadow: 0 0 0.5vw 0.4vw #eeff00, 0 0 0.5vw 0.4vw inset #eeff00;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #ecf000, 0 0 0.5vw 0.4vw inset #ecf000;
            box-shadow: 0 0 0.5vw 0.42vw #ecf000, 0 0 0.5vw 0.4vw inset #ecf000;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #fcee77, 0 0 0.5vw 0.4vw inset #fcee77;
            box-shadow: 0 0 0.5vw 0.44vw #fcee77, 0 0 0.5vw 0.4vw inset #fcee77;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #fffb2a, 0 0 0.5vw 0.4vw inset #fffb2a;
            box-shadow: 0 0 0.5vw 0.48vw #fffb2a, 0 0 0.5vw 0.4vw inset #fffb2a;
  }
}

[data-glow="greenGlow"] {
  -webkit-animation: 30s infinite alternate glowgreen;
          animation: 30s infinite alternate glowgreen;
}

@keyframes glowgreen {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw #51ff00, 0 0 0.5vw 0.4vw inset #51ff00;
            box-shadow: 0 0 0.5vw 0.4vw #51ff00, 0 0 0.5vw 0.4vw inset #51ff00;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #00f00c, 0 0 0.5vw 0.4vw inset #00f00c;
            box-shadow: 0 0 0.5vw 0.42vw #00f00c, 0 0 0.5vw 0.4vw inset #00f00c;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #549b43, 0 0 0.5vw 0.4vw inset #549b43;
            box-shadow: 0 0 0.5vw 0.44vw #549b43, 0 0 0.5vw 0.4vw inset #549b43;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #49bb08, 0 0 0.5vw 0.4vw inset #49bb08;
            box-shadow: 0 0 0.5vw 0.48vw #49bb08, 0 0 0.5vw 0.4vw inset #49bb08;
  }
}

[data-glow="legendaryGlow"] {
  -webkit-animation: 30s infinite alternate glowgoldenrod;
          animation: 30s infinite alternate glowgoldenrod;
}

@keyframes glowgoldenrod {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
            box-shadow: 0 0 0.5vw 0.4vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
            box-shadow: 0 0 0.5vw 0.42vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
            box-shadow: 0 0 0.5vw 0.44vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
            box-shadow: 0 0 0.5vw 0.48vw goldenrod, 0 0 0.5vw 0.4vw inset goldenrod;
  }
}

[data-glow="claimColor"] {
  -webkit-animation: 30s infinite alternate glowwhite;
          animation: 30s infinite alternate glowwhite;
}

@keyframes glowwhite {
  0% {
    -webkit-box-shadow: 0 0 0.5vw 0.4vw whitesmoke, 0 0 0.5vw 0.4vw inset whitesmoke;
            box-shadow: 0 0 0.5vw 0.4vw whitesmoke, 0 0 0.5vw 0.4vw inset whitesmoke;
  }
  33% {
    -webkit-box-shadow: 0 0 0.5vw 0.42vw #c2c5c2, 0 0 0.5vw 0.4vw inset #c2c5c2;
            box-shadow: 0 0 0.5vw 0.42vw #c2c5c2, 0 0 0.5vw 0.4vw inset #c2c5c2;
  }
  66% {
    -webkit-box-shadow: 0 0 0.5vw 0.44vw #f3f3f3, 0 0 0.5vw 0.4vw inset #f3f3f3;
            box-shadow: 0 0 0.5vw 0.44vw #f3f3f3, 0 0 0.5vw 0.4vw inset #f3f3f3;
  }
  100% {
    -webkit-box-shadow: 0 0 0.5vw 0.48vw #eefae7, 0 0 0.5vw 0.4vw inset #eefae7;
            box-shadow: 0 0 0.5vw 0.48vw #eefae7, 0 0 0.5vw 0.4vw inset #eefae7;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shakeModel.champModel {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes deathGrip {
  0% {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  100% {
    -webkit-filter: grayscale(0.77);
            filter: grayscale(0.77);
  }
}

@keyframes deathGrip {
  0% {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  100% {
    -webkit-filter: grayscale(0.77);
            filter: grayscale(0.77);
  }
}

.death {
  -webkit-animation: forwards 1s deathGrip;
          animation: forwards 1s deathGrip;
}

.resurrecting {
  animation: reverse 1s deathGrip;
}
/*# sourceMappingURL=gameEffects.css.map */