@keyframes objectiveGlow {
    0%{
        box-shadow: 0 0 .5vw .4vw #b3b32a;
    }
    15%{
        box-shadow: 0 0 .5vw .42vw #2ab34f;
    }
    30%{
        box-shadow: 0 0 .5vw .44vw #2ab39b;
    }
    45%{
        box-shadow: 0 0 .5vw .48vw #2a8cb3;
    }
    60%{
        box-shadow: 0 0 .5vw .50vw #792ab3;
    }
    75%{
        box-shadow: 0 0 .5vw .52vw #2a5ab3;
    }
    90%{
        box-shadow: 0 0 .5vw .55vw #b1b32a;
    }
    100%{
        box-shadow: 0 0 .5vw .59vw white;
    }
}
.obj1 {background-image:url("../img/1Obj.svg")}
.obj2 {background-image:url("../img/2Obj.svg")}
.obj3 {background-image:url("../img/3Obj.svg")}

.objectiveGlow{
    animation: 30s infinite alternate objectiveGlow;
}

@mixin makeGlow ($name, $color1, $color2, $color3, $color4){
    @keyframes glow#{$name} {
        0%{
            box-shadow: 0 0 .5vw .4vw $color1, 0 0 .5vw .4vw inset $color1;
        }
        33%{
            box-shadow: 0 0 .5vw .42vw $color2, 0 0 .5vw .4vw inset $color2;
        }
        66%{
            box-shadow: 0 0 .5vw .44vw $color3, 0 0 .5vw .4vw inset $color3;
        }
        100%{
            box-shadow: 0 0 .5vw .48vw $color4, 0 0 .5vw .4vw inset $color4;
        }
    };
    animation: 30s infinite alternate glow#{$name};
}

.redGlow{
    @include makeGlow('red', rgb(255, 0, 0), rgb(175, 0, 0), rgb(187, 0, 93), rgb(201, 44, 109))
}
.blueGlow{
    @include makeGlow('blue', rgb(0, 38, 255), rgb(0, 175, 152), rgb(0, 187, 156), rgb(110, 78, 196))
}
.yellowGlow{
    @include makeGlow('yellow', rgb(238, 255, 0), rgb(236, 240, 0), rgb(252, 238, 119), rgb(255, 251, 42))
}
.greenGlow{
    @include makeGlow('green', rgb(81, 255, 0), rgb(0, 240, 12), rgb(84, 155, 67), rgb(73, 187, 8))
}
.legendaryGlow{
    @include makeGlow('goldenrod', goldenrod, goldenrod, goldenrod, goldenrod)
}
.claimColor{
    @include makeGlow('white', rgb(245, 245, 245), rgb(194, 197, 194), rgb(243, 243, 243), rgb(238, 250, 231))
}
@keyframes popbigAndSmall{
    10%{transform:scale(.7)}
    26%{transform:scale(1.3)}
    48%{transform:scale(.9)}
    76%{transform:scale(1.2)}
    100%{transform: scale(1)}
}
$selectedAllyGlow:rgba(8, 112, 184, 1);
$selectedByEnemyGlow:rgba(238, 65, 53, 1);
.selected-model{
    box-shadow: 0 0 3vh $selectedAllyGlow,0 0 1vh $selectedAllyGlow,0 0 2.5vh $selectedAllyGlow, 0 0 2vh $selectedAllyGlow;
    z-index:10;
    animation: forwards 2s popbigAndSmall;
}
.selected-enemy-model{
    box-shadow: 0 0 3vh $selectedByEnemyGlow,0 0 1vh $selectedByEnemyGlow,0 0 2.5vh $selectedByEnemyGlow, 0 0 2vh $selectedByEnemyGlow;
    z-index:10;
    animation: forwards 2s popbigAndSmall;
}
@keyframes coinPulse {
    25%{transform:scale(1.1)}
    75%{transform: scale(.8);}
}
#coin{
    width:1px;
    height: 1px;
    margin:auto auto;
    border-radius: 50%;
    background-color: goldenrod;
    box-shadow: 0 0 1vh 2vh rgba(218, 165, 32, 1);
    position:relative;
    animation: alternate infinite 4s coinPulse;
}
[data-glow="redGlow"]{
    @include makeGlow('red', rgb(255, 0, 0), rgb(175, 0, 0), rgb(187, 0, 93), rgb(201, 44, 109))
}
[data-glow="blueGlow"]{
    @include makeGlow('blue', rgb(0, 38, 255), rgb(0, 175, 152), rgb(0, 187, 156), rgb(110, 78, 196))
}
[data-glow="yellowGlow"]{
    @include makeGlow('yellow', rgb(238, 255, 0), rgb(236, 240, 0), rgb(252, 238, 119), rgb(255, 251, 42))
}
[data-glow="greenGlow"]{
    @include makeGlow('green', rgb(81, 255, 0), rgb(0, 240, 12), rgb(84, 155, 67), rgb(73, 187, 8))
}
[data-glow="legendaryGlow"]{
    @include makeGlow('goldenrod', goldenrod, goldenrod, goldenrod, goldenrod)
}
[data-glow="claimColor"]{
    @include makeGlow('white', rgb(245, 245, 245), rgb(194, 197, 194), rgb(243, 243, 243), rgb(238, 250, 231))
}
[data-glow="straitPaths"], [data-glow="straitPaths1"], [data-glow="straitPaths2"], [data-glow="straitPaths3"], [data-glow="straitPaths4"], [data-glow="straitPaths5"], [data-glow="straitPaths6"]{
    @include makeGlow('white', rgb(239, 255, 95), rgb(166, 255, 166), rgb(255, 252, 45), rgb(152, 241, 101))
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .shakeModel.champModel{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  @keyframes deathGrip {
    0%{
      filter:grayscale(0)
    }
      100%{
        filter:grayscale(.77)
      }
  }
  .death{
      animation: forwards 1s deathGrip;
  }

  .resurrecting{
      animation: reverse 1s deathGrip;
  }
  .illKillYouAll, .outflank{
    filter: invert(18%) saturate(141);
  }
























  //---------------------FIRE---------------------------
$dur: 1s;
$blur: 0.02em;
$fireRad: 3em;
$parts: 50;
$partSize: 5em;
#multi_choice_info_panel{
    position: relative;
    z-index: 4;
    width: 0;
    height: 0;
    bottom: 45.88vh;
    left: -55vw;
}
.fire {
    pointer-events: none;
	font-size: 24px;
	filter: blur($blur);
	-webkit-filter: blur($blur);
	margin: 3em auto 0 auto;
	position: relative;
	width: 10em;
    height: 12em;
    transform: scale(.55,.3);
    transform-origin:bottom;
}
.particle {
	animation: rise $dur ease-in infinite;
	border-radius: 50%;
	mix-blend-mode: screen;
	opacity: 0;
	position: absolute;
	bottom: 0;
	width: $partSize;
	height: $partSize;
	// spread particles out in time and x-position to get desired effect
	@for $p from 1 through $parts {
		&:nth-of-type(#{$p}) {
			animation-delay: $dur * random();
			left: calc((100% - #{$partSize}) * #{($p - 1)/$parts});
		}
	}
}
.blueFlame{background-image: radial-gradient(rgba(77, 247, 219, 0.363) 20%, rgba(3, 33, 117, 0.274) 70%);}
.yellowFlame{background-image: radial-gradient(rgba(247, 216, 77, 0.363) 20%, rgba(117, 106, 3, 0.274) 70%);}
.greenFlame{background-image: radial-gradient(rgba(125, 247, 77, 0.363) 20%, rgba(3, 117, 13, 0.274) 70%);}
.redFlame{background-image: radial-gradient(rgba(247, 77, 77, 0.363) 20%, rgba(117, 20, 3, 0.274) 70%);}
@keyframes rise {
	from {
		opacity: 0;
		transform: translateY(0) scale(1);
	}
	25% {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translateY(-10em) scale(0);
	}
}
.multi_choice{
    pointer-events: all;
    width: 20vw;
    text-align: center;
    margin: auto auto;
    position: relative;
    z-index: 6;
    height: 0;
    font-family: Shojumaru;
    color: white;
    text-shadow: 0 0 1vh black, 0 0 .5vh black, 0 0 .75vh black, 0 0 1.25vh black, 0 0 .25vh black;
    font-size: 86%;
    left:10vh;
}
.multi_choice.abil_name{
    top:82vh;
}
.multi_choice.abil_count{
    top:89vh;
    font-size:90%;
}
.destined_for_DOOM{
    img{
        filter: invert(90%) saturate(8);
    }
}