@keyframes objectiveGlow {
    0%{
        box-shadow: 0 0 .5vw .4vw #b3b32a;
    }
    15%{
        box-shadow: 0 0 .5vw .42vw #2ab34f;
    }
    30%{
        box-shadow: 0 0 .5vw .44vw #2ab39b;
    }
    45%{
        box-shadow: 0 0 .5vw .48vw #2a8cb3;
    }
    60%{
        box-shadow: 0 0 .5vw .50vw #792ab3;
    }
    75%{
        box-shadow: 0 0 .5vw .52vw #2a5ab3;
    }
    90%{
        box-shadow: 0 0 .5vw .55vw #b1b32a;
    }
    100%{
        box-shadow: 0 0 .5vw .59vw white;
    }
}
.obj1 {background-image:url("../img/1Obj.svg")}
.obj2 {background-image:url("../img/2Obj.svg")}
.obj3 {background-image:url("../img/3Obj.svg")}

.objectiveGlow{
    animation: 30s infinite alternate objectiveGlow;
}

@mixin makeGlow ($name, $color1, $color2, $color3, $color4){
    @keyframes glow#{$name} {
        0%{
            box-shadow: 0 0 .5vw .4vw $color1, 0 0 .5vw .4vw inset $color1;
        }
        33%{
            box-shadow: 0 0 .5vw .42vw $color2, 0 0 .5vw .4vw inset $color2;
        }
        66%{
            box-shadow: 0 0 .5vw .44vw $color3, 0 0 .5vw .4vw inset $color3;
        }
        100%{
            box-shadow: 0 0 .5vw .48vw $color4, 0 0 .5vw .4vw inset $color4;
        }
    };
    animation: 30s infinite alternate glow#{$name};
}

.redGlow{
    @include makeGlow('red', rgb(255, 0, 0), rgb(175, 0, 0), rgb(187, 0, 93), rgb(201, 44, 109))
}
.blueGlow{
    @include makeGlow('blue', rgb(0, 38, 255), rgb(0, 175, 152), rgb(0, 187, 156), rgb(110, 78, 196))
}
.yellowGlow{
    @include makeGlow('yellow', rgb(238, 255, 0), rgb(236, 240, 0), rgb(252, 238, 119), rgb(255, 251, 42))
}
.greenGlow{
    @include makeGlow('green', rgb(81, 255, 0), rgb(0, 240, 12), rgb(84, 155, 67), rgb(73, 187, 8))
}
.legendaryGlow{
    @include makeGlow('goldenrod', goldenrod, goldenrod, goldenrod, goldenrod)
}
.claimColor{
    @include makeGlow('white', rgb(245, 245, 245), rgb(194, 197, 194), rgb(243, 243, 243), rgb(238, 250, 231))
}
@keyframes popbigAndSmall{
    10%{transform:scale(.7)}
    26%{transform:scale(1.3)}
    48%{transform:scale(.9)}
    76%{transform:scale(1.2)}
    100%{transform: scale(1)}
}
$selectedAllyGlow:rgba(8, 112, 184, 1);
$selectedByEnemyGlow:rgba(238, 65, 53, 1);
.selected-model{
    box-shadow: 0 0 3vh $selectedAllyGlow,0 0 1vh $selectedAllyGlow,0 0 2.5vh $selectedAllyGlow, 0 0 2vh $selectedAllyGlow;
    z-index:10;
    animation: forwards 2s popbigAndSmall;
}
.selected-enemy-model{
    box-shadow: 0 0 3vh $selectedByEnemyGlow,0 0 1vh $selectedByEnemyGlow,0 0 2.5vh $selectedByEnemyGlow, 0 0 2vh $selectedByEnemyGlow;
    z-index:10;
    animation: forwards 2s popbigAndSmall;
}
@keyframes coinPulse {
    25%{transform:scale(1.1)}
    75%{transform: scale(.8);}
}
#coin{
    width:1px;
    height: 1px;
    margin:auto auto;
    border-radius: 50%;
    background-color: goldenrod;
    box-shadow: 0 0 1vh 2vh rgba(218, 165, 32, 1);
    animation: alternate infinite 4s coinPulse;
}
[data-glow="redGlow"]{
    @include makeGlow('red', rgb(255, 0, 0), rgb(175, 0, 0), rgb(187, 0, 93), rgb(201, 44, 109))
}
[data-glow="blueGlow"]{
    @include makeGlow('blue', rgb(0, 38, 255), rgb(0, 175, 152), rgb(0, 187, 156), rgb(110, 78, 196))
}
[data-glow="yellowGlow"]{
    @include makeGlow('yellow', rgb(238, 255, 0), rgb(236, 240, 0), rgb(252, 238, 119), rgb(255, 251, 42))
}
[data-glow="greenGlow"]{
    @include makeGlow('green', rgb(81, 255, 0), rgb(0, 240, 12), rgb(84, 155, 67), rgb(73, 187, 8))
}
[data-glow="legendaryGlow"]{
    @include makeGlow('goldenrod', goldenrod, goldenrod, goldenrod, goldenrod)
}
[data-glow="claimColor"]{
    @include makeGlow('white', rgb(245, 245, 245), rgb(194, 197, 194), rgb(243, 243, 243), rgb(238, 250, 231))
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .shakeModel.champModel{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  @keyframes deathGrip {
    0%{
      filter:grayscale(0)
    }
      100%{
        filter:grayscale(.77)
      }
  }
  .death{
      animation: forwards 1s deathGrip;
  }

  .resurrecting{
      animation: reverse 1s deathGrip;
  }