* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.selection_card_champion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
  PADDING: 2vh;
}

.selection_card_stats {
  width: 95vh;
  height: 100%;
  display: flex;
}

.selection_card_hexagram {
  position: relative;
  width: 10vh;
  height: 5.774vh;
  margin: 1.787vh 0;
  background-size: auto 9.93042vh;
  background-position: center;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  border-left: solid 0.7vh #333333;
  border-right: solid 0.7vh #333333;
  padding: 1vh;
}

.selection_card_hexagram:after {
  content: "";
  position: absolute;
  top: 0.40415vh;
  left: 0;
  width: 8.6vh;
  height: 4.965vh;
  z-index: 2;
  background: inherit;
}

.selection_card_hexagram img {
  height: 11.6665vh;
  width: 10.5vh;
  position: relative;
  top: -3.426vh;
  left: -0.89374vh;
  z-index: 2;
}

.selection_card_hexagram .top, .selection_card_hexagram .bottom {
  position: absolute;
  z-index: 1;
  width: 7.071vh;
  height: 7.071vh;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 0.764vh;
}

.selection_card_hexagram .top:before, .selection_card_hexagram .top:after, .selection_card_hexagram .bottom:before, .selection_card_hexagram .bottom:after {
  content: "";
  position: absolute;
  width: 8.6vh;
  height: 4.965vh;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-2.48261vh);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-2.48261vh);
  transform: rotate(45deg) scaleY(1.7321) translateY(-2.48261vh);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.selection_card_hexagram .top {
  top: -3.53553vh;
  border-top: solid 0.98995vh #333333;
  border-right: solid 0.98995vh #333333;
}

.selection_card_hexagram .top:after {
  background-position: center top;
}

.selection_card_hexagram .bottom {
  bottom: -3.53553vh;
  border-bottom: solid 0.98995vh #333333;
  border-left: solid 0.98995vh #333333;
}

.selection_card_hexagram .bottom:after {
  background-position: center bottom;
}

.attribute {
  font-size: large;
  font-weight: 900;
}

.card_attribute {
  position: relative;
  font-size: 6vh;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: -1.1vh;
}

.card_hex_big {
  position: relative;
  width: 20vh;
  height: 11.548vh;
  margin: 3.574vh 0;
  background-size: auto 19.86084vh;
  background-position: center;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  border-left: solid 1.4vh #333333;
  border-right: solid 1.4vh #333333;
}

.card_hex_big:after {
  content: "";
  position: absolute;
  top: 0.8083vh;
  left: 0;
  width: 17.2vh;
  height: 9.93vh;
  z-index: 2;
  background: inherit;
}

.card_hex_big img {
  height: 23.333vh;
  width: 21vh;
  position: relative;
  top: -6.852vh;
  left: -1.78748vh;
  z-index: 2;
}

.card_hex_big .top, .card_hex_big .bottom {
  position: absolute;
  z-index: 1;
  width: 14.142vh;
  height: 14.142vh;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 1.528vh;
}

.card_hex_big .top:before, .card_hex_big .top:after, .card_hex_big .bottom:before, .card_hex_big .bottom:after {
  content: "";
  position: absolute;
  width: 17.2vh;
  height: 9.93vh;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-4.96522vh);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-4.96522vh);
  transform: rotate(45deg) scaleY(1.7321) translateY(-4.96522vh);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.card_hex_big .top {
  top: -7.07106vh;
  border-top: solid 1.9799vh #333333;
  border-right: solid 1.9799vh #333333;
}

.card_hex_big .top:after {
  background-position: center top;
}

.card_hex_big .bottom {
  bottom: -7.07106vh;
  border-bottom: solid 1.9799vh #333333;
  border-left: solid 1.9799vh #333333;
}

.card_hex_big .bottom:after {
  background-position: center bottom;
}

#bandSelection {
  background: #a8956b;
  height: 100vh;
  width: 30vw;
}

.selection_section {
  height: 25vh;
  width: 100%;
  box-shadow: inset 0 0 3vh black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-position: center;
}

.selection_class_banner {
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 21vh;
  z-index: 3;
}

.selection_heroImg {
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 21vh;
  z-index: 3;
  z-index: 2;
}

.selection_backward {
  width: 0;
  height: 0;
  border-top: 5vh solid transparent;
  border-bottom: 5vh solid transparent;
  border-right: 5vh solid #b9d8d4;
  z-index: 3;
  top: -5vh;
  left: 1vh;
  position: relative;
}

.selection_backward_frame {
  transform: scale(1.2);
  width: 0;
  height: 0;
  border-top: 7vh solid transparent;
  border-bottom: 7vh solid transparent;
  border-right: 7vh solid #5c4a18;
  border-left: none;
  z-index: 2;
}

#selection_guardian:after {
  background-image: url("../../img/classGuardian.png");
  content: "";
  opacity: 0.32;
  left: 0;
  width: 60vh;
  height: 25vh;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  box-shadow: inset 0 0 1vh black, inset 0 0 2vh black, inset 0 0 3vh black, inset 0 0 4vh black, inset 0 0 5vh black;
  top: 0vh;
}

#selection_shaper:after {
  background-image: url("../../img/classShaper.png");
  content: "";
  opacity: 0.32;
  left: 0;
  width: 60vh;
  height: 25vh;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  box-shadow: inset 0 0 1vh black, inset 0 0 2vh black, inset 0 0 3vh black, inset 0 0 4vh black, inset 0 0 5vh black;
  top: 25vh;
}

#selection_slayer:after {
  background-image: url("../../img/classSlayer.png");
  content: "";
  opacity: 0.32;
  left: 0;
  width: 60vh;
  height: 25vh;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  box-shadow: inset 0 0 1vh black, inset 0 0 2vh black, inset 0 0 3vh black, inset 0 0 4vh black, inset 0 0 5vh black;
  top: 50vh;
}

#selection_maelstrom:after {
  background-image: url("../../img/classMaelstrom.png");
  content: "";
  opacity: 0.32;
  left: 0;
  width: 60vh;
  height: 25vh;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  box-shadow: inset 0 0 1vh black, inset 0 0 2vh black, inset 0 0 3vh black, inset 0 0 4vh black, inset 0 0 5vh black;
  top: 75vh;
}

.selection_banner_shaper {
  background-image: url("../../img/classShaper.png");
}

.selection_banner_slayer {
  background-image: url("../../img/classSlayer.png");
}

.selection_banner_maelstrom {
  background-image: url("../../img/classMaelstrom.png");
}

.selection_banner_guardian {
  background-image: url("../../img/classGuardian.png");
}

.selection_rhodri {
  color: white;
}

#selection_card {
  box-shadow: inset 0 0 3vh black;
  height: 100vh;
  width: 48vw;
  background-color: #6b5f44;
}

.selection_card_images {
  width: 100%;
  height: 37vh;
  display: flex;
}

#bandNamePlace {
  box-shadow: inset 0 0 3vh black;
  background: #a8956b;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 22vw;
}

#card_walk_white {
  background-image: url("../../img/walk_white.svg");
  color: black;
  text-shadow: 0 0 .3vh white, 0 0 .2vh white, 0 0 .4vh white, 0 0 .5vh white, 0 0 .7vh white, 0 0 .6vh white;
}

#card_walk_black {
  background-image: url("../../img/walk_black.svg");
  color: white;
  text-shadow: 0 0 .3vh black, 0 0 .2vh black, 0 0 .4vh black, 0 0 .5vh black, 0 0 .7vh black, 0 0 .6vh black;
}

#card_dodge_white {
  background-image: url("../../img/dodge_white.svg");
  color: black;
  text-shadow: 0 0 .3vh white, 0 0 .2vh white, 0 0 .4vh white, 0 0 .5vh white, 0 0 .7vh white, 0 0 .6vh white;
}

#card_dodge_black {
  background-image: url("../../img/dodge_black.svg");
  color: white;
  text-shadow: 0 0 .3vh black, 0 0 .2vh black, 0 0 .4vh black, 0 0 .5vh black, 0 0 .7vh black, 0 0 .6vh black;
}

#card_shield_white {
  background-image: url("../../img/shield_white.svg");
  color: black;
  text-shadow: 0 0 .3vh white, 0 0 .2vh white, 0 0 .4vh white, 0 0 .5vh white, 0 0 .7vh white, 0 0 .6vh white;
}

#card_shield_black {
  background-image: url("../../img/shield_black.svg");
  color: white;
  text-shadow: 0 0 .3vh black, 0 0 .2vh black, 0 0 .4vh black, 0 0 .5vh black, 0 0 .7vh black, 0 0 .6vh black;
}

#card_heart_white {
  background-image: url("../../img/heart_white.svg");
  color: black;
  text-shadow: 0 0 .3vh white, 0 0 .2vh white, 0 0 .4vh white, 0 0 .5vh white, 0 0 .7vh white, 0 0 .6vh white;
}

#card_heart_black {
  background-image: url("../../img/heart_black.svg");
  color: white;
  text-shadow: 0 0 .3vh black, 0 0 .2vh black, 0 0 .4vh black, 0 0 .5vh black, 0 0 .7vh black, 0 0 .6vh black;
}

.card_heroImg {
  position: relative;
  width: 22vh;
  height: 21vh;
  background-size: cover;
  top: -7.5vh;
  left: -3.5vh;
  z-index: 3;
}

.selection_card_skills {
  width: 100%;
  height: 63vh;
  box-shadow: inset 0 0 3vh black;
  display: flex;
  flex-wrap: wrap;
}

.card_skills {
  box-shadow: inset 0 0 3vh black;
  width: 100%;
  height: 63vh;
  display: flex;
  flex-wrap: wrap;
}

.card_skills .card_tab {
  width: 50%;
  height: 10.5vh;
  position: relative;
  top: 0;
  border-right: 0.3vh solid #3a3131;
  border-top: 0.3vh solid #3a3131;
  border-left: 0.3vh solid #3a3131;
}

.card_skills .card_list {
  width: 100%;
  height: 52vh;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: hidden;
}

.skills_unit {
  position: relative;
  top: -63vh;
  left: 0;
}

.unit_tab {
  left: 50%;
}

.tab_behind {
  border-bottom: 0.3vh solid #3a3131;
  box-shadow: inset 0 0 3vh black;
}

.introductionInfo {
  margin-top: 5%;
  margin-right: 6%;
  margin-bottom: 0;
  margin-left: 6%;
  width: 88%;
  height: 14vh;
  color: white;
  background: linear-gradient(0.25turn, darkolivegreen, #636044 20%, #636044 80%, darkolivegreen);
  border-top: 0.8vw solid #866511;
  border-bottom: 0.7vw solid #866511;
  border-left: 0;
  border-right: 0;
  border-radius: 5%;
  text-align: center;
  font-size: 2vw;
  font-weight: 500;
}

.introductionInfo:required {
  box-shadow: none;
}

.bobo {
  position: relative;
  width: 16.66667vh;
  height: 9.62333vh;
  margin: 2.97833vh 0;
  background-size: auto 16.5507vh;
  background-position: center;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  border-left: solid 1.16667vh #333333;
  border-right: solid 1.16667vh #333333;
  color: black;
  text-shadow: 0 0 .3vh white, 0 0 .2vh white, 0 0 .4vh white, 0 0 .5vh white, 0 0 .7vh white, 0 0 .6vh white;
  background-color: blue;
  color: #f1e3bb;
  left: -.75vw;
  top: 3vh;
}

.bobo p {
  padding-top: 2vh;
}

.bobo:after {
  content: "";
  position: absolute;
  top: 0.67358vh;
  left: 0;
  width: 14.33333vh;
  height: 8.275vh;
  z-index: 2;
  background: inherit;
}

.bobo img {
  height: 19.44417vh;
  width: 17.5vh;
  position: relative;
  top: -5.71vh;
  left: -1.48957vh;
  z-index: 2;
}

.bobo .top, .bobo .bottom {
  position: absolute;
  z-index: 1;
  width: 11.785vh;
  height: 11.785vh;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 1.27333vh;
}

.bobo .top:before, .bobo .top:after, .bobo .bottom:before, .bobo .bottom:after {
  content: "";
  position: absolute;
  width: 14.33333vh;
  height: 8.275vh;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-4.13768vh);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-4.13768vh);
  transform: rotate(45deg) scaleY(1.7321) translateY(-4.13768vh);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.bobo .top {
  top: -5.89255vh;
  border-top: solid 1.64992vh #333333;
  border-right: solid 1.64992vh #333333;
}

.bobo .top:after {
  background-position: center top;
}

.bobo .bottom {
  bottom: -5.89255vh;
  border-bottom: solid 1.64992vh #333333;
  border-left: solid 1.64992vh #333333;
}

.bobo .bottom:after {
  background-position: center bottom;
}

.bobo:hover {
  box-shadow: 0;
}

#gameTypeForm {
  width: 22vw;
  height: 63vh;
}

#bandDisplay {
  width: 22vw;
  height: 49vh;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
}

#bandDisplay .chosen {
  position: relative;
  width: 16.66667vh;
  height: 9.62333vh;
  margin: 2.97833vh 0;
  background-size: auto 16.5507vh;
  background-position: center;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  border-left: solid 1.16667vh #333333;
  border-right: solid 1.16667vh #333333;
}

#bandDisplay .chosen:after {
  content: "";
  position: absolute;
  top: 0.67358vh;
  left: 0;
  width: 14.33333vh;
  height: 8.275vh;
  z-index: 2;
  background: inherit;
}

#bandDisplay .chosen img {
  height: 19.44417vh;
  width: 17.5vh;
  position: relative;
  top: -5.71vh;
  left: -1.48957vh;
  z-index: 2;
}

#bandDisplay .chosen .top, #bandDisplay .chosen .bottom {
  position: absolute;
  z-index: 1;
  width: 11.785vh;
  height: 11.785vh;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 1.27333vh;
}

#bandDisplay .chosen .top:before, #bandDisplay .chosen .top:after, #bandDisplay .chosen .bottom:before, #bandDisplay .chosen .bottom:after {
  content: "";
  position: absolute;
  width: 14.33333vh;
  height: 8.275vh;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-4.13768vh);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-4.13768vh);
  transform: rotate(45deg) scaleY(1.7321) translateY(-4.13768vh);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

#bandDisplay .chosen .top {
  top: -5.89255vh;
  border-top: solid 1.64992vh #333333;
  border-right: solid 1.64992vh #333333;
}

#bandDisplay .chosen .top:after {
  background-position: center top;
}

#bandDisplay .chosen .bottom {
  bottom: -5.89255vh;
  border-bottom: solid 1.64992vh #333333;
  border-left: solid 1.64992vh #333333;
}

#bandDisplay .chosen .bottom:after {
  background-position: center bottom;
}

#bandDisplay .chosen .card_heroImg {
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 21vh;
  z-index: 3;
  width: 100%;
  top: -6.5vh;
  left: 0;
}

.ch_st {
  top: 12vh;
  left: 6vh;
  position: relative;
}

.ch_nd {
  top: -4vh;
  left: -2vh;
  position: relative;
}

.ch_rd {
  top: -12.5vh;
  left: 24vh;
  position: relative;
}

.hexagon {
  position: relative;
  width: 8.33333vh;
  height: 4.81167vh;
  margin: 1.48917vh 0;
  background-size: auto 8.27535vh;
  background-position: center;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  border-left: solid 0.58333vh #333333;
  border-right: solid 0.58333vh #333333;
}

.heroImg {
  height: 9.72208vh;
  width: 8.75vh;
  position: relative;
  top: -2.855vh;
  left: -0.74478vh;
  z-index: 2;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 5.8925vh;
  height: 5.8925vh;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 0.63667vh;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 7.16667vh;
  height: 4.1375vh;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-2.06884vh);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-2.06884vh);
  transform: rotate(45deg) scaleY(1.7321) translateY(-2.06884vh);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -2.94627vh;
  border-top: solid 0.82496vh #333333;
  border-right: solid 0.82496vh #333333;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -2.94627vh;
  border-bottom: solid 0.82496vh #333333;
  border-left: solid 0.82496vh #333333;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.33679vh;
  left: 0;
  width: 7.16667vh;
  height: 4.1375vh;
  z-index: 2;
  background: inherit;
}

#app {
  height: 95vh;
  width: 147vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.shelf {
  width: 160vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#ladder {
  width: 5vh;
  height: 98vh;
  margin: 1vh;
}

.ladderBlock {
  border: .5vh solid black;
  border-bottom: none;
  width: 100%;
  height: calc((100% / 18.2 ) - 1vh);
}

.block1 {
  border-radius: 50% 50% 0 0;
}

.block11 {
  border-bottom: .5vh solid black;
}

.block22 {
  border-bottom: .5vh solid black;
  border-radius: 0 0 50% 50%;
}

#gameScreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.shelf:nth-child(odd) {
  margin-left: 5vh;
  color: white;
}

.shelf:nth-child(even) {
  margin-right: 5vh;
  color: white;
}
