@import url('https://fonts.googleapis.com/css?family=Cardo:500i,500,700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
    //box-shadow: inset 0 0 3vh black;
    //border:.5px solid red;
}
//@import 'logInScreen';

$sA: 12;
$viewHeight: 100vh;
$one: (1 / $sA * $viewHeight);
$hexHeight:(.5774 / $sA * $viewHeight);
$half: (.5 / $sA * $viewHeight);
$hexMargin:(.1787 / $sA * $viewHeight);
$hexBackground: ( .993042 / $sA * $viewHeight);
$quarter: (.25 / $sA * $viewHeight);
$minusQuarter: (-.25 / $sA * $viewHeight);
$fifive: (.55 / $sA * $viewHeight);
$hexBorder: (.07 / $sA * $viewHeight);
$margin: .1vh;//(.1 / $sA * $viewHeight);
$marginLeft:(5vh);
$appWidth:147vh;
$appHeight:95vh;
$minusQuarterht: 99vh;
$shelfWidth:160vh;
$border: ($margin * 5);
$hexTriangleSize: (.7071 / $sA * $viewHeight);
$hexTriangleOffsetLeft: (.0764 / $sA * $viewHeight);
$hexAfterWidth: (.86 / $sA * $viewHeight);
$hexAfterHeight: ( .4965 / $sA * $viewHeight);
$hexBottom: (-.353553 / $sA * $viewHeight);
$hexBottomSize: (.098995 / $sA * $viewHeight);
$hexMinusQuarter: (-.248261 / $sA * 100vh);

$colorFillHex: transparent;
.hexagon {
    position: relative;
    width: $one; 
    height: $hexHeight;
    margin: $hexMargin 0;
    //background-image: url(../img/Finvarr.png);
    //background-repeat: no-repeat;
    background-size: auto $hexBackground;
    background-position: center;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    //box-shadow: 0 0 2vh rgba(0,0,0,1);
    border-left: solid $hexBorder #333333;
    border-right: solid $hexBorder #333333;
  }
  .heroImg{
      height:($hexHeight + $hexTriangleSize / 1.2);
      width:$one * 1.05;
      position:relative;
      top:($hexMinusQuarter * 1.38);//-.248261 / 12 * 138vh
      left:($hexMinusQuarter * .36);//-.248261 / 12 * 36vh
      z-index: 2;
  }
  .hexTop,
  .hexBottom {
    position: absolute;
    z-index: 1;
    width: $hexTriangleSize;
    height: $hexTriangleSize;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: $hexTriangleOffsetLeft;
    //box-shadow: 0 0 2vh rgba(0,0,0,1);
  }
  
  /*counter transform the bg image on the caps*/
  .hexTop:after,
  .hexBottom:after {
    content: "";
    position: absolute;
    width: $hexAfterWidth;
    height: $hexAfterHeight;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
    transform:          rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  
  .hexTop {
    top: (-.353553 / $sA * 100vh);
    border-top: solid $hexBottomSize #333333;
    border-right: solid $hexBottomSize #333333;
  }
  
  .hexTop:after {
    background-position: center top;
  }
  .hexBottom {
    bottom: $hexBottom;
    border-bottom: solid $hexBottomSize #333333;
    border-left: solid $hexBottomSize #333333;
  }
  
  .hexBottom:after {
    background-position: center bottom;
  }
  
  .hexagon:after {
    content: "";
    position: absolute;
    top: (.040415 / $sA * $viewHeight);
    left: 0;
    width: $hexAfterWidth;
    height: $hexAfterHeight;
    z-index: 2;
    background: inherit;
  }
#app{
    height:$appHeight;
    width:$appWidth;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}


.shelf{
    width:$shelfWidth;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

#ladder{
    width:5vh;
    height:98vh;
    margin: 1vh;
}
.ladderBlock{
    border:.5vh solid black;
    border-bottom:none;
    width:100%;
    height:calc((100% / 18.2 ) - 1vh);
}
.block1{
    border-radius: 50% 50% 0 0;
}
.block11{
    border-bottom: .5vh solid black;
}
.block22{
    border-bottom:.5vh solid black;
    border-radius: 0 0 50% 50%;
}
#gameScreen{
    height:100vh;
    width:100vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
















.shelf:nth-child(odd){
    margin-left: $marginLeft;
    color:white;
}
.shelf:nth-child(even){
    margin-right: $marginLeft;
    color:white;
}
@mixin arrow($color,$direction,$size){
    @if $direction == top {
        width: 0; 
        height: 0; 
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;

    }@else if $direction == left {

        width: 0; 
        height: 0; 
        border-top: $size solid transparent;
        border-bottom: $size solid transparent; 
        border-right:$size solid $color;

    }@else if $direction == bottom {

        width: 0; 
        height: 0; 
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;

    } @else if $direction == right {

        width: 0; 
        height: 0; 
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
}