//@import url('https://fonts.googleapis.com/css?family=Cardo:500i,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo:500i,500,700|Bungee+Inline|Shojumaru&display=swap');
$coinFont1: 'Bungee Inline', cursive;
$coinFont2: 'Shojumaru', cursive;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
    //box-shadow: inset 0 0 3vh black;
    //border:.5px solid red;
}

@mixin instaFlex {
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin arrow($color,$direction,$size){
    @if $direction == top {
        width: 0; 
        height: 0; 
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;

    }@else if $direction == left {

        width: 0; 
        height: 0; 
        border-top: $size solid transparent;
        border-bottom: $size solid transparent; 
        border-right:$size solid $color;

    }@else if $direction == bottom {

        width: 0; 
        height: 0; 
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;

    } @else if $direction == right {

        width: 0; 
        height: 0; 
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
}
//@import 'logInScreen';

$sA: 12;
$viewHeight: 100vh;
$one: (1 / $sA * $viewHeight);
$hexHeight:(.5774 / $sA * $viewHeight);
$half: (.5 / $sA * $viewHeight);
$hexMargin:(.1787 / $sA * $viewHeight);
$hexBackground: ( .993042 / $sA * $viewHeight);
$quarter: (.25 / $sA * $viewHeight);
$minusQuarter: (-.25 / $sA * $viewHeight);
$fifive: (.55 / $sA * $viewHeight);
$hexBorder: (.07 / $sA * $viewHeight);
$margin: .1vh;//(.1 / $sA * $viewHeight);
$marginLeft:(5vh);
$appWidth:79vw;
$appHeight:86vh;
$minusQuarterht: 99vh;
$shelfWidth:160vh;
$border: ($margin * 5);
$hexTriangleSize: (.7071 / $sA * $viewHeight);
$hexTriangleOffsetLeft: (.0764 / $sA * $viewHeight);
$hexAfterWidth: (.86 / $sA * $viewHeight);
$hexAfterHeight: ( .4965 / $sA * $viewHeight);
$hexBottom: (-.353553 / $sA * $viewHeight);
$hexBottomSize: (.098995 / $sA * $viewHeight);
$hexMinusQuarter: (-.248261 / $sA * 100vh);

@mixin hexagonomicron ($sA) {
    $viewHeight: 100vh;
    $one: (1 / $sA * $viewHeight);
    $hexHeight:(.5774 / $sA * $viewHeight);
    $half: (.5 / $sA * $viewHeight);
    $hexMargin:(.1787 / $sA * $viewHeight);
    $hexBackground: ( .993042 / $sA * $viewHeight);
    $quarter: (.25 / $sA * $viewHeight);
    $minusQuarter: (-.25 / $sA * $viewHeight);
    $fifive: (.55 / $sA * $viewHeight);
    $hexBorder: (.07 / $sA * $viewHeight);
    $margin: .1vh;//(.1 / $sA * $viewHeight);
    $marginLeft:(5vh);
    $appWidth:147vh;
    $appHeight:95vh;
    $minusQuarterht: 99vh;
    $shelfWidth:160vh;
    $border: ($margin * 5);
    $hexTriangleSize: (.7071 / $sA * $viewHeight);
    $hexTriangleOffsetLeft: (.0764 / $sA * $viewHeight);
    $hexAfterWidth: (.86 / $sA * $viewHeight);
    $hexAfterHeight: ( .4965 / $sA * $viewHeight);
    $hexBottom: (-.353553 / $sA * $viewHeight);
    $hexBottomSize: (.098995 / $sA * $viewHeight);
    $hexMinusQuarter: (-.248261 / $sA * 100vh);
            position: relative;
            width: $one; 
            height: $hexHeight;
            margin: $hexMargin 0;
            background-size: auto $hexBackground;
            background-position: center;
            border-left: solid $hexBorder #333333;
            border-right: solid $hexBorder #333333;
            &:after {
                content: "";
                position: absolute;
                top: (.040415 / $sA * $viewHeight);
                left: 0;
                width: $hexAfterWidth;
                height: $hexAfterHeight;
                z-index: 2;
                background: inherit;
            }
            img{
                height:($hexHeight + $hexTriangleSize / 1.2);
                width:$one * 1.05;
                position:relative;
                top:($hexMinusQuarter * 1.38);
                left:($hexMinusQuarter * .36);
                z-index: 2;
            }
            .top, .bottom{
                position: absolute;
                z-index: 1;
                width: $hexTriangleSize;
                height: $hexTriangleSize;
                overflow: hidden;
                -webkit-transform: scaleY(0.5774) rotate(-45deg);
                -ms-transform: scaleY(0.5774) rotate(-45deg);
                transform: scaleY(0.5774) rotate(-45deg);
                background: inherit;
                left: $hexTriangleOffsetLeft;
                &:before, &:after{
                    content: "";
                    position: absolute;
                    width: $hexAfterWidth;
                    height: $hexAfterHeight;
                    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                    transform:          rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                    -webkit-transform-origin: 0 0;
                    -ms-transform-origin: 0 0;
                    transform-origin: 0 0;
                    background: inherit;
                }
            }
            .top {
              top: (-.353553 / $sA * 100vh);
              border-top: solid $hexBottomSize #333333;
              border-right: solid $hexBottomSize #333333;
            }
            .top:after {
              background-position: center top;
            }
            .bottom {
              bottom: $hexBottom;
              border-bottom: solid $hexBottomSize #333333;
              border-left: solid $hexBottomSize #333333;
            }        
            .bottom:after {
              background-position: center bottom;
            }
    }//mixin
$colorFillHex: transparent;
.hexagon {
    @include hexagonomicron(15);
    @include instaFlex;
    p{
        font-family: $coinFont2;
        text-shadow: 0 0 1px orangered, 0 0 2px orangered, 0 0 3px orangered;
        font-size:67%;
    }
}
#app{
    height:$appHeight;
    width:$appWidth;
    max-width: 329vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}


.shelf{
    width:$shelfWidth;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

#ladder{
    width:$appWidth;
    height:5vh;
    margin: 1vh;
    display:flex;
    flex-wrap:wrap;
}
.ladderBlock{
    border:.5vh solid black;
    border-right:none;
    width:calc((100% / 17.23 ) - 1vw);//calc($appWidth / 22);
    height:100%;//calc((100% / 18.2 ) - 1vh);
    @include instaFlex;
}
.block1{
    border-radius: 50% 0 0 50%;
}
.block11{
    border-right: .5vh solid black;
}
.block22{
    border-right:.5vh solid black;
    border-radius: 0 50% 50% 0;
}
#gameScreen{
    height:100vh;
    width:100vw;
    @include instaFlex;
    padding:0;
    overflow: hidden;
}
body{
    display:flex;
}






#board{
    display:flex;
    align-items: center;
    flex-direction:column;
}







.elevator{z-index:3}


.shelf:nth-child(odd){
    margin-right: $marginLeft;
    color:white;
}
.shelf:nth-child(even){
    margin-left: $marginLeft;
    color:white;
}
@mixin arrow($color,$direction,$size){
    @if $direction == top {
        width: 0; 
        height: 0; 
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;

    }@else if $direction == left {

        width: 0; 
        height: 0; 
        border-top: $size solid transparent;
        border-bottom: $size solid transparent; 
        border-right:$size solid $color;

    }@else if $direction == bottom {

        width: 0; 
        height: 0; 
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;

    } @else if $direction == right {

        width: 0; 
        height: 0; 
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
}
.miniGameCard{
    width:10vw;
    height:100vh;
    background-color:darkslategrey;
    @include instaFlex;
    .list{
        @include instaFlex;
        flex-wrap:wrap;
        width:9vw;
        height: 93%;
        margin:0;
        margin-left:-4vh;
        padding:0;
    }
}
.smallCard{
    @include hexagonomicron(13);
}
.smallCard:nth-child(odd){
    margin-left: 1.5vw;
}
.smallCard:nth-child(even){
    margin-left:-1.39vw;
}
.puller{
    background-color:darkslategrey;
    @include instaFlex;
    width:7vh;
    height:7vh;
    position:relative;
}
.pullerCircle{
    width:5vh;
    height: 5vh;
    border-radius:50%;
    @include instaFlex;
    background-color: darkturquoise;
}
.pullerTriangle.left{
    @include arrow(goldenrod,right,2.2vh);
    margin-left:1vh
}
.pullerTriangle.right{
    @include arrow(goldenrod,left,2.2vh);
    margin-left:-1vh;
}
.puller.right{
    border-radius: 50% 0 0 50%;
    top:-43vh;
    left:-11vh;
}
.puller.left{
    border-radius: 0 50% 50% 0;
    top:-36vh;
    right:-80%;
}
.roster_abil_desc.left{
    padding-right:29%!important;
}
$sizes:1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,30;
@for $i from 1 through 18 {
    .hexagrama-#{$i}{
        @include hexagonomicron($i)
    }
}
.smallCard.whiteTeam.hexagrama-30.unitModel{
    box-shadow: 0 0 3vh white, 0 0 4vh white !important;
    .top.whiteTeam{
        box-shadow:0 0 4vh white, 0 0 5vh white !important;
    }
    .bottom.whiteTeam{
        box-shadow: 0 0 4vh white, 0 0 5vh white !important;
    }
}
.smallCard.blackTeam.hexagrama-30.unitModel{
    box-shadow:0 0 3vh black, 0 0 4vh black !important;
    .top.blackTeam{
        box-shadow: 0 0 4vh black, 0 0 5vh black !important;
    }
    .bottom.blackTeam{
        box-shadow: 0 0 4vh black, 0 0 5vh black !important;
    }
}
.list.left.tray, .list.right.tray{
    .smallCard{margin:0}
    margin: auto auto !important;
    width:90%;
    max-width:90%;
}
.unitModel{
    transform:scale(35%);
    z-index:4;
    margin:auto -47%!important;

}
.champModel{
    position:relative;
    top: -10%;
    left: -17%;
    z-index:4;
}
.teamBox{
    @include instaFlex;
    flex-wrap: wrap;
    height:29%;
}
.gameTip{
    @include instaFlex;
    background-color: rgba(0, 0, 0, 0.685);
    width:100vw;
    height: 100vh;
    position:absolute;
    z-index:24;
    top:0;
    left:0;
}
.gameTipContent{
    width: 71vw;
    @include instaFlex;
    flex-wrap: wrap;
    background-color: rgb(189, 177, 10);
}
.displayWhoStarts{
    sup{
        margin-top:-24%;
        font-family: $coinFont1;
        font-size:40%;
    }
    background-color:rgb(4, 148, 173);
    border: 1px solid rgb(47, 84, 207);
    width:27vh;
    height:27vh;
    border-radius: 50%;
    @include instaFlex;
    font-family: $coinFont1;
    color: rgba(3, 7, 31, 0.932);
    font-size: 340%;
  //  font-weight: 900;
 //   text-shadow: 3px 3px rgba(76, 30, 130, 0.856);
}
.scenarioBody{
    width:calc(100% - 30vh);
    height:69%;
    border-color: 1px solid green;
    padding:2vh;
}
.scenarioTitle{
    display: flex;
    justify-content: center;
    font-size: 164%;
    font-weight: 900;
    font-family: $coinFont2;
}
.deploymentMyOptions{
    width:100%;
    height:50%;
    padding:2vh;
}
.flashNews{
    @include instaFlex;
    color:rgba(0, 0, 0, 0.911);
    text-shadow: 0 0 1vh darkorange, 0 0 1.5vh darkorange, 0 0 2vh darkorange, 0 0 2.5vh darkorange, 0 0 3vh darkorange;
    font-size: 300%;
    font-weight: 900;
    font-family: $coinFont2;
    position:absolute;
    z-index:23;
    margin:auto auto;
    text-align: center;
}

.whiteTeam{
    box-shadow: 0 0 1vh white, 0 0 1.2vh white;
}
.blackTeam{
    box-shadow: 0 0 1vh black, 0 0 1.2vh black;
}
@mixin pulseChamp ($a, $b){
    @keyframes pulsec {
        0%{
            transform:scale($a)
        }
        100%{
            transform:scale($b)
        }
    }
    animation: 2s alternate infinite pulsec;
}
@mixin pulseGrunt ($a, $b){
    @keyframes pulseg {
        0%{
            transform:scale($a)
        }
        100%{
            transform:scale($b)
        }
    }
    animation: 2s alternate infinite pulseg;
}
.selectedModel.hexagrama-14.champModel,.phantomBanners_selected,.tsunami-selected{
    @include pulseChamp(90%,110%);
}
.selectedModel.hexagrama-30.unitModel{
    @include pulseGrunt(25%,45%);
}
.hexagon .claimedBanner{
    border-radius: 50%;
    z-index: 3;
    position: relative;
    left: 0%;
    top: 0%;
    transform:scale(120%);
}
.claimedBanner.whiteTeam{box-shadow: 0 0 1vh white inset, 0 0 1.2vh white inset,  0 0 1vh white , 0 0 1.2vh white ;}
.claimedBanner.blackTeam{box-shadow: 0 0 1vh black inset, 0 0 1.2vh black inset,  0 0 1vh black , 0 0 1.2vh black ;}
.displayDamageRecieved{
    position: relative;
    top: -138%;
    left: -78%;
    z-index: 5;
    width: 0;
    height: 0;
    font-size: 8vh;
    font-weight: 600;
    font-family: $coinFont2;
}
.displayDamageRecieved.redPain{
    color:rgb(206, 71, 71);
    text-shadow: 0 0 .5vh rgb(99, 29, 7), 0 0 .75vh rgb(99, 29, 7), 0 0 .1vh rgb(99, 29, 7), 0 0 1.5vh rgb(99, 29, 7);
}
.displayDamageRecieved.noPain{
    color:rgb(168, 156, 156);
    text-shadow: 0 0 1vh rgb(18, 18, 24), 0 0 .5vh rgb(18, 18, 24), 0 0 .75vh rgb(18, 18, 24), 0 0 1.5vh rgb(18, 18, 24);
}
.titusChallenge{
    @include instaFlex;
    color:rgba(0, 0, 0, 0.911);
    text-shadow: 0 0 1vh darkorange, 0 0 1.5vh darkorange, 0 0 2vh darkorange, 0 0 2.5vh darkorange, 0 0 3vh darkorange;
    font-size: 120%;
    font-weight: 900;
    position:absolute;
    z-index:10;
    margin:auto auto;
    text-align: center;
    .titusChallengeCrest{
        width:40vw;
        height:60vh;
        font-family: $coinFont2;
        display:flex;
        flex-wrap:wrap;
        .boon-blight{
            width:10vw;
            height:10vw;
            border:1vh solid rgba(109, 83, 17, 0.829);
            background-size:cover;
            background-position: center;
            margin:1vw;
        }
        .walk{background-image:url('../img/walk_white.png'); border-radius:50% 50% 30% 50%; }
        .dodge{background-image:url('../img/dodge_black.svg'); border-radius:50% 50% 30% 30%; }
        .protection{background-image:url('../img/shield_black.svg'); border-radius:50% 50% 50% 30%; }
        .aim{background-image:url('../img/aim_black.png'); border-radius:50% 30% 50% 50%; }
        .damage{background-image:url('../img/hurt_black.png');  border-radius:30% 50% 50% 50%; }
        .confirm{
            background-color:goldenrod; 
            border-radius:30% 30% 50% 50%; 
            justify-content: center; 
            display:flex; 
            align-items: center;
            font-family: $coinFont2;
            font-size:119%
        }
        .booned{
            box-shadow: inset 0 0 3vh rgb(255, 143, 15), 
                        0 0 3vh rgb(255, 191, 15),
                        inset 0 0 4vh rgb(255, 211, 15), 
                        0 0 4vh rgb(255, 211, 15);
        }
        .blighted{
            opacity:.38;
            box-shadow: inset 0 0 3vh rgb(15, 2, 1), 
                        0 0 3vh rgb(27, 26, 26),  
                        inset 0 0 4.3vh rgb(17, 17, 16), 0 0 4.3vh 
        }
        .selected{
            box-shadow: inset 0 0 3vh rgb(255, 31, 15), 
                        0 0 3vh rgb(255, 43, 15),  
                        inset 0 0 4.3vh rgb(255, 31, 15), 
                        0 0 4.3vh rgb(255, 43, 15);
            opacity:1;
        }
        .message{
            width:100%; 
            font-family:$coinFont2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.niaChallenge, .deadlyCursePanel,.soCoolMistressPanel{
    @include instaFlex;
    color:rgba(0, 0, 0, 0.911);
    text-shadow: 0 0 1vh darkorange, 0 0 1.5vh darkorange, 0 0 2vh darkorange, 0 0 2.5vh darkorange, 0 0 3vh darkorange;
    font-size: 120%;
    font-weight: 900;
    position:absolute;
    z-index:10;
    margin:auto auto;
    text-align: center;
    .niaChallengeCrest, .deadlyCursePanelCrest, .soCoolMistressPanelCrest{
        width:50vw;
        height:60vh;
        font-family: $coinFont2;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        .boon-blight{
            width:10vw;
            height:10vw;
            border:1vh solid rgba(109, 83, 17, 0.829);
            background-size:cover;
            background-position: center;
            margin:1vw;
        }
        .walk{background-image:url('../img/walk_white.png'); border-radius:50% 50% 30% 50%; }
        .dodge{background-image:url('../img/dodge_black.svg'); border-radius:50% 50% 30% 30%; }
        .protection{background-image:url('../img/shield_black.svg'); border-radius:50% 50% 30% 30%; }
        .aim{background-image:url('../img/aim_black.png'); border-radius:50% 50% 50% 30%; }
        .damage{background-image:url('../img/hurt_black.png');  border-radius:30% 30% 50% 50%; }
        .confirm{
            background-color:goldenrod; 
            border-radius:50% 30% 50% 50%; 
            justify-content: center; 
            display:flex; 
            align-items: center;
            font-family: $coinFont2;
            font-size:119%
        }
        .cancel{border-radius:30% 50% 50% 50%; }
        .booned{
            box-shadow: inset 0 0 3vh rgb(255, 143, 15), 
                        0 0 3vh rgb(255, 171, 15),
                        inset 0 0 4vh rgb(255, 211, 15), 
                        0 0 4vh rgb(255, 211, 15);
        }
        .blighted{
            box-shadow: inset 0 0 3vh rgb(15, 2, 1), 
                        0 0 3vh rgb(27, 26, 26),  
                        inset 0 0 4.3vh rgb(17, 17, 16), 0 0 4.3vh 
        }
        .selected{
            box-shadow: inset 0 0 3vh rgb(203, 255, 15), 
                        0 0 3vh rgb(163, 255, 15),  
                        inset 0 0 4.3vh rgb(171, 255, 15), 
                        0 0 4.3vh rgb(163, 255, 15);
        }
        .message{
            width:100%; 
            font-family:$coinFont2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.deadlyCursePanelCrest,.soCoolMistressPanelCrest{
    .deadlyCurse.aim,.graspingCurse.dodge,.soCoolMistress.aim{
        border-radius: 50% 30% 30% 50%;
    }
    .deadlyCurse.damage,.graspingCurse.walk,.soCoolMistress.walk{
        border-radius: 30% 50% 50% 30%;
    }
    .deadlyCurse.confirm,.graspingCurse.confirm,.soCoolMistress.confirm{
        border-radius: 47% 47% 47% 47%;
    }
}

.bb_HUD{
    width:0.1%;
    height:0.1%;
}

.onBoard{
    width: 26000%;
    height: 38000%;
    z-index: 10;
    position: relative;
    border-radius: 50%;
}
.baim.onBoard{top:89000%;left:-17000%;background-color: goldenrod;}
.bdamage.onBoard{top:80000%;left:7000%;background-color: red;}
.bdodge.onBoard{top:60000%;left:37000%;background-color: blue;}
.bprotection.onBoard{top:4000%;left:67000%;background-color: grey;}
.bspeed.onBoard{top:-63000%;left:94000%;background-color: green;}
.onBoard.blighted{box-shadow:0 0 1vw rgb(41, 0, 0),0 0 1.25vw rgb(41, 0, 0),0 0 1.5vw rgb(41, 0, 0),0 0 1.75vw rgb(41, 0, 0),
    0 0 1vw rgba(59, 54, 54, 0.4) inset;}
.onBoard.booned{box-shadow: 0 0 1vw rgb(160, 241, 38),0 0 1.25vw rgb(160, 241, 38),0 0 1.5vw rgb(160, 241, 38),0 0 1.75vw rgb(160, 241, 38),
    0 0 1vw rgba(246, 250, 241, 0.4) inset;}