//@import url('https://fonts.googleapis.com/css?family=Cardo:500i,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo:500i,500,700|Bungee+Inline|Shojumaru&display=swap');
$coinFont1: 'Bungee Inline', cursive;
$coinFont2: 'Shojumaru', cursive;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
    //box-shadow: inset 0 0 3vh black;
    //border:.5px solid red;
}

@mixin instaFlex {
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin arrow($color,$direction,$size){
    @if $direction == top {
        width: 0; 
        height: 0; 
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;

    }@else if $direction == left {

        width: 0; 
        height: 0; 
        border-top: $size solid transparent;
        border-bottom: $size solid transparent; 
        border-right:$size solid $color;

    }@else if $direction == bottom {

        width: 0; 
        height: 0; 
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;

    } @else if $direction == right {

        width: 0; 
        height: 0; 
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
}
//@import 'logInScreen';

$sA: 12;
$viewHeight: 100vh;
$one: (1 / $sA * $viewHeight);
$hexHeight:(.5774 / $sA * $viewHeight);
$half: (.5 / $sA * $viewHeight);
$hexMargin:(.1787 / $sA * $viewHeight);
$hexBackground: ( .993042 / $sA * $viewHeight);
$quarter: (.25 / $sA * $viewHeight);
$minusQuarter: (-.25 / $sA * $viewHeight);
$fifive: (.55 / $sA * $viewHeight);
$hexBorder: (.07 / $sA * $viewHeight);
$margin: .1vh;//(.1 / $sA * $viewHeight);
$marginLeft:(5vh);
$appWidth:79vw;
$appHeight:86vh;
$minusQuarterht: 99vh;
$shelfWidth:160vh;
$border: ($margin * 5);
$hexTriangleSize: (.7071 / $sA * $viewHeight);
$hexTriangleOffsetLeft: (.0764 / $sA * $viewHeight);
$hexAfterWidth: (.86 / $sA * $viewHeight);
$hexAfterHeight: ( .4965 / $sA * $viewHeight);
$hexBottom: (-.353553 / $sA * $viewHeight);
$hexBottomSize: (.098995 / $sA * $viewHeight);
$hexMinusQuarter: (-.248261 / $sA * 100vh);

@mixin hexagonomicron ($sA) {
    $viewHeight: 100vh;
    $one: (1 / $sA * $viewHeight);
    $hexHeight:(.5774 / $sA * $viewHeight);
    $half: (.5 / $sA * $viewHeight);
    $hexMargin:(.1787 / $sA * $viewHeight);
    $hexBackground: ( .993042 / $sA * $viewHeight);
    $quarter: (.25 / $sA * $viewHeight);
    $minusQuarter: (-.25 / $sA * $viewHeight);
    $fifive: (.55 / $sA * $viewHeight);
    $hexBorder: (.07 / $sA * $viewHeight);
    $margin: .1vh;//(.1 / $sA * $viewHeight);
    $marginLeft:(5vh);
    $appWidth:147vh;
    $appHeight:95vh;
    $minusQuarterht: 99vh;
    $shelfWidth:160vh;
    $border: ($margin * 5);
    $hexTriangleSize: (.7071 / $sA * $viewHeight);
    $hexTriangleOffsetLeft: (.0764 / $sA * $viewHeight);
    $hexAfterWidth: (.86 / $sA * $viewHeight);
    $hexAfterHeight: ( .4965 / $sA * $viewHeight);
    $hexBottom: (-.353553 / $sA * $viewHeight);
    $hexBottomSize: (.098995 / $sA * $viewHeight);
    $hexMinusQuarter: (-.248261 / $sA * 100vh);
            position: relative;
            width: $one; 
            height: $hexHeight;
            margin: $hexMargin 0;
            background-size: auto $hexBackground;
            background-position: center;
            border-left: solid $hexBorder rgba(255, 255, 255, 0.829);
            border-right: solid $hexBorder rgba(216, 216, 216, 0.637);
            &:after {
                content: "";
                position: absolute;
                top: (.040415 / $sA * $viewHeight);
                left: 0;
                width: $hexAfterWidth;
                height: $hexAfterHeight;
                z-index: 2;
                background: inherit;
            }
            img{
                height:($hexHeight + $hexTriangleSize / 1.2);
                width:$one * 1.05;
                position:relative;
                top:($hexMinusQuarter * 1.38);
                left:($hexMinusQuarter * .36);
                z-index: 2;
            }
            .top, .bottom{
                position: absolute;
                z-index: 1;
                width: $hexTriangleSize;
                height: $hexTriangleSize;
                overflow: hidden;
                -webkit-transform: scaleY(0.5774) rotate(-45deg);
                -ms-transform: scaleY(0.5774) rotate(-45deg);
                transform: scaleY(0.5774) rotate(-45deg);
                background: inherit;
                left: $hexTriangleOffsetLeft;
                &:before, &:after{
                    content: "";
                    position: absolute;
                    width: $hexAfterWidth;
                    height: $hexAfterHeight;
                    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                    transform:          rotate(45deg) scaleY(1.7321) translateY($hexMinusQuarter);
                    -webkit-transform-origin: 0 0;
                    -ms-transform-origin: 0 0;
                    transform-origin: 0 0;
                    background: inherit;
                }
            }
            .top {
              top: (-.353553 / $sA * 100vh);
              border-top: solid $hexBottomSize #f8f8f8e5;
              border-right: solid $hexBottomSize #ffffffcb;
            }
            .top:after {
              background-position: center top;
            }
            .bottom {
              bottom: $hexBottom;
              border-bottom: solid $hexBottomSize rgba(255, 255, 255, 0.582);
              border-left: solid $hexBottomSize rgba(194, 194, 194, 0.767);
            }        
            .bottom:after {
              background-position: center bottom;
            }
    }//mixin
$colorFillHex: transparent;
.hexagon {
    @include hexagonomicron(15);
    @include instaFlex;
    margin-left: -10%;
    margin-right: -10%;
    transform: scale(1.18);
    -ms-transform: scale(1.18); /* Internet Explorer */
    -moz-transform: scale(1.18); /* Firefox */
    -webkit-transform: scale(1.18); /* Safari and Chrome */
    -o-transform: scale(1.18); /* Opera */
    p{
        font-family: $coinFont2;
        text-shadow: 0 0 1px orangered, 0 0 2px orangered, 0 0 3px orangered;
        font-size:67%;
    }
}
#app{
    height:$appHeight;
    width:$appWidth;
    max-width: 329vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}


.shelf{
    width:$shelfWidth;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

#ladder{
    width:$appWidth;
    height:5vh;
    margin: 1vh;
    display:flex;
    flex-wrap:wrap;
}
.ladderBlock{
    border-top:.5vh solid rgba(243, 243, 243, 0.89);
    border-left:.5vh solid rgba(235, 235, 235, 0.945);
    border-bottom:.5vh solid rgba(180, 180, 180, 0.863);
    background: rgba(0, 4, 36, 0.301);
    border-right:none;
    width:calc((100% / 17.23 ) - 1vw);//calc($appWidth / 22);
    height:100%;//calc((100% / 18.2 ) - 1vh);
    @include instaFlex;
}
.left.block1,.right.block1{
    border-radius: 50% 0 0 50%;
}
.left.block11,.right.block11{
    border-right:.5vh solid rgba(240, 240, 240, 0.911);
}
.left.block22,.right.block22{
    border-right:.5vh solid rgba(240, 240, 240, 0.911);
    border-radius: 0 50% 50% 0;
}
$sq: 7;
@for $ij from 1 through 22 {
    .left.block#{$ij}{
        background: radial-gradient(circle, 
            hsla(125 - ( $ij * $sq ), 99%, 40%, .38) 0%, 
            hsla(125 - ( $ij * $sq ), 99%, 40%, .49) 41%, 
            hsla(125 - ( $ij * $sq ), 99%, 40%, .27) 100%
        ); 
    }
}
@for $ij from 1 through 22 {
    .right.block#{$ij}{
        background: radial-gradient(circle, 
            hsla(0 + ( $ij * $sq ), 99%, 40%, .38) 0%, 
            hsla(0 + ( $ij * $sq ), 99%, 40%, .49) 41%, 
            hsla(0 + ( $ij * $sq ), 99%, 40%, .27) 100%
        ); 
    }
}
.f{
    color:hsla(125, 99%, 40%, 0.719);
    color:hsla(0, 99%, 40%, 0.562);
}
#gameScreen{
    height:100vh;
    width:100vw;
    @include instaFlex;
    padding:0;
    overflow: hidden;
}
#map_place{
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    z-index:-1;
    filter: grayscale(.08) brightness(.4) saturate(2.7);
}
body{
    display:flex;
}






#board{
    display:flex;
    align-items: center;
    flex-direction:column;
}







.elevator{z-index:3}


.shelf:nth-child(odd){
    margin-right: 4.6vh;
    color:white;
}
.shelf:nth-child(even){
    margin-left: 4.6vh;
    color:white;
}
@mixin arrow($color,$direction,$size){
    @if $direction == top {
        width: 0; 
        height: 0; 
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;

    }@else if $direction == left {

        width: 0; 
        height: 0; 
        border-top: $size solid transparent;
        border-bottom: $size solid transparent; 
        border-right:$size solid $color;

    }@else if $direction == bottom {

        width: 0; 
        height: 0; 
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;

    } @else if $direction == right {

        width: 0; 
        height: 0; 
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
}
.miniGameCard{
    width:10vw;
    height:100vh; 
    background: rgb(0,4,36);
    @include instaFlex;
    .list{
        @include instaFlex;
        flex-wrap:wrap;
        width:9vw;
        height: 93%;
        margin:0;
        margin-left:-4vh;
        padding:0;
    }
}
.smallCard{
    @include hexagonomicron(13);
}
.miniGameCard{
    .smallCard:nth-child(odd){
        margin-left: 1.5vw;
        margin-right: -1.5vw;
        p{margin-left: 1.5vw;}
    }
    .smallCard:nth-child(even){
        margin-left:-1.39vw;
        margin-right:1.39vw;
        p{margin-left:-1.39vw;}
    }
}
.puller{
    @include instaFlex;
    width:7vh;
    height:7vh;
    position:relative;
}
.pullerCircle{
    width:5vh;
    height: 5vh;
    border-radius:50%;
    @include instaFlex;
    background-color: darkturquoise;
}
.pullerTriangle.left{
    @include arrow(goldenrod,right,2.2vh);
    margin-left:1vh
}
.pullerTriangle.right{
    @include arrow(goldenrod,left,2.2vh);
    margin-left:-1vh;
}
.puller.right{
    border-radius: 50% 0 0 50%;
    top:-43vh;
    left:-11vh;
}
.puller.left{
    border-radius: 0 50% 50% 0;
    top:-36vh;
    right:-80%;
}
.roster_abil_desc.left{
    padding-right:29%!important;
}
$sizes:1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,30;
@for $i from 1 through 18 {
    .hexagrama-#{$i}{
        @include hexagonomicron($i)
    }
}
.smallCard.whiteTeam.hexagrama-30.unitModel{
    box-shadow: 0 0 3vh white, 0 0 4vh white !important;
    .top.whiteTeam{
        box-shadow:0 0 4vh white, 0 0 5vh white !important;
    }
    .bottom.whiteTeam{
        box-shadow: 0 0 4vh white, 0 0 5vh white !important;
    }
}
.smallCard.blackTeam.hexagrama-30.unitModel{
    box-shadow:0 0 3vh black, 0 0 4vh black !important;
    .top.blackTeam{
        box-shadow: 0 0 4vh black, 0 0 5vh black !important;
    }
    .bottom.blackTeam{
        box-shadow: 0 0 4vh black, 0 0 5vh black !important;
    }
}
.list.left.tray, .list.right.tray{
    .smallCard{margin:0}
    margin: auto auto !important;
    width:90%;
    max-width:90%;
}
.unitModel{
    $s:.4;
    transform:scale($s);
    -ms-transform: scale($s); /* Internet Explorer */
    -moz-transform: scale($s); /* Firefox */
    -webkit-transform: scale($s); /* Safari and Chrome */
    -o-transform: scale($s); /* Opera */
    z-index:4;
    margin:auto -47%!important;

}
.champModel{
    position:relative;
    top: -1%;
    left: 0%;
    z-index:4;
}
.teamBox{
    @include instaFlex;
    flex-wrap: wrap;
    height:29%;
}
.gameTip{
    @include instaFlex;
    background-color: rgba(0, 0, 0, 0.685);
    width:100vw;
    height: 100vh;
    position:absolute;
    z-index:24;
    top:0;
    left:0;
}
.gameTipContent{
    width: 71vw;
    @include instaFlex;
    flex-wrap: wrap;
    background-color: rgb(189, 177, 10);
}
.displayWhoStarts{
    sup{
        margin-top:-24%;
        font-family: $coinFont1;
        font-size:40%;
    }
    background-color:rgb(4, 148, 173);
    border: 1px solid rgb(47, 84, 207);
    width:27vh;
    height:27vh;
    border-radius: 50%;
    @include instaFlex;
    font-family: $coinFont1;
    color: rgba(3, 7, 31, 0.932);
    font-size: 340%;
  //  font-weight: 900;
 //   text-shadow: 3px 3px rgba(76, 30, 130, 0.856);
}
.scenarioBody{
    width:calc(100% - 30vh);
    height:69%;
    border-color: 1px solid green;
    padding:2vh;
}
.scenarioTitle{
    display: flex;
    justify-content: center;
    font-size: 164%;
    font-weight: 900;
    font-family: $coinFont2;
}
.deploymentMyOptions{
    width:100%;
    height:50%;
    padding:2vh;
}
.flashNews{
    @include instaFlex;
    color:rgba(0, 0, 0, 0.911);
    text-shadow: 0 0 1vh darkorange, 0 0 1.5vh darkorange, 0 0 2vh darkorange, 0 0 2.5vh darkorange, 0 0 3vh darkorange;
    font-size: 300%;
    font-weight: 900;
    font-family: $coinFont2;
    position:absolute;
    z-index:23;
    margin:auto auto;
    text-align: center;
}

.whiteTeam{
    box-shadow: 0 0 1vh white, 0 0 1.2vh white;
}
.blackTeam{
    box-shadow: 0 0 1vh black, 0 0 1.2vh black;
}
@mixin pulseChamp ($a, $b){
    @keyframes pulsec {
        0%{
            transform:scale($a)
        }
        100%{
            transform:scale($b)
        }
    }
    animation: 2s alternate infinite pulsec;
}
@mixin pulseGrunt ($a, $b){
    @keyframes pulseg {
        0%{
            transform:scale($a)
        }
        100%{
            transform:scale($b)
        }
    }
    animation: 2s alternate infinite pulseg;
}
.selectedModel.hexagrama-14.champModel,.phantomBanners_selected,.tsunami-selected{
    @include pulseChamp(90%,110%);
}
.selectedModel.hexagrama-30.unitModel{
    @include pulseGrunt(25%,45%);
}
.hexagon .claimedBanner{
    border-radius: 50%;
    z-index: 3;
    position: relative;
    left: 0%;
    top: 0%;
    transform:scale(95%);
}
.claimedBanner.whiteTeam{box-shadow: 0 0 1vh white inset, 0 0 1.2vh white inset,  0 0 1vh white , 0 0 1.2vh white ;}
.claimedBanner.blackTeam{box-shadow: 0 0 1vh black inset, 0 0 1.2vh black inset,  0 0 1vh black , 0 0 1.2vh black ;}
.displayDamageRecieved{
    position: relative;
    top: -138%;
    left: -78%;
    z-index: 5;
    width: 0;
    height: 0;
    font-size: 8vh;
    font-weight: 600;
    font-family: $coinFont2;
}
.displayDamageRecieved.redPain{
    color:rgb(206, 71, 71);
    text-shadow: 0 0 .5vh rgb(99, 29, 7), 0 0 .75vh rgb(99, 29, 7), 0 0 .1vh rgb(99, 29, 7), 0 0 1.5vh rgb(99, 29, 7);
}
.displayDamageRecieved.noPain{
    color:rgb(168, 156, 156);
    text-shadow: 0 0 1vh rgb(18, 18, 24), 0 0 .5vh rgb(18, 18, 24), 0 0 .75vh rgb(18, 18, 24), 0 0 1.5vh rgb(18, 18, 24);
}
.titusChallenge{
    @include instaFlex;
    color:rgba(0, 0, 0, 0.911);
    text-shadow: 0 0 1vh darkorange, 0 0 1.5vh darkorange, 0 0 2vh darkorange, 0 0 2.5vh darkorange, 0 0 3vh darkorange;
    font-size: 120%;
    font-weight: 900;
    position:absolute;
    z-index:10;
    margin:auto auto;
    text-align: center;
    .titusChallengeCrest{
        width:40vw;
        height:60vh;
        font-family: $coinFont2;
        display:flex;
        flex-wrap:wrap;
        .boon-blight{
            width:10vw;
            height:10vw;
            border:1vh solid rgba(109, 83, 17, 0.829);
            background-size:cover;
            background-position: center;
            margin:1vw;
        }
        .walk{background-image:url('../img/walk_white.png'); border-radius:50% 50% 30% 50%; }
        .dodge{background-image:url('../img/dodge_black.svg'); border-radius:50% 50% 30% 30%; }
        .protection{background-image:url('../img/shield_black.svg'); border-radius:50% 50% 50% 30%; }
        .aim{background-image:url('../img/aim_black.png'); border-radius:50% 30% 50% 50%; }
        .damage{background-image:url('../img/hurt_black.png');  border-radius:30% 50% 50% 50%; }
        .confirm{
            background-color:goldenrod; 
            border-radius:30% 30% 50% 50%; 
            justify-content: center; 
            display:flex; 
            align-items: center;
            font-family: $coinFont2;
            font-size:119%
        }
        .booned{
            box-shadow: inset 0 0 3vh rgb(255, 143, 15), 
                        0 0 3vh rgb(255, 191, 15),
                        inset 0 0 4vh rgb(255, 211, 15), 
                        0 0 4vh rgb(255, 211, 15);
        }
        .blighted{
            opacity:.38;
            box-shadow: inset 0 0 3vh rgb(15, 2, 1), 
                        0 0 3vh rgb(27, 26, 26),  
                        inset 0 0 4.3vh rgb(17, 17, 16), 0 0 4.3vh 
        }
        .selected{
            box-shadow: inset 0 0 3vh rgb(255, 31, 15), 
                        0 0 3vh rgb(255, 43, 15),  
                        inset 0 0 4.3vh rgb(255, 31, 15), 
                        0 0 4.3vh rgb(255, 43, 15);
            opacity:1;
        }
        .message{
            width:100%; 
            font-family:$coinFont2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.niaChallenge, .deadlyCursePanel,.soCoolMistressPanel,.brutalMasterPanel{
    @include instaFlex;
    color:rgba(0, 0, 0, 0.911);
    text-shadow: 0 0 1vh darkorange, 0 0 1.5vh darkorange, 0 0 2vh darkorange, 0 0 2.5vh darkorange, 0 0 3vh darkorange;
    font-size: 120%;
    font-weight: 900;
    position:absolute;
    z-index:10;
    margin:auto auto;
    text-align: center;
    .niaChallengeCrest, .deadlyCursePanelCrest, .soCoolMistressPanelCrest,.brutalMasterCrest{
        width:50vw;
        height:60vh;
        font-family: $coinFont2;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        .boon-blight{
            width:10vw;
            height:10vw;
            border:1vh solid rgba(109, 83, 17, 0.829);
            background-size:cover;
            background-position: center;
            margin:1vw;
        }
        .walk{background-image:url('../img/walk_white.png'); border-radius:50% 50% 30% 50%; }
        .dodge{background-image:url('../img/dodge_black.svg'); border-radius:50% 50% 30% 30%; }
        .protection{background-image:url('../img/shield_black.svg'); border-radius:50% 50% 30% 30%; }
        .aim{background-image:url('../img/aim_black.png'); border-radius:50% 50% 50% 30%; }
        .damage{background-image:url('../img/hurt_black.png');  border-radius:30% 30% 50% 50%; }
        .confirm{
            background-color:goldenrod; 
            border-radius:50% 30% 50% 50%; 
            justify-content: center; 
            display:flex; 
            align-items: center;
            font-family: $coinFont2;
            font-size:119%
        }
        .cancel{border-radius:30% 50% 50% 50%; }
        .booned{
            box-shadow: inset 0 0 3vh rgb(255, 143, 15), 
                        0 0 3vh rgb(255, 171, 15),
                        inset 0 0 4vh rgb(255, 211, 15), 
                        0 0 4vh rgb(255, 211, 15);
        }
        .blighted{
            box-shadow: inset 0 0 3vh rgb(15, 2, 1), 
                        0 0 3vh rgb(27, 26, 26),  
                        inset 0 0 4.3vh rgb(17, 17, 16), 0 0 4.3vh 
        }
        .selected{
            box-shadow: inset 0 0 3vh rgb(203, 255, 15), 
                        0 0 3vh rgb(163, 255, 15),  
                        inset 0 0 4.3vh rgb(171, 255, 15), 
                        0 0 4.3vh rgb(163, 255, 15);
        }
        .message{
            width:100%; 
            font-family:$coinFont2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.deadlyCursePanelCrest,.soCoolMistressPanelCrest,.brutalMasterCrest{
    .deadlyCurse.aim,.graspingCurse.dodge,.soCoolMistress.aim,.brutalMaster.aim{
        border-radius: 50% 30% 30% 50%;
    }
    .deadlyCurse.damage,.graspingCurse.walk,.soCoolMistress.walk,.brutalMaster.damage{
        border-radius: 30% 50% 50% 30%;
    }
    .deadlyCurse.confirm,.graspingCurse.confirm,.soCoolMistress.confirm,.brutalMaster.confirm{
        border-radius: 47% 47% 47% 47%;
    }
}

.bb_HUD{
    width: 133%;
    height: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: -17%;
    top: 91%;
}
.bb_HUD.grunt{width:360%;left:-130%}
div.unitModel:nth-child(3) > .bb_HUD > .onBoard{
    width: 37%;
    height: 11500%;
    z-index: 10;
    position: relative;
    border-radius: 50%;
    left:-1%;
}
div.unitModel:nth-child(3) > .bb_HUD > .baim.onBoard{top:0%;left:0%;background-color: goldenrod;}
div.unitModel:nth-child(3) > .bb_HUD > .bdamage.onBoard{top:2000%;left:0%;background-color: red;}
div.unitModel:nth-child(3) > .bb_HUD > .bdodge.onBoard{top:2500%;left:0%;background-color: blue;}
div.unitModel:nth-child(3) > .bb_HUD > .bprotection.onBoard{top:2000%;left:0%;background-color: grey;}
div.unitModel:nth-child(3) > .bb_HUD > .bspeed.onBoard{top:0%;left:0%;background-color: green;}

.champModel > .bb_HUD > .onBoard{
    width: 37%;
    height: 4500%;
    z-index: 10;
    position: relative;
    border-radius: 50%;
    left:-1%;
}
.champModel > .bb_HUD > .baim.onBoard{top:0%;left:0%;background-color: goldenrod;}
.champModel > .bb_HUD > .bdamage.onBoard{top:2000%;left:0%;background-color: red;}
.champModel > .bb_HUD > .bdodge.onBoard{top:2500%;left:0%;background-color: blue;}
.champModel > .bb_HUD > .bprotection.onBoard{top:2000%;left:0%;background-color: grey;}
.champModel > .bb_HUD > .bspeed.onBoard{top:0%;left:0%;background-color: green;}
.onBoard.blighted{box-shadow:0 0 1vw rgb(41, 0, 0),0 0 1.25vw rgb(41, 0, 0),0 0 1.5vw rgb(41, 0, 0),0 0 1.75vw rgb(41, 0, 0),
    0 0 1vw rgba(59, 54, 54, 0.4) inset;}
.onBoard.booned{box-shadow: 0 0 1vw rgb(160, 241, 38),0 0 1.25vw rgb(160, 241, 38),0 0 1.5vw rgb(160, 241, 38),0 0 1.75vw rgb(160, 241, 38),
    0 0 1vw rgba(246, 250, 241, 0.4) inset;}
.baim.onBoard.booned{
    background-image: url("../img/aimBoon.svg"); 
    background-size: contain;
}
.bdamage.onBoard.booned{
    background-image: url("../img/damageBoon.svg"); 
    background-size: contain;
}
.bdodge.onBoard.booned{
    background-image: url("../img/dodgeBoon.svg"); 
    background-size: contain;
}
.bprotection.onBoard.booned{
    background-image: url("../img/protectionBoon.svg"); 
    background-size: contain;
}
.bspeed.onBoard.booned{
    background-image: url("../img/speedBoon.svg"); 
    background-size: contain;
}
.baim.onBoard.blighted{
    background-image: url("../img/aimBlight.svg"); 
    background-size: contain;
}
.bdamage.onBoard.blighted{
    background-image: url("../img/damageBlight.svg"); 
    background-size: contain;
}
.bdodge.onBoard.blighted{
    background-image: url("../img/dodgeBlight.svg"); 
    background-size: contain;
}
.bprotection.onBoard.blighted{
    background-image: url("../img/protectionBlight.svg"); 
    background-size: contain;
}
.bspeed.onBoard.blighted{
    background-image: url("../img/speedBlight.svg"); 
    background-size: contain;
}
@mixin gC_uni{
    position:relative;
    top:-21%;
    width: 100%;
    height:161%;
    @include instaFlex;
    font-family: $coinFont2;

}
.gameCard_num{
    @include gC_uni;
    font-size:212%!important;
}
.gameCard_name.white{
    @include gC_uni;
    font-size:77%!important;
    color:black;
}
.gameCard_name.black{
    @include gC_uni;
    font-size:77%!important;
    color:white;
}
.gameCard_name{
    height:0!important;
}

.gameCard_num.normal,.gameCard_name.normal{
    text-shadow: 0 0 1px rgb(105, 100, 98), 0 0 2px rgb(131, 124, 122), 0 0 3px rgb(117, 113, 111);
}
.gameCard_num.booned,.gameCard_name.booned{
    text-shadow: 0 0 1px rgb(0, 204, 255), 0 0 2px rgb(0, 255, 191), 0 0 3px rgb(0, 255, 179);
    color:rgb(0, 0, 31);
}
.gameCard_num.blighted,.gameCard_name.blighted{
    text-shadow: 0 0 1px rgb(114, 33, 1), 0 0 2px rgb(117, 34, 1), 0 0 3px rgb(155, 1, 134);
    color:rgb(39, 2, 2);
}
.roster_abil_desc{
    .small_icon{
        width:11%;
        margin-top:-7%;
    }
}
@mixin bbsmin {
            width: 62%!important;
            position: relative;
            top: -24%;
            margin: -77% 0;
        }
.right{
    .smallCard:nth-child(odd){
        .BB_s{
            left: -31%;
            @include bbsmin;
        }
    }
    .smallCard:nth-child(even){
        .BB_s{
            @include bbsmin;
            left: 70%;
        }
    }
}
.left{
    .smallCard:nth-child(odd){
        .BB_s{
            @include bbsmin;
            left: -31%;
        }
    }
    .smallCard:nth-child(even){
        .BB_s{
            @include bbsmin;
            left: 70%;
        }
    }
}
.gameCard_num.booned.white,.big_card__BB_skill.booned{
    text-shadow: 0 0 1px rgb(0, 204, 255), 0 0 2px rgb(0, 255, 191), 0 0 3px rgb(0, 255, 179);
    color:rgb(0, 0, 31);
}
.gameCard_num.blighted.white,.big_card__BB_skill.blighted{
    text-shadow: 0 0 1px rgb(114, 33, 1), 0 0 2px rgb(117, 34, 1), 0 0 3px rgb(155, 1, 134);
    color:rgb(39, 2, 2);
}
.gameCard_num.booned.black,.big_card__BB_skill.booned{
    text-shadow: 0 0 1px rgb(0, 204, 255), 0 0 2px rgb(0, 255, 191), 0 0 3px rgb(0, 255, 179);
    color:rgb(194, 230, 255);
}
.gameCard_num.blighted.black,.big_card__BB_skill.blighted{
    text-shadow: 0 0 1px rgb(114, 33, 1), 0 0 2px rgb(117, 34, 1), 0 0 3px rgb(155, 1, 134);
    color:rgb(255, 236, 236);
}
.miniGameCard.black.left.activatingShow{
    background: rgb(0,4,36);
    background: linear-gradient(90deg, 
        rgba(0,4,36,1) 0%,
        rgba(77,78,93,0.7) 33%, 
        rgba(62,63,73,0.5) 73%, 
        rgba(83,85,98,0) 100%); 
}
.miniGameCard.white.left.activatingShow{
    background: rgb(165,166,177);
    background: linear-gradient(90deg, 
        rgba(165,166,177,1) 0%, 
        rgba(131,133,156,0.7) 33%, 
        rgba(104,106,126,.5) 73%,
        rgba(83,85,98,0) 100%
    ); 
}
.miniGameCard.black.right.activatingShow{
    background: rgb(0,4,36);
    background: linear-gradient(90deg, 
        rgba(0,4,36,0) 0%, 
        rgba(77,78,93,0.5) 33%, 
        rgba(62,63,73,0.7) 73%, 
        rgba(83,85,98,1) 100%
    ); 
}
.miniGameCard.white.right.activatingShow{
    background: rgb(177, 170, 165);
    background: linear-gradient(90deg, 
        rgba(165,166,177,0) 0%, 
        rgba(121,123,140,0.5) 33%, 
        rgba(173,173,173,0.7) 73%, 
        rgba(196,196,196,1) 100%
    ); 
}


.miniGameCard.black.left.nonActivShow{
    background: rgb(0,4,36);
    background: linear-gradient(90deg, 
        rgba(0,4,36,.5) 0%,
        rgba(77,78,93,0.35) 33%, 
        rgba(62,63,73,0.05) 73%, 
        rgba(83,85,98,0) 100%); 
}
.miniGameCard.white.left.nonActivShow{
    background: rgb(165,166,177);
    background: linear-gradient(90deg, 
        rgba(165,166,177,.5) 0%, 
        rgba(131,133,156,0.35) 33%, 
        rgba(104,106,126,0.05) 73%,
        rgba(83,85,98,0) 100%
    ); 
}
.miniGameCard.black.right.nonActivShow{
    background: rgb(0,4,36);
    background: linear-gradient(90deg, 
        rgba(0,4,36,0) 0%, 
        rgba(77,78,93,0.05) 33%, 
        rgba(62,63,73,0.35) 73%, 
        rgba(83,85,98,.5) 100%
    ); 
}
.miniGameCard.white.right.nonActivShow{
    background: rgb(177, 170, 165);
    background: linear-gradient(90deg, 
        rgba(165,166,177,0) 0%, 
        rgba(121,123,140,0.05) 33%, 
        rgba(173,173,173,0.35) 73%, 
        rgba(196,196,196,.5) 100%
    ); 
}
@mixin sacrificial ($bb){
    background-image: url("../img/"+$bb+".svg");
    width: 100%;
    height: 158%;
    position: relative;
    top: -32%;
    left: 0;
    background-size: cover;
    z-index: 4;
    margin-bottom: -100%;
    opacity: .7;
}
.sacrifice.aim{
    .bb_HUD{
        @include sacrificial('aimBoon')
    }
}
.sacrifice.damage{
    .bb_HUD{
        @include sacrificial('damageBlight')
    }
}