.deployPhase {
  background-image: url("../img/empty_white_hex.png");
}

.clashPhase, .endPhase {
  background-image: url("../img/empty_black_hex.png");
}

.plotPhase {
  background-image: url("../img/empty_white_hex.png");
}
