#waiter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

#waiter_list {
  height: 98vh;
  width: 43vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#spinner1, #spinner2 {
  width: 25vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.waiter_segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35vw;
  height: 15vh;
}

.waiter_segment:nth-child(2n) {
  margin-left: -3vw;
}

.waiter_segment:nth-child(2n+1) {
  margin-left: 3vw;
}

.waiting_hex {
  position: relative;
  width: 14.28571vh;
  height: 8.24857vh;
  margin: 2.55286vh 0;
  background-size: auto 14.18631vh;
  background-position: center;
  border-left: solid 1vh #333333;
  border-right: solid 1vh #333333;
}

.waiting_hex:after {
  content: "";
  position: absolute;
  top: 0.57736vh;
  left: 0;
  width: 12.28571vh;
  height: 7.09286vh;
  z-index: 2;
  background: inherit;
}

.waiting_hex img {
  height: 16.66643vh;
  width: 15vh;
  position: relative;
  top: -4.89429vh;
  left: -1.27677vh;
  z-index: 2;
}

.waiting_hex .top, .waiting_hex .bottom {
  position: absolute;
  z-index: 1;
  width: 10.10143vh;
  height: 10.10143vh;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 1.09143vh;
}

.waiting_hex .top:before, .waiting_hex .top:after, .waiting_hex .bottom:before, .waiting_hex .bottom:after {
  content: "";
  position: absolute;
  width: 12.28571vh;
  height: 7.09286vh;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
  transform: rotate(45deg) scaleY(1.7321) translateY(-3.54659vh);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.waiting_hex .top {
  top: -5.05076vh;
  border-top: solid 1.41421vh #333333;
  border-right: solid 1.41421vh #333333;
}

.waiting_hex .top:after {
  background-position: center top;
}

.waiting_hex .bottom {
  bottom: -5.05076vh;
  border-bottom: solid 1.41421vh #333333;
  border-left: solid 1.41421vh #333333;
}

.waiting_hex .bottom:after {
  background-position: center bottom;
}

.waiting_name {
  border-top: 1vh solid black;
  border-bottom: 1vh solid black;
  width: 18vw;
  margin: 0 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #13aae6;
  text-shadow: 0 0 2px black;
  border: none;
  border-left: 0;
  border-right: 0;
  border-radius: 5%;
  text-align: center;
  font-size: 130%;
  font-weight: 500;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}

.loader {
  position: relative;
  margin: 0;
  width: 30vh;
  height: 30vh;
  display: block;
  overflow: hidden;
}

.loader div {
  height: 100%;
}

/* loader 1 */
.loader1, .loader1 div {
  border-radius: 50%;
  padding: .08vh;
  border: 2px solid transparent;
  -webkit-animation: rotate linear 3.5s infinite;
          animation: rotate linear 3.5s infinite;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 255, 0.5);
}

/*loader 2  */
.loader2, .loader2 div {
  border-radius: 50%;
  padding: .08vh;
  border: 2px solid transparent;
  -webkit-animation: rotate linear 3.5s infinite;
          animation: rotate linear 3.5s infinite;
  border-top-color: rgba(0, 0, 255, 0.5);
  border-left-color: rgba(0, 0, 0, 0.5);
  border-right-color: rgba(0, 0, 0, 0.5);
}

/*loader 3  */
.loader3, .loader3 div {
  border-radius: 50%;
  padding: .08vh;
  border: 2px solid transparent;
  -webkit-animation: rotate linear 3.5s infinite;
          animation: rotate linear 3.5s infinite;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-left-color: rgba(0, 0, 255, 0.5);
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.38, 0.21, 0.88);
          animation-timing-function: cubic-bezier(0.55, 0.38, 0.21, 0.88);
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

/* loader 4 */
.loader4, .loader4 div {
  border-radius: 50%;
  padding: .08vh;
  border: 2px solid transparent;
  -webkit-animation: rotate linear 3.5s infinite;
          animation: rotate linear 3.5s infinite;
  border-radius: 50%;
  padding: .04vh;
  -webkit-animation: rotate2 4s infinite linear;
          animation: rotate2 4s infinite linear;
}

div:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.loader, .loader * {
  will-change: transform;
}

.backfield_glow {
  -webkit-animation: GlossPulsating-Fishermen 4s infinite alternate;
          animation: GlossPulsating-Fishermen 4s infinite alternate;
}

@-webkit-keyframes GlossPulsating-Fishermen {
  0% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(12%, rgba(4, 4, 16, 0.702)), color-stop(71%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(48%, rgba(4, 4, 16, 0.702)), color-stop(89%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 12%, rgba(10, 15, 46, 0.702) 71%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 48%, rgba(10, 15, 46, 0.702) 89%);
  }
  50% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(12%, rgba(4, 4, 16, 0.702)), color-stop(71%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(48%, rgba(4, 4, 16, 0.702)), color-stop(89%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 12%, rgba(10, 15, 46, 0.702) 71%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 48%, rgba(10, 15, 46, 0.702) 89%);
  }
  53% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(14%, rgba(4, 4, 16, 0.702)), color-stop(72%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(46%, rgba(4, 4, 16, 0.702)), color-stop(88%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 14%, rgba(10, 15, 46, 0.702) 72%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 46%, rgba(10, 15, 46, 0.702) 88%);
  }
  56% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(16%, rgba(4, 4, 16, 0.702)), color-stop(73%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(44%, rgba(4, 4, 16, 0.702)), color-stop(87%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 16%, rgba(10, 15, 46, 0.702) 73%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 44%, rgba(10, 15, 46, 0.702) 87%);
  }
  59% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(18%, rgba(4, 4, 16, 0.702)), color-stop(74%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(42%, rgba(4, 4, 16, 0.702)), color-stop(86%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 18%, rgba(10, 15, 46, 0.702) 74%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 42%, rgba(10, 15, 46, 0.702) 86%);
  }
  62% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(20%, rgba(4, 4, 16, 0.702)), color-stop(75%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(40%, rgba(4, 4, 16, 0.702)), color-stop(85%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 20%, rgba(10, 15, 46, 0.702) 75%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 40%, rgba(10, 15, 46, 0.702) 85%);
  }
  65% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(22%, rgba(4, 4, 16, 0.702)), color-stop(76%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(38%, rgba(4, 4, 16, 0.702)), color-stop(84%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 22%, rgba(10, 15, 46, 0.702) 76%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 38%, rgba(10, 15, 46, 0.702) 84%);
  }
  68% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(24%, rgba(4, 4, 16, 0.702)), color-stop(77%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(36%, rgba(4, 4, 16, 0.702)), color-stop(83%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 24%, rgba(10, 15, 46, 0.702) 77%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 36%, rgba(10, 15, 46, 0.702) 83%);
  }
  71% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(26%, rgba(4, 4, 16, 0.702)), color-stop(78%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(34%, rgba(4, 4, 16, 0.702)), color-stop(82%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 26%, rgba(10, 15, 46, 0.702) 78%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 34%, rgba(10, 15, 46, 0.702) 82%);
  }
  74% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(28%, rgba(4, 4, 16, 0.702)), color-stop(79%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(32%, rgba(4, 4, 16, 0.702)), color-stop(80%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 28%, rgba(10, 15, 46, 0.702) 79%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 32%, rgba(10, 15, 46, 0.702) 80%);
  }
  77% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(30%, rgba(4, 4, 16, 0.702)), color-stop(80%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(30%, rgba(4, 4, 16, 0.702)), color-stop(79%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 30%, rgba(10, 15, 46, 0.702) 80%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 30%, rgba(10, 15, 46, 0.702) 79%);
  }
  80% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(32%, rgba(4, 4, 16, 0.702)), color-stop(81%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(28%, rgba(4, 4, 16, 0.702)), color-stop(78%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 32%, rgba(10, 15, 46, 0.702) 81%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 28%, rgba(10, 15, 46, 0.702) 78%);
  }
  82% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(34%, rgba(4, 4, 16, 0.702)), color-stop(82%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(26%, rgba(4, 4, 16, 0.702)), color-stop(77%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 34%, rgba(10, 15, 46, 0.702) 82%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 26%, rgba(10, 15, 46, 0.702) 77%);
  }
  84% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(36%, rgba(4, 4, 16, 0.702)), color-stop(83%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(24%, rgba(4, 4, 16, 0.702)), color-stop(76%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 36%, rgba(10, 15, 46, 0.702) 83%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 24%, rgba(10, 15, 46, 0.702) 76%);
  }
  86% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(38%, rgba(4, 4, 16, 0.702)), color-stop(84%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(22%, rgba(4, 4, 16, 0.702)), color-stop(75%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 38%, rgba(10, 15, 46, 0.702) 84%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 22%, rgba(10, 15, 46, 0.702) 75%);
  }
  88% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(40%, rgba(4, 4, 16, 0.702)), color-stop(85%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(20%, rgba(4, 4, 16, 0.702)), color-stop(74%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 40%, rgba(10, 15, 46, 0.702) 85%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 20%, rgba(10, 15, 46, 0.702) 74%);
  }
  90% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(42%, rgba(4, 4, 16, 0.702)), color-stop(86%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(18%, rgba(4, 4, 16, 0.702)), color-stop(73%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 42%, rgba(10, 15, 46, 0.702) 86%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 18%, rgba(10, 15, 46, 0.702) 73%);
  }
  92% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(44%, rgba(4, 4, 16, 0.702)), color-stop(87%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(16%, rgba(4, 4, 16, 0.702)), color-stop(72%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 44%, rgba(10, 15, 46, 0.702) 87%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 16%, rgba(10, 15, 46, 0.702) 72%);
  }
  94% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(46%, rgba(4, 4, 16, 0.702)), color-stop(88%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(14%, rgba(4, 4, 16, 0.702)), color-stop(71%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 46%, rgba(10, 15, 46, 0.702) 88%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 14%, rgba(10, 15, 46, 0.702) 71%);
  }
  96% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(48%, rgba(4, 4, 16, 0.702)), color-stop(89%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(12%, rgba(4, 4, 16, 0.702)), color-stop(71%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 48%, rgba(10, 15, 46, 0.702) 89%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 12%, rgba(10, 15, 46, 0.702) 71%);
  }
  98% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(50%, rgba(4, 4, 16, 0.702)), color-stop(90%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(10%, rgba(4, 4, 16, 0.702)), color-stop(70%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 50%, rgba(10, 15, 46, 0.702) 90%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 10%, rgba(10, 15, 46, 0.702) 70%);
  }
  100% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(50%, rgba(4, 4, 16, 0.702)), color-stop(90%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(10%, rgba(4, 4, 16, 0.702)), color-stop(70%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 50%, rgba(10, 15, 46, 0.702) 90%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 10%, rgba(10, 15, 46, 0.702) 70%);
  }
}

@keyframes GlossPulsating-Fishermen {
  0% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(12%, rgba(4, 4, 16, 0.702)), color-stop(71%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(48%, rgba(4, 4, 16, 0.702)), color-stop(89%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 12%, rgba(10, 15, 46, 0.702) 71%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 48%, rgba(10, 15, 46, 0.702) 89%);
  }
  50% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(12%, rgba(4, 4, 16, 0.702)), color-stop(71%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(48%, rgba(4, 4, 16, 0.702)), color-stop(89%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 12%, rgba(10, 15, 46, 0.702) 71%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 48%, rgba(10, 15, 46, 0.702) 89%);
  }
  53% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(14%, rgba(4, 4, 16, 0.702)), color-stop(72%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(46%, rgba(4, 4, 16, 0.702)), color-stop(88%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 14%, rgba(10, 15, 46, 0.702) 72%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 46%, rgba(10, 15, 46, 0.702) 88%);
  }
  56% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(16%, rgba(4, 4, 16, 0.702)), color-stop(73%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(44%, rgba(4, 4, 16, 0.702)), color-stop(87%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 16%, rgba(10, 15, 46, 0.702) 73%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 44%, rgba(10, 15, 46, 0.702) 87%);
  }
  59% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(18%, rgba(4, 4, 16, 0.702)), color-stop(74%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(42%, rgba(4, 4, 16, 0.702)), color-stop(86%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 18%, rgba(10, 15, 46, 0.702) 74%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 42%, rgba(10, 15, 46, 0.702) 86%);
  }
  62% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(20%, rgba(4, 4, 16, 0.702)), color-stop(75%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(40%, rgba(4, 4, 16, 0.702)), color-stop(85%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 20%, rgba(10, 15, 46, 0.702) 75%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 40%, rgba(10, 15, 46, 0.702) 85%);
  }
  65% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(22%, rgba(4, 4, 16, 0.702)), color-stop(76%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(38%, rgba(4, 4, 16, 0.702)), color-stop(84%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 22%, rgba(10, 15, 46, 0.702) 76%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 38%, rgba(10, 15, 46, 0.702) 84%);
  }
  68% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(24%, rgba(4, 4, 16, 0.702)), color-stop(77%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(36%, rgba(4, 4, 16, 0.702)), color-stop(83%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 24%, rgba(10, 15, 46, 0.702) 77%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 36%, rgba(10, 15, 46, 0.702) 83%);
  }
  71% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(26%, rgba(4, 4, 16, 0.702)), color-stop(78%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(34%, rgba(4, 4, 16, 0.702)), color-stop(82%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 26%, rgba(10, 15, 46, 0.702) 78%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 34%, rgba(10, 15, 46, 0.702) 82%);
  }
  74% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(28%, rgba(4, 4, 16, 0.702)), color-stop(79%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(32%, rgba(4, 4, 16, 0.702)), color-stop(80%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 28%, rgba(10, 15, 46, 0.702) 79%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 32%, rgba(10, 15, 46, 0.702) 80%);
  }
  77% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(30%, rgba(4, 4, 16, 0.702)), color-stop(80%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(30%, rgba(4, 4, 16, 0.702)), color-stop(79%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 30%, rgba(10, 15, 46, 0.702) 80%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 30%, rgba(10, 15, 46, 0.702) 79%);
  }
  80% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(32%, rgba(4, 4, 16, 0.702)), color-stop(81%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(28%, rgba(4, 4, 16, 0.702)), color-stop(78%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 32%, rgba(10, 15, 46, 0.702) 81%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 28%, rgba(10, 15, 46, 0.702) 78%);
  }
  82% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(34%, rgba(4, 4, 16, 0.702)), color-stop(82%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(26%, rgba(4, 4, 16, 0.702)), color-stop(77%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 34%, rgba(10, 15, 46, 0.702) 82%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 26%, rgba(10, 15, 46, 0.702) 77%);
  }
  84% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(36%, rgba(4, 4, 16, 0.702)), color-stop(83%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(24%, rgba(4, 4, 16, 0.702)), color-stop(76%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 36%, rgba(10, 15, 46, 0.702) 83%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 24%, rgba(10, 15, 46, 0.702) 76%);
  }
  86% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(38%, rgba(4, 4, 16, 0.702)), color-stop(84%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(22%, rgba(4, 4, 16, 0.702)), color-stop(75%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 38%, rgba(10, 15, 46, 0.702) 84%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 22%, rgba(10, 15, 46, 0.702) 75%);
  }
  88% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(40%, rgba(4, 4, 16, 0.702)), color-stop(85%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(20%, rgba(4, 4, 16, 0.702)), color-stop(74%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 40%, rgba(10, 15, 46, 0.702) 85%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 20%, rgba(10, 15, 46, 0.702) 74%);
  }
  90% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(42%, rgba(4, 4, 16, 0.702)), color-stop(86%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(18%, rgba(4, 4, 16, 0.702)), color-stop(73%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 42%, rgba(10, 15, 46, 0.702) 86%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 18%, rgba(10, 15, 46, 0.702) 73%);
  }
  92% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(44%, rgba(4, 4, 16, 0.702)), color-stop(87%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(16%, rgba(4, 4, 16, 0.702)), color-stop(72%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 44%, rgba(10, 15, 46, 0.702) 87%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 16%, rgba(10, 15, 46, 0.702) 72%);
  }
  94% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(46%, rgba(4, 4, 16, 0.702)), color-stop(88%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(14%, rgba(4, 4, 16, 0.702)), color-stop(71%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 46%, rgba(10, 15, 46, 0.702) 88%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 14%, rgba(10, 15, 46, 0.702) 71%);
  }
  96% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(48%, rgba(4, 4, 16, 0.702)), color-stop(89%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(12%, rgba(4, 4, 16, 0.702)), color-stop(71%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 48%, rgba(10, 15, 46, 0.702) 89%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 12%, rgba(10, 15, 46, 0.702) 71%);
  }
  98% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(50%, rgba(4, 4, 16, 0.702)), color-stop(90%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(10%, rgba(4, 4, 16, 0.702)), color-stop(70%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 50%, rgba(10, 15, 46, 0.702) 90%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 10%, rgba(10, 15, 46, 0.702) 70%);
  }
  100% {
    background: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(50%, rgba(4, 4, 16, 0.702)), color-stop(90%, rgba(10, 15, 46, 0.702))), -webkit-gradient(linear, right top, left bottom, from(blue), color-stop(10%, rgba(4, 4, 16, 0.702)), color-stop(70%, rgba(10, 15, 46, 0.702)));
    background: linear-gradient(to top right, blue 0%, rgba(4, 4, 16, 0.702) 50%, rgba(10, 15, 46, 0.702) 90%), linear-gradient(to bottom left, blue 0%, rgba(4, 4, 16, 0.702) 10%, rgba(10, 15, 46, 0.702) 70%);
  }
}
/*# sourceMappingURL=waiterSegment.css.map */